{% extends "template_3.html" %}
{% load tree_tags %}

{% block body_load %}class="contact"{% endblock %}

{% block tophead %}
	<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2&mkt=en-us"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}openlayers/proj4js-compressed.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}openlayers/defs/EPSG102100.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}openlayers/defs/EPSG4326.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}openlayers/OpenLayers.js"></script>
	<script src="http://maps.google.com/maps/api/js?v=3.2&amp;sensor=false"></script>

{% endblock %}

{% block body_id %}id="tree_new"{% endblock %}

{% block extrahead %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript">
        jQuery().ready(function() {
            tm.init_new_map({{user.id|default:""}});
        });
    </script>
{% endblock %}

{% block left_panel %}
<div id="register" class="added">

    <h1>Recently added trees </h1>
	<div id="addedTrees">
		<!-- PLACEHOLDER TREE MAP -->
	    <div id="add_tree_map"></div>
        <div class='clearBoth'>        </div>
        <table>
        <tr><th> </th><th>Scientific Name</th><th>Common Name</th><th>Diameter</th><th>Address</th></tr>
        {% for tree in trees %}
            <tr>
			                <td><a href="{% url treemap.views.trees tree.id %}" class="buttonSmall">View Details</a></td>     
                <td><i>{{tree.species.scientific_name|default:""}}</i></td>
                <td>{{tree.species.common_name|default:""}}</td>
                <td>{{tree.dbh|unit_or_empty:'inches'}}</td>
                <td>{{tree.address_street}} {{tree.address_city}}, {{tree.neighborhood.all.0.state}} {{tree.address_zip}}</td>
      
		   </tr>
        {% empty %}
            <tr><td colspan="5">No trees added in the last 12 hours. </td></tr>
        {% endfor %}
        </table>
	</div>
</div>
{% endblock %}

{% block right_panel %}
	<div id="add_more_trees">
		<h2>Add more trees</h2>
		<span>Have more trees you'd like to enter?</span><br/><br/>
		<div class="mark"><a href="{% url treemap.views.tree_add %}" class="buttonMed">Add a tree</a></div>
	</div>
{% endblock right_panel %}
