{% extends "base.html" %}

{% load pagination_tags %}
{% load sorting_tags %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/tablesorter/style.css" media="screen" />

{% endblock %}

{% block body_id %}id="user_edit"{% endblock %}

{% block content %}

{% autosort rep %}
{% autopaginate rep 20 %}

<div class="content admin">
	<div class="admin-header">
		<h2>User Activity</h2>
		{% include "treemap/admin_nav.html" %}
		<div class="clearBoth"></div>
	</div>
	<div id='instructions'><b>Instructions:</b> This page provides an overview of recent user activity in different categories. Click column headings to sort all records. </div>
	{% paginate %}
	<div id="user_list">
		<table id="user_list_table">
			<thead>
				<tr>
					<th>{% anchor user Username %}</th>
					<th>{% anchor date Date %}</th>
					<th>{% anchor new 'New Trees' %}</th>
					<th>{% anchor update 'Tree Updates' %}</th>
				</tr>
			</thead>
			<tbody>
				{% for u in rep %}
					<tr>
						<td><a href="/profiles/{{u.user}}/">{{ u.user }}</a></td>
						<td>{{ u.date|date:"M d, Y" }}</td>
						<td>{{ u.new }}</td>
						<td>{{ u.update }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% paginate %}
</div>


{% endblock %}
