{% extends "template_3.html" %}

{% block body_load %}class="contact"{% endblock %}

{% block tophead %}
	<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2&mkt=en-us"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}openlayers/proj4js-compressed.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}openlayers/defs/EPSG102100.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}openlayers/defs/EPSG4326.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}openlayers/OpenLayers.js"></script>
	<script src="http://maps.google.com/maps/api/js?v=3.2&amp;sensor=false"></script>

{% endblock %}

{% block body_id %}id="tree_add"{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript">
    jQuery().ready(function() {
        tm.init_add_map();
        jQuery("#mapHolder").hide();
        jQuery("#calloutContainer").hide();
        jQuery("#opt_field_group").hide();
        jQuery("#addTree").submit(function(evt) {
        	tm.trackEvent("Add", "Add Tree");
        });
        jQuery("#id_edit_address_street").focus(function() {
        	if(jQuery("#id_edit_address_street")[0].value == "Enter an Address or Intersection") {
        		jQuery("#id_edit_address_street")[0].value = "";
        	}
        });
        jQuery("#id_edit_address_city").focus(function() {
        	if(jQuery("#id_edit_address_city")[0].value == "Enter a City") {
        		jQuery("#id_edit_address_city")[0].value = "";
        	}
        });
        jQuery("#id_species_name").focus(function() {
        	if(jQuery("#id_species_name")[0].value == "Enter a Species Name") {
        		jQuery("#id_species_name")[0].value = "";
        	}
        });
        jQuery("#opt_field_group input").focus(function() {
        	if(this.value == "inches" || this.value == "feet") {
        		this.value = "";
        	}
        });

        if (jQuery("#id_edit_address_street")[0].value != "Enter an Address or Intersection") {
            jQuery("#update_map").click();
        }   
        jQuery("#id_dbh_type_0").attr('checked', 'checked');

        jQuery("#opt_field_toggle").click(function() {
            jQuery("#opt_field_group").toggle();



            tm.setupAutoComplete($('#id_species_name')).result(function(event, item) {
                $("#id_species_id").val(item.symbol).change();
            });




        });
        jQuery("#id_dbh_type_0").attr('checked', 'checked');
        jQuery("#id_target_2").attr('checked', 'checked');

    });
</script>
{% endblock %}


{% block left_panel %}
{% if messages %}
<div id="messages">
{% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    <div>You can add another tree below. <a href="{% url treemap.views.result_map %}">Done?</a></div>
{% endfor %}
</div>
{% endif %}
<div id="register" class="add">

    <h1>Add a New Tree <span class="note"></span></h1>

    {% if form.errors %}
    <div id="genError"><b>Oops!</b> There was a problem.<br />
        {% if form.non_field_errors %}
            <span id="smError">{{ form.non_field_errors }} </span></div>
        {% else %}
            <span id="smError">Error are noted in red below.</span></div>
        {% endif %}
    {% endif %}

    <form id="addTree" action="." method="POST">
    <fieldset>
	<div id="step1">
	<label class="required" {% if form.edit_address_street.errors %}id="error"{% endif %}>Step 1
    </label>
    {{ form.edit_address_street }}
    </div>
    <div id="step1">
    {{ form.edit_address_city }}
	<a href="javascript:void(0)" id="update_map" class="buttonMed">View Map</a>
	</div>



	<div id="mapHolder">

	    <div class="clearLeft" id="step2">
		    <label class="required">Step 2</label>
		    <span class="value">Specify Placement</span>
		    <div class="clearLeft"></div>
	    </div>

            <div id="mapHolderDirections">Click-and-drag the orange circle to move it to the correct location.</div>
        <div id="add_tree_map" class="addMap">
		    <div id="geocode_address"></div>
		    <div class="shadowLeft"></div>
		    <div class="shadowTop"></div>
	    </div>
	    <div id="add_tree_nearby">
		    <h1 class="title-edit">Nearby Trees</h1>
		    <div id="nearby_trees">Enter an address to begin.</div>
	    </div>

	    <div class="clearLeft" id="step3">
            <label class="required">Step 3 </label>
	        <span class="value"><a href="javascript:void(0);" id="opt_field_toggle">Enter Additional Information ></a></span>
            <div id="opt_field_group">
                <span class="small"><a id="treekey" href="{% url treekey.views.first_node %}" target="_blank">Not sure what kind of tree it is? Find out in the Tree Key</a></span>
                <label class="opt_fields">{{form.species_name.label}}</label>{{ form.species_name }}
                <div class="clearLeft"></div>
                <label class="opt_fields">{{form.dbh.label}}</label>{{ form.dbh }}
                <div class="clearLeft"></div>
                <label class="opt_fields"> </label><div id="dbh_type">{{ form.dbh_type }}</div>
                <div class="clearLeft"></div>
                <label class="opt_fields">{{form.height.label}}</label>{{ form.height }}
                <div class="clearLeft"></div>
                <label class="opt_fields">{{form.plot_length.label}}</label>{{ form.plot_length }}{{ form.plot_length_in }}
                <div class="clearLeft"></div>
                <label class="opt_fields">{{form.plot_width.label}}</label>{{ form.plot_width }}{{ form.plot_width_in }}
                <div class="clearLeft"></div>
                <label class="opt_fields">{{form.plot_type.label}}</label>{{ form.plot_type }}
                <div class="clearLeft"></div>
                <label class="opt_fields">{{form.power_lines.label}}</label>{{ form.power_lines }}
                <div class="clearLeft"></div>
                <label class="opt_fields">{{form.sidewalk_damage.label}}</label>{{ form.sidewalk_damage }}
            </div>
        </div> 
        <div class="clearLeft"></div>
        <div class="clearLeft" id="step4">
		    <label class="required">Step 4</label>
            <span class="value">After I add this tree... </span>
		    <div class="clearLeft">
                {{ form.target }} 
            </div>
            <div class="clearLeft"></div>
            <button type="submit" class="buttonMed">Add this Tree!</button>
	    </div>

	</div>


	<!-- Hidden fields -->

    {{ form.species_id }}
    {{ form.lat }}
    {{ form.lon }}
    {{ form.edit_address_zip }}
    {{ form.geocode_address }}
    {{ form.initial_map_location }}


    </fieldset>
    </form>
    </div>

    {% endblock %}

    {% block right_panel %}

    {% endblock right_panel %}

