{% extends "infowindow.html" %}

{% load tree_tags %}

{% block tophead %}
<script type="text/javascript">
	jQuery().ready(function() {
		if (jQuery("#address").html() == "Missing") {
			latlng = new google.maps.LatLng({{ tree.geometry.y }}, {{ tree.geometry.x }})
			tm.geocoder.geocode({
				latLng: latlng
			}, function(results, status){
				if (status == google.maps.GeocoderStatus.OK) {
					jQuery("#address").html(results[0].formatted_address.split(", ")[0])
				}
			});
		}
	});
	function fav_click(evt) {
		var pk = $('a.favorite').attr('id').replace('favorite_', '');
		var url = '/trees/favorites/create/' + pk + '/';
		var url2 = '/trees/favorites/delete/' + pk + '/';
		if ($('a.favorite').hasClass('fave')) {
			$.getJSON(url, function(data, textStatus) {
				$('#favorite_' + pk).removeClass('fave').addClass('unfave').text('Remove as favorite');
			});
		}
		else
		{
			$.getJSON(url2, function(data, textStatus) {
				$('#favorite_' + pk).removeClass('unfave').addClass('fave').text('Add as favorite');
			});
		}

		return false;
	}
</script>
{% endblock %}



{% block left_panel %}

<div class="infoWindowCommonName">{{ tree.species.common_name }}</div>
<div class="infoWindowSpecies">{{ tree.species.scientific_name|default:"No Species Yet" }}</div>
        

<ul id="optionList">
	<li id="details"><a href="/trees/{{tree.id}}">View all details</a></li>
	<li id="note">Tree's profile page</li>
	<li id="edit"><a href="/trees/{{tree.id}}/edit/">Edit details</a></li>
	<li id="note">Tree's edit page</li>
    {% if user.is_authenticated %}



        {% if favorite %}
            <li id="fav">Favorited (<a href="javascript:void(0);" onClick="fav_click()" id="favorite_{{ tree.id }}"
             class="favorite fav unfave">Unfavorite</a>)</li>
        {% else %}
		    <li id="fav">
            <a href="javascript:void(0);" onClick="fav_click()" id="favorite_{{ tree.id }}"
             class="favorite fav fave">Add as favorite</a>
			 </li>
            {% if tree.treefavorite_set.all.count %}
             <li id="note">  ({{tree.treefavorite_set.all.count}} others have)</li>
            {% endif %}
        {% endif %}

    </li>
	{% endif %}
	
</ul>	
	


<div class="infoWindowDetails">
<div class="infoLabel">Nearby address</div>
<div class="infoValue">{{ tree.address_street|default:"Missing" }}</div>

<div class="col1">
  <div class="infoLabel">Trunk diameter</div>
  <div class="infoValue">{{ tree.current_dbh|unit_or_missing:"in" }}</div>
</div>

<div class="col2">
	<div class="infoLabel">Height</div>
	<div class="infoValue">{{ tree.get_height|unit_or_missing:"ft" }}</div>
</div>

<div class="col1 clearLeft">
	<div class="infoLabel">Last updated</div>
	<div class="infoValue">{{ tree.last_updated|date }}</div>
</div>

<div class="col2">
	<div class="infoLabel">Yearly eco impact</div>
	<div class="infoValue">{% if tree.get_eco_impact %}${{ tree.get_eco_impact }}{% else %}Not Available{% endif %}</div>
</div>



	        {% if tree.treealert_set.all.count > 0 %}
        <tr>
        	<td class="col1">Alerts</td>
            <td>
                <a href="{% url treemap_tree_detail tree.id %}#status">Yes</a>
            </td>
        </tr>
        {% endif %}

</div>

	<!-- TODO -->
	<!--
	<li id="email"><a href="#">Email to a friend</a></li>
	<li id="twitter"><a href="#">Tweet this tree</a></li>
	-->

{% endblock %}

{% block right_panel %}





{% endblock %}
