{% extends "template_2.html" %}

{% load thumbnail dynamic_attribute %}

{% block body_id %}id="tree_edit"{% endblock %}

{% block extrahead %}	    
    {% load compressed %}
    {% compressed_js 'map' %}

	    <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2&mkt=en-us"></script>
{% endblock %}

{% block content_body_top %}
<div id="edit-tree-header"><h1 class="floatLeft">Edit Info</h1><a href="../" class="buttonMed floatRight"><span class="icon iconTreeDetail"></span><span class="label">View Details</span></a></div>

	<!-- start contentbody -->
		<div id="contentbody">
			<h2 id="pageHead">
			{% if tree.get_common_name == "unavailable" %}
			    Species Not Yet Determined
		    {% else %}
			    {{tree.get_common_name}}
		    {% endif %}
			</h2>
			<div class="tab-content" id="tab-2">
				<div class="wrap">
{% endblock %}


  {% block middle_panel %}
          <div class="data">

            <div class="wrap">

<table class="box-table-a">
<tbody>

{% if tree %}

    <thead>
    	<tr>
        	<th scope="col" colspan="4">General tree information</th>
        </tr>
    </thead>
    <tr>
    	<td class="col1 activeEditRowLabel">Scientific name <br><a id="treekey" href="{% url treekey.views.first_node %}" title="Not sure what kind of tree it is?" target="_blank">View the Tree Key</a></td>
        <td class="activeEditRowValue" id="edit_species_id">{{ tree.species.scientific_name|default:"Click to edit" }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_species_id').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
        <script>tm.setupEdit("species_id", "Tree", {{tree.id}}, {type: 'autocomplete_species'});</script>
    </tr>
    <tr>
    	<td class="col1 activeEditRowLabel">Common name</td>
        <td class="activeEditRowValue" id="edit_species">{{ tree.species.common_name|default:"" }}</td>
        <td></td>
    </tr>
    <tr>
    	<td class="col1">Tree diameter (inches)<a href="{{ SITE_ROOT }}faq/#measure" title="Not sure how to measure this?" target="_blank">(?)</a></td>
        <td id="edit_dbh">{{ tree.dbh|add:" in"|default:"Click icon to edit" }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="tm.editDiameter('#edit_dbh', '{{tree.dbh}}'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
        <script>var val = $("#edit_dbh").html(); if (val) { val = parseFloat(val); } if (val) { $("#edit_dbh").html(val.toFixed(1)) };</script>
    </tr> 
    {% if user.reputation.reputation > 1000 %}
	<tr>
    	<td class="col1 activeEditRowLabel">Tree height (feet)</td>
        <td class="activeEditRowValue" id="edit_height">{{ tree.height|default:"Click to edit"  }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_height').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
            <script>tm.setupEdit("height", "Tree", {{tree.id}});</script>
    </tr> 
	<tr>
    	<td class="col1 activeEditRowLabel">Canopy height (feet)</td>
        <td class="activeEditRowValue" id="edit_canopy_height">{{ tree.canopy_height|default:"Click to edit"  }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_canopy_height').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
            <script>tm.setupEdit("canopy_height", "Tree", {{tree.id}});</script>
    </tr>
    {% endif %}
    <tr>
    	<td class="col1 activeEditRowLabel">Date Planted</td>
        <td class="activeEditRowValue" id="edit_date_planted">{{ tree.date_planted|default:"Click to edit"}}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_date_planted').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
        <script>tm.setupEdit("date_planted", "Tree", {{tree.id}}, {type: 'date'});</script>
    </tr>

{% else %}
    <thead>
    	<tr>
        	<th scope="col" colspan="4">No tree information for this plot. <a href="#" onclick="tm.addTreeToPlot({{plot.id}}); return false;">Add a tree here?</a></th>
        </tr>
    </thead>
{% endif %}


    <thead>
    	<tr>
        	<th scope="col" colspan="4">Environment</th>
        </tr>
    </thead>
	<tr>
    	<td class="col1 activeEditRowLabel">Nearby Street Address</td>
        <td class="activeEditRowValue" id="edit_address_street">{{ plot.address_street }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_address_street).trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
            <script>tm.setupEdit("address_street", "Plot", {{plot.id}});</script>
    </tr>
	<tr>
    	<td class="col1 activeEditRowLabel">Plot length (feet)</td>
        <td class="activeEditRowValue" id="edit_length">{{ plot.length|default:"Click to edit" }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_length').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
        <script>tm.setupEdit("length", "Plot", {{plot.id}});</script>
    </tr>
	<tr>
    	<td class="col1 activeEditRowLabel">Plot width (feet)</td>
        <td class="activeEditRowValue" id="edit_width">{{ plot.width|default:"Click to edit" }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_width').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
        <script>tm.setupEdit("width", "Plot", {{plot.id}});</script>
    </tr>
	<tr>
    	<td class="col1 activeEditRowLabel">Plot type <a href='/faq/#plot_type' target='_blank'>(?)</a></td>
        <td class="activeEditRowValue" id="edit_type">{{ plot.get_plot_type_display|default:"Click to edit" }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_type').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
        <script>tm.setupEdit("type", "Plot", {{plot.id}}, {'type':'select', 'loadurl': 'choices/plot_type/'});</script>
    </tr> 
	<tr>
    	<td class="col1 activeEditRowLabel">Is there a powerline overhead?</td>
        <td class="activeEditRowValue" id="edit_powerline_conflict_potential">{{ plot.get_powerline_conflict_potential|default:"Click to edit" }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_powerline_conflict_potential').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
        <script>tm.setupEdit("powerline_conflict_potential", "Plot", {{plot.id}}, {'type':'select', 'loadurl': 'choices/powerline_conflict_potential/'});</script>
    </tr>
    {% if user.reputation.reputation > 1000 %}
    <tr>
        <td class="col1 activeEditRowLabel">Additional Management Info</td>
        <td class="activeEditRowValue" id="edit_owner_additional_id">{{ plot.owner_additional_id|default:"Click to edit" }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_owner_additional_id').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
        <script>tm.setupEdit("owner_additional_id", "Plot", {{plot.id}});</script>
    </tr>
	{% endif %}

    {% if user.reputation.reputation > 1000 %}
    <thead>
    	<tr>
        	<th scope="col" colspan="4">Status</th>
        </tr>
    </thead>
	<tr>
    	<td class="col1 activeEditRowLabel">Sidewalk damage</td>
        <td class="activeEditRowValue" id="edit_sidewalk_damage">{{ plot.get_sidewalk_damage_display|default:"Click to edit"  }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_sidewalk_damage').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
            <script>tm.setupEdit("sidewalk_damage", "Plot", {{plot.id}}, {'type':'select', 'loadurl':'choices/sidewalk_damage/'});</script>
    </tr>

    {% if tree %}

	<tr>
    	<td class="col1 activeEditRowLabel">Tree condition</td>
        <td class="activeEditRowValue" id="edit_condition">{{ tree.get_condition_display|default:"Click to edit"  }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_condition').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
            <script>tm.setupEdit("condition", "Tree", {{tree.id}}, {'type':'select', 'loadurl':'choices/condition/'});</script>
    </tr>
	<tr>
    	<td class="col1 activeEditRowLabel">Canopy condition</td>
        <td class="activeEditRowValue" id="edit_canopy_condition">{{ tree.get_canopy_condition_display|default:"Click to edit"  }}</td>
        <td style="vertical-align:top;"><a href="#" onclick="$('#edit_canopy_condition').trigger('click'); return false;"><img src="{{ STATIC_URL }}images/edit.png" class="editOption" /> </a></td>
            <script>tm.setupEdit("canopy_condition", "Tree", {{tree.id}}, {'type':'select', 'loadurl':'choices/canopy_condition/'});</script>
    </tr>
    <tr>
    	<td class="col1 activeEditRowLabel">Local</td>
        <td colspan="2" class="activeEditRowValue" id="edit_local"><span id="localCount">{{ tree.treeflags_set.count }} </span> flags <span class="viewAddSep"><a href="#" onclick="$('#localList').show();tm.newLocal(); return false" class="viewAdd">{% if tree.treeflags.count > 0 %}View and add local flags{% else %}Add a flag{% endif %}</a></span></td>
    </tr>
    <tr>
        <td colspan="3" id="dropSpace">
            <div id="localList">
            <table id="localTable" width="100%">
             <tr>
               <td><b>Local flag type</b></td>
               <td><b>Date</b></td>
               <td></td>
             </tr>
            {% if tree.treeflags_set.count > 0 %}
                {% for h in tree.treeflags_set.all %}
                  <tr>
                    <td>
                      {{ h.get_key_display }}
                    </td>
                    <td>
                        {{ h.value|date }}
                    </td>
                    <td>
                      <a href="#" onclick="tm.deleteLocal('{{h.key}}', '{{h.value}}', this); return false;">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
            {% endif %}
            </table>
            </div>
          <script>
          $("#localList").hide();
          </script>
        </td>
    </tr>
    {% endif %}

    {% endif %}

    <input id="id_geometry" type="hidden"/>
    </tbody>
    
</table>

            </div>
            </div>
        {% endblock middle_panel %}

        {% block right_panel %}
            <!-- start t2_right_panel  -->
                <div class="aside">
                    <div id="editOptionContainer">
                        <ul>
                            <li id="title">Edit the Bed Location</li>
                            <li id="instructions">Select the start button and move the marker on the map to the correct location.</li>
                            <li id="buttonEdit"><span id="edit_tree_location"><a href="#" onclick="tm.enableEditTreeLocation(); return false;"class="buttonSmall">Start Editing Bed Location</a></span></li>
                        </ul>
                        <div id="edit_map_errors"></div>
                    </div>
                    <div class="editMap">
                        <div id="edit_tree_map"><div class="shadowTop"></div><div class="shadowLeft"></div></div>
                        <div id="alternate_tree_div"></div>
                        <div id="tree_streetview"><div class="shadowTop"></div><div class="shadowLeft"></div></div>
                    </div>
                </div>

        {% endblock %}



        {% block left_panel %}


         <div id="t2_top_left_panel">

            {% if tree %}
            <ul id="userImage">
                <li>
					{% if tree.treephoto_set.count %}
						<a href="/media/{{ tree.treephoto_set.all|first|get:"photo"|get:"url" }}">
                            {% thumbnail tree.treephoto_set.all|first|get:"photo" "181x119" crop="center" as image %}
							<img src="{{ image.url }}" alt="{{ tree.treephoto_set.all|first|get:"title" }}" title="{{ tree.treephoto_set.all|first|get:"title" }}" width="181" height="119" class="mainImage" />
                            {% endthumbnail %}
						</a>
						{% if perms.can_delete_tree %}
							<div><a href="javascript:void(0)" onclick="tm.deletePhoto({{ tree.id }}, {{ tree.treephoto_set.all|first|get:'id' }}); return false;">delete?</a></div>
						{% else %}
							{% if tree.treephoto_set.all|first|get:"reported_by"|get:"id" == user.id %}
							<div><a href="javascript:void(0)" onclick="tm.deletePhoto({{ tree.id }}, {{ tree.treephoto_set.all|first|get:'id' }}); return false;">delete?</a></div>
							{% endif %}
						{% endif %}
						<ul id="additionalImages">
						{% for item in tree.treephoto_set.all|slice:"1:4" %}
							<li><div>
                                <a href="{{ item.photo.url }}">
                                    {% thumbnail item.photo "55x36" crop="center" as image %}
                                    <img alt="{{ item.title }}" title="{{ item.title }}" src="{{ image.url }}" alt="image description" width="55" height="36" />
                                    {% endthumbnail %}
                                </a>
								{% if perms.can_delete_tree %}
									<br><span><a href="javascript:void(0)" onclick="tm.deletePhoto({{ tree.id }}, {{ item.id }}); return false;">delete?</a></span>
								{% endif %}
								</div>
							</li>
						{% endfor %}
						</ul>
						<ul id="imageOptions">
							<li id="first">{{ tree.treephoto_set.count }} photos. <a class="add" href="{% url treemap.views.tree_add_edit_photos tree.id %}">Add photos &raquo;</a>
							</li>
						</ul>
					{% else %}
						<img src="{{ STATIC_URL }}images/es/image14.jpg" alt="image description" width="181" height="119" class="mainImage" id="sample" />

						<ul id="imageOptions">
							<li id="first"><a href="{% url treemap.views.tree_add_edit_photos tree.id %}">Add photos &raquo;</a></li>
						</ul>
					{% endif %}
                </li>
            </ul>
            {% endif %}

            {% if perms.can_delete_tree %}
            <ul id="message">
                {% if tree %}
				<li id="title"><a href="javascript:void(0)" onclick="tm.deleteTree({{ tree.id }});return false;" >Delete this Tree</a></li>
				<li>Trees may be deleted only by administrative users. Deleting this tree will remove
					it from public view. Please do not delete this tree unless you are
					sure that it is a duplicate or has been removed or should otherwise not be in the system.
					Due to caching of the map tiles, the tree may not immediately be deleted from
					the map search page. </li>
                {% endif %}
                <li id="title"><a href="javascript:void(0)" onclick="tm.deletePlot({{ plot.id }});return false;" >Delete this Planting Site</a></li>
				<li>Planting sites may be deleted only by administrative users. Deleting this planting site will remove
					it and any current tree planted here from public view. Please do not delete this planting site unless you are
					sure that it is a duplicate or has been removed or should otherwise not be in the system.
					Due to caching of the map tiles, the planting site may not immediately be removed from
					the map search page. </li>
            </ul>
                {% if tree %}
			        {% if tree.treewatch_set.count > 0 %}
			        <ul id="message">
				        <li id="title">Watch List</li>
				        {% for w in tree.treewatch_set.all %}
					        <li>{{w.key}} - {{w.value}}  {{w.is_valid|yesno:"Valid,"}}</li>
				        {% endfor %}
			        </ul>
			        {% endif %}
                {% endif %}
            {% endif %}
            <ul id="message">
                <li id="title"><a href="{{ SITE_ROOT }}contact">Feedback</a></li>
                <li>Tell us about a specific problem or give us general feedback. We like both!</a></li>
            </ul>
        </div>
    {% endblock %}
{% block endpage %}
	<script>
		tm.current_tree_geometry = [{{plot.geometry.x}}, {{plot.geometry.y}}];
		tm.init_tree_map(true);
        tm.currentTreeId = {% if tree %}{{tree.id}} {% else %} {{plot.id}} {% endif %};
        tm.currentPlotId = {{plot.id}}
	</script>
{% endblock endpage %}

