	{% extends "template_2.html" %}

{% load thumbnail dynamic_attribute humanize %}
{% load maths %}
{% load threadedcommentstags %}
{% load tree_tags %}
{% load comment_tags %}

{% get_comment_count for tree as comment_count %}

{% block body_id %}id="tree_detail"{% endblock %}

{% block extrahead %}	    
    {% load compressed %}
    {% compressed_js 'map' %}

<script type="text/javascript">
    jQuery().ready(function() {
        $("#comment_error").empty();
        jQuery.each(['#tree_actions','#tree_alerts'], function(i,s){
            jQuery(s).click(function() {
                $(this).next().toggle('slow');
                return false;
                }).next().hide();
            });

        $("#comment_post").live('submit', function() {
            var comment = $("#id_comment");
            if ($(this).has(comment) && comment[0].value == "") {
                $("#comment_error")[0].innerHTML = "Please enter text to post a comment.";
                return false;
            }
        });

    });

</script>
{% endblock %}

        {% block content_body_top %}
        <!-- start contentbody -->

        <div id="contentbody">
				<a href="./edit" class="buttonMed floatRight"><span class="icon iconUpdate"></span><span class="label">Edit Info</span></a>
		<h2 id="pageHead">
		{% if tree.get_common_name == "unavailable" %}
			Species Not Yet Determined
		{% else %}
			{{tree.get_common_name}}
		{% endif %}
		</h2>

		<h3 id="pageHead">
			{{ plot.address_street|default:"No Address" }}{% if plot.address_street %}, {{plot.address_city}} {{plot.neighborhood.all.0.state}} {{plot.address_zip}} {% endif %}
		</h3>

            <div class="tab-content" id="tab-1">

                <div class="wrap">
        {% endblock %}


            {% block middle_panel %}
    <!-- start t2_middle_panel  -->
    <div class="data">
        {% if tree %}
        <div class="wrap">
            <h2>Common Attributes</h2>
            <ul class="attributes">
            {% if tree.has_common_attributes %}
                {% if tree.species.flower_conspicuous %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_flower.gif" alt="Flowering" title="Flowering" width="20" /></li>
                {% endif %}
                {% if tree.species.fall_conspicuous %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_fall.gif" alt="Fall color" title="Fall color" width="20" /></li>
                {% endif %}
                {% if tree.species.palatable_human %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_fruit.gif" alt="Edible (fruits/nuts)" title="Edible (fruits/nuts)" width="20" /></li>
                {% endif %}
                {% if tree.species.native_status %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_ca.gif" alt="Native to region" title="Native to region" width="20" /></li>
                {% endif %}

                {% if tree.get_flag_count > 0 %}
                	{% for a in tree.treeflags_set.all %}
						{% if a.key == '2' %}
							<li><img src="{{ STATIC_URL }}images/v2/icon_carbon.gif" alt="San Francisco Carbon Fund" title="San Francisco Carbon Fund" width="20" /></li>
						{% endif %}
						{% if a.key == '3' %}
							<li><img src="{{ STATIC_URL }}images/v2/icon_glean.gif" alt="Fruit Gleaning Project" title="Fruit Gleaning Project" width="20" /></li>
						{% endif %}
						{% if a.key == '1' %}
							<li><img src="{{ STATIC_URL }}images/v2/icon_landmark.gif" alt="San Francisco Landmark" title="San Francisco Landmark" width="20" /></li>
						{% endif %}
						{% if a.key == '4' %}
							<li><img src="{{ STATIC_URL }}images/v2/icon_landmark.gif" alt="Historically Significant Tree" title="Historically Significant Tree" width="20" /></li>
						{% endif %}
                    {% endfor %}

                {% endif %}

            {% else %}
            <li>None at this time</li>
            {% endif %}

            </ul>
        </div>
        {% endif %}

<table class="box-table-a">
{% if tree %}

    <thead>
    	<tr>
        	<th scope="col" colspan="4">General Tree Information</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td class="col1Wide">Tree number</td>
            <td>{{tree.id}}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Scientific name</td>
            <td><i>{{tree.get_scientific_name}}</i></td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Common name</td>
            <td>{{tree.get_common_name}}</td>
            <td></td>
        </tr>
    	<tr>
        	<td class="col1Wide">Trunk diameter</td>
            <td>{{tree.dbh|unit_or_missing:"inches"}}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Tree height</td>
            <td>{{tree.height|unit_or_missing:"feet"}}</td>
            <td></td>
        </tr><tr>
        	<td class="col1Wide">Canopy height</td>
            <td>{{tree.canopy_height|unit_or_missing:"feet"}}</td>
            <td></td>
        </tr>
    {% else %}
        <thead>
        	<tr>
            	<th scope="col" colspan="4">No tree information for this planting site. <a href="#" onclick="tm.addTreeToPlot({{plot.id}}); return false;">Add a tree here?</a></th>
            </tr>
        </thead>
    {% endif %}

    </tbody>
</table>

{% if tree %}

<table class="box-table-a">
    <thead>
    	<tr>
        	<th scope="col" colspan="2">Yearly Ecosystem Services</th>
        	<th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
    {% if tree.species %} 
        {% if tree.dbh %}
        	<tr>
            	<td class="col1Wide">Stormwater intercepted</td>
                <td>{{tree.treeresource.annual_stormwater_management|floatformat:0}} gal</td>
                <td>${{tree.treeresource.benefits.water|floatformat:2}}</td>
            </tr>
            <tr>
            	<td class="col1Wide">Energy conserved</td>
                <td>{{tree.treeresource.annual_energy_conserved|floatformat:0}} kWh</td>
                <td>${{tree.treeresource.benefits.energy|floatformat:2}}</td>
            </tr>
            <tr>
            	<td class="col1Wide">Air pollutants removed</td>
                <td>{{tree.treeresource.annual_air_quality_improvement|floatformat:3}} lbs</td>
                <td>${{tree.treeresource.benefits.air_quality|floatformat:2}}</td>
            </tr>
            <tr>
            	<td class="col1Wide">Carbon dioxide reduced</td>
                <td>{{tree.treeresource.annual_co2_reduced|floatformat:0}} lbs</td>
                <td>${{tree.treeresource.benefits.co2_reduced|floatformat:2}}</td>
            </tr>
            <tr>
            	<td class="col1Wide">Total Co2 stored to date</td>
                <td>{{tree.treeresource.total_co2_stored|floatformat:0}} lbs</td>
                <td>${{tree.treeresource.benefits.co2_stored|floatformat:2}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"><span class="note">Data is not available. The trunk diameter is needed to calculate the environmental resources for this tree. <a href="edit/">Add the diameter &raquo;</a></span></td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="3">Data is not available. The tree species is needed to calculate the environmental resources for this tree. <a href="edit/">Add the species >></a></td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% endif %}

<table class="box-table-a">
    <thead>
    	<tr>
        	<th scope="col" colspan="4">Environment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        	<td class="col1Wide">Nearby address</td>
            <td>{{plot.address_street|default:"Missing"}}{% if plot.address_street %} {{plot.address_city}} {{plot.neighborhood.all.0.state}} {{plot.zipcode}} {% endif %}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Plot size</td>
            <td>{{ plot.width|unit_or_missing:"ft x " }}{{ plot.length|unit_or_empty:"ft" }} </td>
        </tr>
        <tr>
        	<td class="col1Wide">Plot type</td>
            <td>{{ plot.get_plot_type_display|default:"Missing" }}</td>
        </tr>
        <tr>
        	<td class="col1Wide">Powerlines overhead</td>
            <td>{{ plot.get_powerline_conflict_potential|default:"Missing" }}</td>
        </tr>
        {% if tree.data_owner.id != 11 %}
        <tr>
        	<td class="col1Wide">Sidewalk damage</td>
            <td>{{ plot.get_sidewalk_damage_display|default:"Missing" }}</td>
        </tr>
		{% endif %}
        {% if user.reputation.reputation > 1000 %}
        <tr>
        	<td class="col1Wide">Additional Info</td>
            <td>{{ plot.owner_additional_id }}</td>
        </tr>
		{% endif %}
    </tbody>
</table>

{% if tree %}

<table class="box-table-a">
    <thead>
    	<tr>
            <th scope="col" colspan="4" id="status">Status</th>
        </tr>
    </thead>
    <tbody>
    	{% if tree.data_owner.id != 11 %}
    	<tr>
        	<td class="col1Wide">Tree status</td>
            <td>{{tree.get_condition_display|default:"Missing"}}</td>
        </tr>
        <tr>
			<td class="col1Wide">Canopy condition</td>
			<td>{{tree.get_canopy_condition_display|default:"Missing"}}</td>
        </tr>
        {% endif %}
        <tr>
        	<td class="col1Wide">Local projects</td>
            <td>{{tree.get_flag_count}} known</td>
            <td>{% if tree.get_flag_count > 0 %}<a href="#" id="tree_local" onclick="$('#local').toggle();return false;">Details</a>{% endif %}</td>
        </tr>
        <tr id="local" style="display:none;">
            <td colspan="5">
                <table class="box-table-b" colspan="5">
                    <tbody>
                    	<tr>
                        	<td class="col1Wide"><b>Local flag</b></td>
                            <td><b>Added by</b></td>
                        </tr>
                        {% for a in tree.treeflags_set.all %}
                        <tr>
                        	<td class="col1Wide">{{ a.get_key_display }}</td>
                            <td>{{ a.reported_by }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table class="box-table-a">
    <thead>
    	<tr>
        	<th scope="col" colspan="4">History</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td class="col1Wide">Date planted</td>
            <td>{{tree.date_planted|date|default:"Missing"}}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Data source</td>
            <td>{{tree.data_owner.groups.all.0|default:"Added by the Public"}}</td>
            <td></td>
        </tr>

    </tbody>
</table>

{% endif %}

                    </div>
                    <!-- end t2_middle_panel  -->

                {% endblock %}



                {% block right_panel %}
                    <!-- start t2_right_panel  -->
                        <div class="aside">
                            <div id="edit_tree_map"><div class="shadowTop"></div><div class="shadowLeft"></div></div>
                            <div id="alternate_tree_div"></div>
                            <div id="tree_streetview"><div class="shadowTop"></div><div class="shadowLeft"></div></div>
							{% if tree and tree.data_owner.id != 11 %}
							<div id="tree_comments">
								<div class="wrap">
									<h2>Comments</h2>
								</div>
								<div class="comment_list">
                                    <div id="comment_error" style="padding-bottom:5px;"></div>
                                {% get_threaded_comment_tree for plot as comment_tree %}
								{% for comment in comment_tree %}
									<div class="comment_item" style="margin-left: {{ comment.depth }}em">
										<div class="comment_head">
											{{ comment.user.username }} - {{ comment.submit_date|date:"P M j, Y"}}
											{% if user.is_authenticated %} 
                                                {% if comment|is_flagged:user %}
                                                    Flagged
                                                {% else %}
                                                    <a href="{{ SITE_ROOT }}/comments/flag/{{ comment.id }}/?next={% url treemap.views.plot_detail tree.plot.id %}">Flag</a>
                                                {% endif %}
                                            {% endif %}
										</div>
										<div class="comment_body">
											{{ comment.comment }}
										</div>                                             
							            {% if user.is_authenticated %}
                                            {% get_threaded_comment_form as form %}
                                            <a id="c{{ comment.id }}" href="javascript:threaded.show_reply_form('{{ csrf_token }}', 'c{{ comment.id }}','{% get_comment_url plot comment %}','{{ comment.user }}')">Reply</a>
                                        {% endif %}
									</div>
								{% empty %}
									<div class="comment_item">No comments yet!</div>
								{% endfor %}
								</div>
                                                                
								{% if user.is_authenticated %}
									{% get_threaded_comment_form as form %}
									<form action="{% get_comment_url plot %}" id="comment_post" method="post">{% csrf_token %}
										<input type="hidden" name="next" value="{{request.get_full_path}}" />
                                                                                <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
                                                                                <input type="hidden" name="markup" value="5"></input>
										<div class="submit">
											<input type="submit" name="post" class="submit-post buttonSmall" value="Post" />
										</div>
									</form>
				                                    <div id="comment_disclaimer">The comment system does not serve as a way to report problems with a tree.</div>
								{% else %}
									<div>Please login to add comments</div>
								{% endif %}

							</div>
							{% endif %}
                        </div>
                        <!-- end t2_right_panel  -->
                {% endblock right_panel %}


                {% block content_body_bottom %}
                                </div>      <!-- end wrap -->
                            </div>
                        </div>
                        <!-- end contentbody -->
                {% endblock %}



                {% block left_panel %}
                <!-- start t2_left_panel  -->

{% if tree %}

         <div id="t2_top_left_panel">
            <ul id="userImage">
                <li>
                {% if tree.treephoto_set.count %}
                    <a href="{{ tree.treephoto_set.all|first|get:"photo"|get:"url" }}" target="_blank">
                        {% thumbnail tree.treephoto_set.all|first|get:"photo" "181x119" crop="center" as image %}
                        <img src="{{ image.url }}" alt="{{ tree.treephoto_set.all|first|get:"title" }}" title="{{ tree.treephoto_set.all|first|get:"title" }}" width="181" height="119" class="mainImage" />
                        {% endthumbnail %}
                    </a>
                    <ul id="additionalImages">
                    {% for item in tree.treephoto_set.all|slice:"1:4" %}
                            <li><a href="{{ item.photo.url }}" target="_blank">
                                {% thumbnail item.photo "55x36" crop="center" as image %}
                                <img alt="{{ item.title }}" title="{{ item.title }}" src="{{ image.url }}" alt="image description" width="55" height="36" />
                                {% endthumbnail %}
                            </a></li>
                    {% endfor %}
                    </ul>
                    <ul id="imageOptions">
                        <li id="first">{{ tree.treephoto_set.count }} photos. <a class="add" href="{% url treemap.views.tree_add_edit_photos tree.id %}">Add photos &raquo;</a></li>
                    </ul>
                {% else %}
                    <img src="{{ STATIC_URL }}images/es/image14.jpg" alt="Tree" title="Add photos!" width="181" height="119" class="mainImage" id="sample" />
                    <ul id="imageOptions">
                        <li id="first"><a href="{% url treemap.views.tree_add_edit_photos tree.id %}">Add photos &raquo;</a></li>
					</ul>
                {% endif %}
                </li>
            </ul>
            <ul id="message">
                <li id="title">Tools <div class="Info note"></div></li>
                <li>
                {% if user.is_authenticated %}
                    <ul class="optionItem">
                    <li>
                    {% if favorite %}
                        <button id="favorite_{{ tree.id }}" class="favorite fav unfave">Remove as Favorite</button>
                    {% else %}
                        <button id="favorite_{{ tree.id }}" class="favorite fav fave">Add as favorite</button>
                    {% endif %}
                    </li>
                    </ul>
                {% else %}
                    <li>
                    <button class="fav" id="favorite_{{ tree.id }}" class="favorite fav fave">Add as favorite</button>
                    </li>
                {% endif %}
                </li>
            </ul>

            <ul id="message">
                <li id="title">Latest Update <div class="Info note"></div></li>
                <li class="optionItemLastContainer">
                    <ul class="optionItemLast">
                        <li>Username</li>
                        <li class="editItem"><a href="{% url profiles.views.profile_detail recent.0.0 %}/">{{recent.0.0}}</a></li>
                    </ul>
                    <ul class="optionItemLast">
                        <li>Date</li>
                        <li class="editItem">{{recent.0.1|date}}</li>
                    </ul>
                </li>
            </ul>

			<ul id="progress">
                    <!-- TODO -->
                    <!--<li id="progressBar"><img src="{{ STATIC_URL }}images/v2/progressbar.gif" width="470" /></li>-->

					<li id="progressStatus">
					<div class="progressBar"><div class="progressBarMask" style="left: {{ tree.percent_complete|floatformat }}%"></div></div>
						<div class="progressText">{{ tree.percent_complete|floatformat }}%&nbsp;complete</div></li>
                    <li id="edit"><a href="./edit">Edit this tree &raquo;</a></li>
			</ul>

            <ul id="message">
                <li id="title">Your Turn</li>
                <li>Our database of trees comes from public records and citizen foresters like you. <a href="edit/">Update the information for this tree and help us grow!</a></li>
            </ul>

            <ul id="message">
            	<li id="title">Recent Contributors</li>
            	<li>
					<ul class="optionItem">
						{% for update in recent %}
							{% if forloop.counter0 < 10 %}
							<li>{{update.1|naturalday:"SHORT_DATE_FORMAT"}} - <a href="{% url profiles.views.profile_detail update.0 %}" target="_blank">{{ update.0 }}</a></li>
							{% endif %}
						{% empty %}
							<li>No edits yet!</li>
						{% endfor %}
					</ul>
            	</li>
            </ul>
        </div>

{% else %}


{% endif %}

{% endblock left_panel %}

                
{% block endpage %}
	<script>
		tm.current_tree_geometry = [{{plot.geometry.x}}, {{plot.geometry.y}}];
		tm.currentTreeId = {% if tree %}{{tree.id}} {% else %} {{plot.id}} {% endif %};
		tm.init_tree_map(false); //not editable
		tm.add_favorite_handlers('trees/favorites/create/', 'trees/favorites/delete/');
	</script>
{% endblock endpage %}

