<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Urban Forest Map{% endblock %}</title>
        
        {% block tophead %}
        {% endblock %}

        <script type="text/javascript" src="/static/all_misc.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.jeditable.min.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.query-2.1.7.js"></script>
        <script type="text/javascript" src="/static/treemap.js"></script>
        <link rel="stylesheet" href="/static/css/treemap.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/ufmp1.1.css" media="all" />
        <link rel="stylesheet" href="/static/jquery/ui/css/ui-lightness/jquery-ui-1.8rc3.custom.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.autocomplete.css" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <!--<link type="text/css" href="http://jqueryui.com/latest/themes/base/jquery.ui.all.css" rel="stylesheet" />-->
        
                
        {% block js_ready %}
        <script type="text/javascript">
            jQuery().ready(tm.baseTemplatePageLoad);
        </script>
        {% endblock %}

        {% block extrahead %}
        {% endblock %}

</head>

<body {% block body_load %}{% endblock %} {% block body_id %}{% endblock %} class="{%block body_class%}base_body{%endblock %}">
    <div id="wrapper">
        
<!-- start: header -->
    	<div id="announceHeader">
    		<b>We're in beta!</b> Please <a href="http://www.surveymonkey.com/s/HS8JFV6" target="_new">fill out our survey</a> or use our feedback button.
    	</div>
    	<div id="header">
            <h1 class="logo"><a href="/">Urban Forest Map</a></h1>
            <ul id="nav">
				<li class="support">
					<a href="http://www.sactree.com/doc.aspx?22" target="_blank"><img src="/static/images/v2/header-button-support.gif" alt="Support Greenprint Trees" /></a>
				</li>
                <li>
                    {% if user.is_authenticated %}
                            Hello, <b><a href="/profiles/{{user.username}}/">{{user.username|escape}}!</a></b>  <span id="logout">|  <a href="/accounts/logout/?next=/" id="logout">Logout</a> <a href="/trees/add/" class="buttomSm globalAdd">Add a tree</a></span>
                    {% else %}
                        <a href="/accounts/login/">Login</a> or <a href="/accounts/register/">Sign up</a> <a href="/trees/add/" class="buttomSm globalAdd">Add a tree</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        
<!-- end: header -->

<!-- start: search box -->
        
        <div id="searchBox">
            <div id="searchBoxContainer">
                <ul id="searchTitles">
                    <li id="searchSpecies"><img src="/static/images/v2/search_species.gif" width="300" alt="Species or common name" /></li>
                    <li id="searchLocation"><img src="/static/images/v2/search_location.gif" width="120" alt="Location" /></li>
                </ul>
                <ul id="searchBoxes">
                <form method="get" action="/map/" name="address" class="address" id="search_form">
                    <li id="searchSpeciesBox">
                      <input type="text"  id="species_search_input" value="All trees"
                       onFocus='if (this.value == "All trees") { this.value=""; };' />
                      <input type='hidden' name='species_search_id' id="species_search_id" />
                      <input type='hidden' name='species_search_id' id="species_search_id_cultivar" />
                    </li>
                    <li id="searchJoiner">near</li>
                    <li id="searchLocationBox"><input type="text"  name="location" onFocus="this.value=''" id="location_search_input" value="Sacramento, CA" />
</li>
                    <li id="searchButton"><input class="go" id="location_go" type="button" value="Search Greenprint Region" /></li>
                </form>
                </ul>
                <ul id="searchSuggest">
                    <li id="searchSpeciesSuggest">Examples: 
                    
                        <a onclick='$("#species_search_input").val("Quercus agrifolia"); $("#species_search_id").val("QUAR"); $("#species_search_id").change();  return false' href="#">Quercus agrifolia</a> 
                        or <a onclick='$("#species_search_input").val("Quercus agrifolia"); $("#species_search_id").val("QUAR"); $("#species_search_id").change(); return false' href="#">Coast live oak</a>
                    
                    </li>
                    
                    <li id="searchLocationSuggest">Examples: 
                    
                        <a onclick='$("#location_search_input").val("191 Lathrop Way"); $("#location_search_input").change(); return false;' href="#">191 Lathrop Way</a>, 
                        <a onclick='$("#location_search_input").val("Woodland"); $("#location_search_input").change(); return false;' href="#">Woodland</a>,
                        <a onclick='$("#location_search_input").val("95616"); $("#location_search_input").change(); return false;' href="#">95616</a>
                    </li>
                    <li id="searchFilter"><a href="#" id="advanced" class="advanced"><em><span id="filter_name">Show advanced filters</span></em><img id="arrow" src="/static/images/v2/arrow1.gif" /></a> </li>
                </ul>
            </div>
        </div>

        
              
                <div class="filter-box" style="display:none"> 
                    <div class="wrap"> 
                        <div class="parameter"> 
                            <ul> 
                                <li> 
                                    <div class="title"> 
                                        <strong>Diameter</strong> 
                                        <em><span id="min_diam">0</span> inches - <span id="max_diam">50</span> inches</em> 
                                    </div> 
                                    <div style="width:200px; height:10px;" id="diameter_slider"></div>
                                </li> 

                                <li> 
                                    <div class="title"> 
                                        <strong>Plant Date</strong> 
                                        <em><span id="min_planted">1700</span> - 
                                        <span id="max_planted">2010</span></em> 
                                    </div> 
                                    <div style="width:200px; height:10px;" id="planted_slider"></div>
                                </li> 
                                <li> 
                                    <div class="title"> 
                                        <strong>Last Tree Update</strong> 
                                        <em><span id="min_updated">0</span> - 
                                        <span id="max_updated">365</span></em> 
                                    </div> 
                                    <div style="width:200px; height:10px;" id="updated_slider"></div>
                                </li> 

                            </ul> 
                        </div> 
                        <form action="#" class="options"> 
                            <fieldset> 
                                <div class="characteristics"> 
                                    <strong>Characteristics</strong> 
                                    <ul> 
                                        <li> 
                                            <input type="checkbox" id="flowering" /> 
                                            <label for="flowering">Flowering</label> 
                                        </li> 
                                        <li> 
                                            <input type="checkbox" id="color" /> 
                                            <label for="color">Fall color</label> 
                                        </li> 
                                        <li> 
                                            <input type="checkbox" id="edible" /> 
                                            <label for="edible">Edible (fruits/nuts)</label> 
                                        </li> 
                                        <li> 
                                            <input type="checkbox" id="native" /> 
                                            <label for="native">Native to region</label> 
                                        </li> 
                                        <!-- does not appear to be possible to query -->
                                        <!--<li> 
                                            <input type="checkbox" id="performer" /> 
                                            <label for="performer">High Performer</label> 
                                        </li>--> 
                                    </ul> 
                                </div> 
                                <div class="project_trees"> 
                                    <strong>Project trees</strong> 
                                    <ul> 
                                        <li> 
                                            <input type="checkbox" id="carbon" /> 
                                            <label for="carbon">San Francisco Carbon Fund</label> 
                                        </li> 
                                        <li> 
                                            <input type="checkbox" id="gleaning" /> 
                                            <label for="gleaning">Fruit Gleaning Project</label> 
                                        </li> 
                                        <li> 
                                            <input type="checkbox" id="landmark" /> 
                                            <label for="landmark">San Francisco Landmark</label> 
                                        </li> 
                                    </ul> 
                                </div> 
                                <div class="outstanding"> 
                                    <strong>Missing Data</strong> 
                                    <ul> 
                                        {% comment %}
                                        <li> 
                                            <input type="checkbox" id="correct" /> 
                                            <label for="correct">Correct Location</label> 
                                        </li> 
                                        {% endcomment %}
                                        <li> 
                                            <input type="checkbox" id="missing_species" /> 
                                            <label for="missing">Species</label> 
                                        </li> 
                                        <li> 
                                            <input type="checkbox" id="missing_diameter" /> 
                                            <label for="diameter">Trunk diameter</label> 
                                        </li> 
                                    </ul> 
                                </div> 
                            </fieldset> 
                        </form> 
                    </div> 
                </div> 
          
            <!-- end search-box -->
            {% block content %}
                main content goes here
            {% endblock content %}
            {% block callout %}
                <div id="callout">
                    {% block callout_content %}
                        
                    {% endblock callout_content %}
                </div>
            <!--end callout-->    
            {% endblock callout %}
            
            {% block sub_footer %}
                <div class="content"> 
                <div id="subfooterContainer">
                    <div class="threecolumns"> 
                        <h2>How you can help</h2> 
                        <div class="box"> 
                            <span class="number">1</span> 
                            <p><span class="mark"><a href="/map/">Find a tree</a></span>: Search for the trees near you. Find trees that bear edible fruits and nuts or those with beautiful flowers. Search for the biggest trees in your neighborhood -- then go visit them! <a href="/map/#?advanced=open" class="more">Go  &raquo;</a></p> 
                        </div> 
                        <div class="box"> 
                            <span class="number">2</span> 
                            <p><span class="mark"><a href="/trees/add/">Add a tree</a></span>: The Greenprint Maps grow as citizen foresters like you add trees. Show a tree's location by putting a dot on the map, then  provide as much information as you can. <a href="/trees/add/" class="more">Go  &raquo;</a></p> 
                        </div> 
                        <div class="box" id="boxLast"> 
                            <span class="number">3</span> 
                            <p><span class="mark"><a href="/map/">Edit a tree</a></span>: Check out the facts about the trees around you and update when you can. Don't forget to add alerts! With your help, we'll  track changes in the urban forest and watch it grow. <a href="/map/" class="more">Go  &raquo;</a></p> 
                        </div> 
                    </div> 
                </div>
                </div>
                <div id="cityFade"></div>    
             {% endblock %}    
            
            
            
           {% block global_footer %}
            <!-- Start Global footer --> 
            <div id="footer"> 
                <div class="footer-holder"> 
                    <div class="ad"> 
                        <strong>Brought to you by</strong> 
                        <ul> 
                            <li><a href="http://www.fire.ca.gov/"><img src="/static/images/es/ad03.gif" alt="CalFire" width="46" height="61" /></a></li> 
                            <li><a href="http://www.sactree.com/"><img src="/static/images/v2/logo_tree.gif" alt="Sacramento Tree Foundation" width="52" height="59" /></a></li> 
                        </ul> 
                    </div> 
                    <ul class="footer-nav">
						<li><a href="http://www.sactree.com/">Sacramento Tree Foundation</a></li>
						<li><a href="http://www.sactree.com/doc.aspx?30">Greenprint</a></li>
						<li><a href="http://www.5milliontrees.com/">5 Million Trees</a></li>
                        <li><a href="/about/">About</a></li> 
                        <li><a href="/resources/">Resources</a></li> 
                        <li><a href="/contact/">Contact</a></li><br>
						<ul class="footer-nav">
                        {% if user.is_authenticated %}
						<li>Logged in as <a href="/profiles/{{user.username}}/">{{user.username|escape}}</a>
                           <span id="logout"><a href="/accounts/logout/?next=/" id="logout">(Logout)</a></span>
                           {% if user.is_superuser %}
                               <li class="final"><a href="/_admin_/">Admin</a></li>
                           {% endif %}
                           {% if user.reputation.reputation > 1000 %}
                               <li class="final"><a href="/verify/">Recent Changes</a></li>
                           {% endif %}
                        {% else %}
                            <li class="final"><a href="/accounts/login/">Login</a> or <a href="/accounts/register/" class="buttomSm">Sign up</a></li>
                        {% endif %}
						</ul>
                    </ul> 
                </div> 
                <br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>.
            </div> 
            <!-- End Global footer --> 
            {% endblock global_footer %}
            
        </div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js'  type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-13228685-1");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}
</script>

<script type="text/javascript">
var is_ssl = ("https:" == document.location.protocol); var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/"; document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E")); 
</script> 


<script type="text/javascript"> 
try {
var feedback_widget_options = {}; feedback_widget_options.display = "overlay"; feedback_widget_options.company = "urban_forest_map"; feedback_widget_options.placement = "left"; feedback_widget_options.color = "#222"; feedback_widget_options.style = "idea"; var feedback_widget = new GSFN.feedback_widget(feedback_widget_options); 
} catch(err) {}
</script>

{% block endpage %}

{% endblock endpage %}

</body>
</html>
