<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Greenprint Maps{% endblock %}</title>
        
        {% block tophead %}
        {% endblock %}

        <script type="text/javascript" src="/static/all_misc.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.jeditable.min.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.query-2.1.7.js"></script>
        <script type="text/javascript" src="/static/treemap.js"></script>
        <link rel="stylesheet" href="/static/css/treemap.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/ufmp1.1.css" media="all" />
        <link rel="stylesheet" href="/static/jquery/ui/css/ui-lightness/jquery-ui-1.8rc3.custom.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.autocomplete.css" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <!--<link type="text/css" href="http://jqueryui.com/latest/themes/base/jquery.ui.all.css" rel="stylesheet" />-->
        <!--[if IE]>
            <link rel="stylesheet" href="/static/css/ufmp1.1.ie7.css" type="text/css"/>
        <![endif]-->
      
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/static/css/ufmp1.1.ie.css" type="text/css"/>
        <![endif]-->
                
        {% block js_ready %}
        <script type="text/javascript">
            jQuery().ready(tm.baseTemplatePageLoad);
        </script>
        {% endblock %}

        {% block extrahead %}
        {% endblock %}

</head>

<body {% block body_load %}{% endblock %} {% block body_id %}{% endblock %} class="{%block body_class%}base_body{%endblock %}">
    <div>
        
<!-- start: header -->
    	<div id="header">
            <h1 class="logo"><a href="/">Greenprint Maps</a></h1>
            <ul id="nav">
				<li class="support">
					<a href="http://www.sactree.com/doc.aspx?22" target="_blank"><img src="/static/images/v2/header-button-support.gif" alt="Support Greenprint Trees" /></a>
				</li>
            </ul>
        </div>
        
<!-- end: header -->

<!-- start: search box -->
        
        <div id="searchBox" style="height:5px!important;">
        </div>

        
          
            <!-- end search-box -->
            {% block content %}

		 <div class="content home">
        		<div id="t4_top_content" style="margin-top:50px;height:230px!important;">
			    <h1><center>Coming soon!</center></h1>
			</div>
	        </div>

            {% endblock content %}
            {% block callout %}
                <div id="callout">
                    {% block callout_content %}
                        
                    {% endblock callout_content %}
                </div>
            <!--end callout-->    
            {% endblock callout %}
            
            {% block sub_footer %}
                <div class="content">
                </div>
                </div>
                <div id="cityFade"></div>    
             {% endblock %}    
            
            
            
           {% block global_footer %}
            <!-- Start Global footer --> 
            <div id="footer"> 
                <div class="footer-holder"> 
                    <div class="ad"> 
                        <strong>Brought to you by</strong> 
                        <ul> 
                            <li><a href="http://www.fire.ca.gov/"><img src="/static/images/es/ad03.gif" alt="CalFire" width="46" height="61" /></a></li> 
                            <li><a href="http://www.sactree.com/"><img src="/static/images/v2/logo_tree.gif" alt="Sacramento Tree Foundation" width="52" height="59" /></a></li> 
                        </ul> 
                    </div> 
                    <ul class="footer-nav">
						<li><a href="http://www.sactree.com/">Sacramento Tree Foundation</a></li>
						<li><a href="http://www.sactree.com/doc.aspx?30">Greenprint</a></li>
						<li><a href="http://www.5milliontrees.com/">5 Million Trees</a></li>
                    </ul> 
                </div> 
		<div style="text-align:right;color:#ccc;">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
		</div>
            </div> 
            <!-- End Global footer --> 
            {% endblock global_footer %}
            
        </div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js'  type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-13228685-1");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}
</script>

{% block endpage %}

{% endblock endpage %}

</body>
</html>
