/* tables */
table  {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table  thead tr th, table  tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table  thead tr .header {
	background-image: url(/static/tablesorter/bg.png);
	background-repeat: repeat-x;
	background-position: center right;
	cursor: pointer;
        padding-right:20px;
}
table  tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table  tbody tr.odd td {
	background-color:#F0F0F6;
}
table  thead tr .headerSortUp {
	background-image: url(/static/tablesorter/asc.png);
}
table  thead tr .headerSortDown {
	background-image: url(/static/tablesorter/desc.png);
}
table  thead tr .headerSortDown, table  thead tr .headerSortUp {
background-color: #8dbdd8;
}
