http://downloads.sourceforge.net/project/dbfpy/dbfpy/2.2.5/dbfpy-2.2.5.tar.gz
numpy==1.7.1
git+git://github.com/azavea/eco.py.git
BeautifulSoup==3.2.0
celery-with-redis==3.0
Django==1.3.4
PIL==1.1.7
South==0.7.5
Unidecode==0.04.9
django-badges==0.1.6
django-celery==3.0.17
django-debug-toolbar==0.9.1
django-extensions==0.7.1
django-pagination==1.0.7
django-profiles==0.2
django-shapes==0.2.0
django-sorting==0.1
django-tagging==0.3.1
django-threadedcomments==0.5.3
django-pipeline==1.1.27
feedparser==5.1
geopy==0.94.1
gunicorn==0.14.3
psycopg2==2.4.1
python-omgeo==1.4.1
simplejson==2.3.2
sorl-thumbnail==11.12
template-utils==0.4p2
wsgiref==0.1.2
xlrd==0.7.1
yuicompressor==2.4.6.1
