{% extends "registration/base.html" %}
{% load i18n %}

{% block js_ready %}
        <script type="text/javascript">
        jQuery().ready(function() {
            jQuery().ready(tm.baseTemplatePageLoad);

            var username = jQuery.urlParam('username');
            if (username)
            {
                $('#username')[0].value = username;
            }
        });
        </script>
{% endblock %}


{% block title %}{% trans "Log in" %}{% endblock %}

{% block left_panel %}
		<div id="register">
                    <script type="text/javascript">
                        function check(val)
                          {
                              var u = $('#username')[0].value;
                              if (val == "register")
                              {
                                var url = "{{ SITE_ROOT }}accounts/register/";
                                if (u){
                                    url += "?username=" + u;
                                }
                                window.location = url;
                              } else if (val == "login"){
                                var url = "{{ SITE_ROOT }}accounts/login/";
                                if (u){
                                    url += "?username=" + u;
                                }
                                window.location = url;
                              }
                          }
                        
                        function display_availability(json)
                        {
                              if (json)
                              {
                                  $('#taken')[0].innerHTML = json.status;
                              }                        
                        }
                        
                        function check_username(val)
                          {                              
                                $.ajax({
                                    url: '{{ SITE_ROOT }}check_username/?u='+val,
                                    dataType: 'json',
                                    success: display_availability
                                    //error: function(err) { }
                                });
                              
                          }
                    </script>

                    <h1>Sign up or log in <span class="note">(If it's bold it's required)</span></h1>
            
                    {% if not user.is_authenticated %}

                    {% if form.errors %}
                    <div id="genError"><b>Oops!</b> There was a problem.<br />
                    {% if form.non_field_errors %}
                        <span id="smError">{{ form.non_field_errors }}</span>
                    {% else %}
                        <span id="smError">Error are noted in red below.</span>
                    {% endif %}
                    </div>
                    {% endif %}

                    <div class="row">
                        {% block form %}
                        {% endblock %}
                    </div>

                    {% else %}
                    <p>{% trans "You are already logged in as" %} <b><a href="{% url profiles.views.profile_detail user.username %}">{{user.username|escape}}</a></b>. 
                        Do you want to <b><a href="/accounts/logout/?next={{ SITE_ROOT }}accounts/login">{% trans "logout" %}</a></b>?</p>
                    {% endif %}

		</div>

{% endblock %}




