{% extends "registration/login_or_register.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block form %}

{% with SITE_ROOT|add:"map/" as next_page %}

<form id="form1" name="form1" method="post" action="?next={{ next|default:next_page }}">

{%endwith%}

    <label class="required" {% if form.username.errors %}id="error"{% endif %}>{% trans "Username" %}
        <span class="small">Enter your username</span>
    </label>
    <input type="text" id="username" class="required" name="username" maxlength="30" />
	
    <label>I am a returning user
        <span class="small"></span>
    </label>
    <input type="radio" id="account_status" onclick="check(this.value)" checked="checked" value="login" class="radio" />
    
    <label>I need an account
        <span class="small"></span>
    </label>
    <input type="radio" id="account_status" onclick="check(this.value)" value="register" class="radio" />

    <label class="required" {% if form.password.errors %}id="error"{% endif %}>{% trans "Password" %}
        <span class="small"><a href="{{ SITE_ROOT }}accounts/password/reset/">Forgot your password?</a></span>
    </label>
    {{ form.password }}

	<button type="submit">Log me in!</button>
	
    <div class="spacer"></div>

</form>


{% endblock %}
