{% extends "registration/login_or_register.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block form %}

{% with SITE_ROOT|add:"map/" as next_page %}

<form id="form1" name="form1" method="post" action="?next={{ next|default:next_page }}" >

{%endwith%}

    <label class="required" {% if form.username.errors %}id="error"{% endif %}>{% trans "Username" %}</label>
    <input type="text" id="username" class="required" name="username" maxlength="30" />
	
    <label class="radio">I am a returning user
		<input type="radio" id="account_status" onclick="check(this.value)" checked="checked" value="login" class="radio" />
	</label>
    
    <label class="radio">I need an account
		<input type="radio" id="account_status" onclick="check(this.value)" value="register" class="radio" />
	</label>
	
    <label class="required" id="pass"{% if form.password.errors %}id="error"{% endif %}>{% trans "Password" %}
        <br /><span style="font-size: 9px;"><a href="{{ SITE_ROOT }}/accounts/password/reset/">Forgot your password?</a></span>
    </label>
    {{ form.password }}

	<div class="clearLeft"> </div>
	<button type="submit" class="btn btn-large btn-inverse" id="signin-submit">Sign In</button>
	

</form>


{% endblock %}
