{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset confirmation' %}</div>{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block left_panel %}

    {% if validlink %}
        <div id="register">
            <h1>{% trans 'Enter a new password' %}</h1>
            <div class="row">
                <form id="form1" method="post" action="">
                    <div style="height: 45px;">
                        <label for="id_new_password1">{% trans 'New password:' %}<span id="smError2">Must be 6 characters or longer</span></label>
                        {{ form.new_password1 }}
                        <div style="color: red;">{{ form.new_password1.errors }}</div>
                    </div>
                    <div style="height: 45px;">
                        <label for="id_new_password2">{% trans 'Confirm password:' %}<span id="smError2">Must match the previous field</span></label>{{ form.new_password2 }}
                        <div style="color: red;">{{ form.new_password2.errors }}</div>
                    </div>

                    <button type="submit">Change my password</button>
                    <div class="spacer"></div>
                </form>
            </div>
        </div>
    {% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}

{% endblock %}
