{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block left_panel %}

<div id="register">

<h1>{% trans "Reset your password" %} <span class="note">{% trans "(Enter your email address and we'll e-mail instructions for setting a new one)" %}</span></h1>

                    {% if form.errors %}
                    <div id="genError"><b>Oops!</b> There was a problem.<br /><span id="smError">Error are noted in red below.</span></div>
                    {% endif %}

<form action="" method="post">

    <label class="required" {% if form.email.errors %}id="error"{% endif %}>{% trans 'E-mail address' %}
        <span class="small">Check your email after submitting</span>
    </label>
    {{ form.email }}

<button type="submit">Reset my password</button>

</form>

</div>

{% endblock %}

