{% extends "registration/login_or_register.html" %}
{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}
{% block onready %}{% endblock %}
{% block body_load %}{% endblock %}
{% block form %}

{% with SITE_ROOT|add:"/accounts/profile/" as next_page %}
<form id="form1" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} name="form1" method="post" action="?next={{ next|default:next_page }}">
{% endwith %}
    <label class="required" {% if form.username.errors %}id="error"{% endif %}>{% trans "Username" %}
        {% if form.username.errors %}
             {% for error in form.username.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2">Create your username</span>
        {% endif %}
    </label>
    <input type="text" id="username" class="required" onchange="check_username(this.value)" name="username" maxlength="30" />
    <span class="notice" id="taken"></span>

    <label>I am a returning user
        <span id="smError2"></span>
    </label>
     <input type="radio" id="account_status" onclick="check(this.value)" value="login" class="radio" />
    
    <label>I need an account
        <span id="smError2"></span>
    </label>
    <input type="radio" id="account_status" onclick="check(this.value)" checked="checked" value="register" class="radio" />
    
    <label class="required" {% if form.password1.errors %}id="error"{% endif %}>{% trans "Password" %}
        {% if form.password1.errors %}
             {% for error in form.password1.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2">Minimum size 6 chars</span>
        {% endif %}
    </label>
    {{ form.password1 }}
	
    <label class="required" {% if form.password2.errors %}id="error"{% endif %}>Password
        {% if form.password2.errors %}
             {% for error in form.password2.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2">Verify password</span>
        {% endif %}
    </label>
    {{ form.password2 }}
	
    <label class="required" {% if form.email.errors %}id="error"{% endif %}>{% trans "Email address" %}
        {% if form.email.errors %}
             {% for error in form.email.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2">We'll keep this private</span>
        {% endif %}
    </label>
    {{ form.email }}

    <h1>Just a few more questions...</h1>

    <label {% if form.first_name.errors %}id="error"{% endif %}>{% trans "First name" %}
        {% if form.first_name.errors %}
             {% for error in form.first_name.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2">We'll keep this private</span>
        {% endif %}
    </label>
    {{ form.first_name }}

    <label {% if form.last_name.errors %}id="error"{% endif %}>{% trans "Last name" %}
        {% if form.last_name.errors %}
             {% for error in form.last_name.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2">We'll keep this private</span>
        {% endif %}
    </label>
    {{ form.last_name }}
    
    <label {% if form.zip_code.errors %}id="error"{% endif %}>Zip code
        {% if form.zip_code.errors %}
             {% for error in form.zip_code.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2">We'll keep this private</span>
        {% endif %}
    </label>
    {{ form.zip_code }}

    <label {% if form.photo.errors %}id="error"{% endif %}>Profile photo
        {% if form.photo.errors %}
             {% for error in form.photo.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2">This is displayed in your profile</span>
        {% endif %}
    </label>
  	{{ form.photo }}
	
    <label {% if form.volunteer.errors %}id="error"{% endif %}>Email me occasional updates
        {% if form.volunteer.errors %}
             {% for error in form.volunteer.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2"></span>
        {% endif %}
    </label>
	{{ form.volunteer }}
   
    {% comment %}
    <label {% if form.tos.errors %}id="error"{% endif %}>I accept the <a href="/terms">terms of service</a>
        {% if form.tos.errors %}
             {% for error in form.tos.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span id="smError2"></span>
        {% endif %}
    </label>
	{{ form.tos }}
    {% endcomment %}

    <button type="submit">Sign me up!</button>

    <div class="spacer"></div>
    
</form>






{% endblock %}
