/** Hack **/
.tablepanel {
    /*width: 800px;*/
    overflow: auto;
}


/**
 * Styles
 */
.speciesbyname {
    width: 100%;
}

.specieslist {
    width: 100%;
}

.pages {
    text-align: center;
    margin: 10px;
}

.pages a {
    padding: 3px;
    font-size: 1.3em;
}

.pages a.currentpage {
    font-weight: bold;
}

.invisible-pane {
    display: none;
}

.text-center {
   text-align: center;
}

#merge-dialog {
    background: #ffffff;
}

.mergespecies {
    width: 50px;
}

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

td {
  position: relative;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

/**
 * TODO: Really we should just grab this from a CDN
 */
/** Modified from Twitter Bootstrap */
.table tbody tr td.success {
  background-color: #dff0d8;
}

.table tbody tr td.error {
  background-color: #f2dede !important;
}

.table tbody tr td.warning {
  background-color: #fcf8e3;
}

.table tbody tr td.info {
  background-color: #d9edf7;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #000;
  background-color: #C0C472;
}
