/* === APP-WIDE STYLES ============================ */

html, body {
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h4 {
	font-family: 'Montserrat', sans-serif; 
}

row {
	margin-left: 0;
}


/* === HEADER ===================================== */

.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

#logo-search {
	padding-top: 65px;
}


/* LANDING PAGE =================================== */

#intro {
	padding: 10px 0 25px 0;
	margin-top: 25px;
}

#intro h2 {
	font-weight: normal;
	color: #8BAA3E;
}

#get-started-btn {
	margin-top: 20px;
	margin-bottom: 15px;
}

#addl-info h3 a {
	color: #8BAA3E;
}

#addl-info h3 a:hover {
	color: #788E1E;
	text-decoration: none;
}

#addl-info ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* FOOTER ========================================= */

#footer {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	bottom: 0;
}

#partners li {
	display: inline-block;
	width: 100px;
	padding-right: 25px;
}

#partners img {
	max-width: 100px;
	max-height: 45px;
}