/* === APP-WIDE STYLES ============================ */

html, body {
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h4 {
	font-family: 'Montserrat', sans-serif; 
}

row {
	margin-left: 0;
}


/* === HEADER ===================================== */

.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
	background-color: rgba(125, 187, 66, 1.0);
	background-image: none;
	border: 0;
	border-bottom: 1px solid #689F41;
		box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
	
}

.navbar .nav > li > a {
	color: #fff;
	text-shadow: none;
	font-family: 'Montserrat' sans-serif;
	text-shadow: 0px -1px 0px #668337;
}

.navbar .nav > li > a:hover {
	color: #5C911F;
	text-shadow: none;
	font-family: 'Montserrat' sans-serif;
	text-shadow: 0px -1px 0px #3F6D09;
}

#main-header {
	background: #ECF9DC;
	margin-top: 40px;
	position: fixed;
	width: 100%;
	height: 150px;
	z-index: -99;
	left: 0;
	border-bottom: 1px solid #DCE5C6;
}

#logo {
	margin-top: 20px;
}


#search-btn {
	margin-top: 40px;
}

#search-area {
	margin-top: 80px;
}

#search-area label {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

#search-area .help-block {
	font-size: 11px;
}

/* Hack to get the right nav back on-screen when screen size is 1024px wide */
@media screen and (min-device-width: 1024px) {
	#right-nav {
		margin-right: 40px;
	}
}

/* LANDING PAGE =================================== */

#intro {
	padding-left: 25px;
	margin-top: 100px;
	border-bottom: 1px solid #EEE;
}

#intro h2 {
	font-weight: normal;
	color: #666;
}

#get-started-btn {
	margin-top: 20px;
	margin-bottom: 15px;
}

#addl-info {
	margin-top: 25px;
}

#addl-info h3 a {
	color: #8BAA3E;
}

#addl-info h3 a:hover {
	color: #000;
	text-decoration: none;
}

#addl-info ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#addl-info a {
	color: #8BAA3E;
}

#addl-info a:hover {
	color: #000;
	text-decoration: none;
}

/* FOOTER ========================================= */

#footer {
	padding-top: 15px;
	bottom: 0;
	padding-top: 125px;
}

#partners li {
	display: inline-block;
	width: 100px;
	padding-right: 25px;
}

#partners img {
	max-width: 100px;
	max-height: 45px;
}

/* MAP STUFF ====================================== */

#recent-photos ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#recent-photos li {
	display: inline;
	padding-right: 10px;
}

#recent-photos img {
	border: 1px solid #eee;
}

#recent-updates,
#recent-photos {
	margin-top: 60px;
	padding-bottom: 50px;
}

/* SEARCH DROPDOWNS =============================== */

ul#species-list,
ul#location-list {
	height: 495px;
	overflow-y: scroll;
	width: 307px;
	font-size: 12px;
}

ul#species-list li,
ul#location-list li {
	padding: 3px 0 3px 10px;
}

ul#species-list li.header,
ul#location-list li.header {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: rgb(125, 187, 66);
}

a.search-suggestion-location,
a.search-suggestion-species {
	cursor: pointer;
	color: #000;
}

a.search-suggestion-location:hover,
a.search-suggestion-species:hover {
	text-decoration: none;
	color: #000;
}
