div #results_aside{
height:370px;
}


/* Tree Detail */
.tree_detail_item{
width:400px;
margin:2px;
}

.tree_detail_key{
  width:140px; display:inline;
}
.tree_detail_val{
 width:200px; display:inline;
 float:right;
}


/* MAP */

#map{
height:382px;
}
#index_map{
border:10px solid #eef5d8;
height:400px;
}
#results_map{
position:relative;
height:480px;
width:622px;
}
#results_map_wrap{
height:480px;
width:622px;
border:10px solid #eef5d8;
overflow: hidden;
position:relative;
}
#favorite_tree_map{
height:250px;
width:260px;
border:10px solid #eef5d8;
}
#edit_tree_map_wrap{
height:220px;
width:260px;
border:10px solid #eef5d8;
overflow: hidden;
position:relative;
}
#edit_tree_map{
height:220px;
width:260px;
overflow: hidden;
position:relative;
}
#add_tree_map_wrap{
position:relative;
float:left;
width: 630px;
height:350px;
border:10px solid #eef5d8;
overflow: hidden;
}
#add_tree_map{
position:relative;
width: 630px;
height:350px;
overflow: hidden;
}
#add_tree_map #geocode_address {
position: absolute;
right: 10px;
top: 10px;
z-index: 1000;
padding: 10px;
text-align:right;
background: #000;
color: #fff;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
opacity: .9;
filter: alpha(opacity=90);
}
#add_tree_nearby {
float:left;
background: #fff;
border: 1px solid #ccc;
min-height: 338px;
margin-left: 15px;
padding: 15px;
width: 205px;
}
.addMap{
margin-left:210px;
margin-bottom:15px;
}
#static_map{
height:40px;%
width:40px;
}

#tree_streetview{
height:220px;
width:260px;
border:10px solid #eef5d8;
padding-top:0;
margin-top:0;
}
#add_tree_streetview{
height:180px;
width:270px;
}
#max_tree_infowindow{
width:390px;
min-height:225px;
background: #fff;
margin:0;
padding:0;
}

#infowindow{
color:#555;
}
#infowindow_left{
    float:left;
    width:210px;
    border-right:1px solid #E25A00;
}
#infowindow_right{
    width:150px;
    float:right;
}
.activeEditRowValue {
    margin:0;
    padding:0;
}
.activeEditTable tr th {
    font-weight: normal;
}
.activeEditTable tr td {
    font-weight: bold;
}    
.activeEditRowLabel {
    text-align: left;
    width: 30%;
    font-weight: normal; 
}
.activeEdit {
    margin: 0;
    padding: 0;
    width: 90%;
/*
    background-color: #ccc;
    border: 1px solid red;
*/
} 
ul.edit .activeEdit input {
	width:150px;
    background-color: #f2f2f2;
    border:1px solid #e2e2e2;
    margin-left:0px;
}
ul.edit .activeEdit button, input.button {
	float:left;
	width:50px;
	background: #fff url(../images/v2/buttonsm_bg.gif) repeat-x center center;
	border:2px solid #d8731a;
	text-align:center;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	padding:2px 5px;
	margin:7px 10px 7px 0;
	cursor: pointer;
}
ul.edit .activeEdit button:hover {
	background:#e08a00;
	text-decoration:none;
} 
.activeEdit button, input.button {
	clear:both;
	background: #fff url(../images/v2/buttonsm_bg.gif) repeat-x center center;
	border:2px solid #d8731a;
	text-align:center;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	padding:2px 5px;
	margin:7px 10px 7px -6px;
	cursor: pointer;
}
input.button {
    margin-top:-2px;
}
.activeEdit button:hover {
	background:#e08a00;
	text-decoration:none;
}    
.activeEdit input, .activeEdit select {
/*     display: block; */
    background-color: #f2f2f2;
    border:1px solid #e2e2e2;
	line-height:10px;
    padding:3px 0 3px 5px;
    margin:-4px 0 0 -7px;
/*     width: 50%; */
}
#edit_dbh {
	display:block;
	margin-top:1px;
	padding-bottom:22px;
	border-bottom:1px solid #eef5d8;
}
.activeEdit input.hide {
    border: 0;
    padding: 0;
    margin: 0;
}
.activeEdit select {
    width:195px;
}
.activeEdit #month_, .activeEdit #day_, .activeEdit #year_ {
    width: 55px;
    margin: 0;
}
#actionTypeSelection select, #hazardTypeSelection select {
    width:125px;
}
#actionTypeSelection option, #hazardTypeSelection option, .activeEdit option {
    font-size:12px;
    padding:0
    margin:0;
    background-color: #f2f2f2;
    border:1px solid #e2e2e2;
}
#hazardTable, #actionTable {
    font-size:12px;
}

#feet_, #inches_ {
    width:50px;
    margin-right:20px;
}

#max_polygon_infowindow {
    padding-left: 8px;
}
#max_polygon_infowindow h3 {
    background: #FFF;
    font-family: 'Delicious Heavy', serif;
    font-size: 20px;
    color: #38AF8D;
    font-weight: normal;
    margin: 4px 0 10px;
}
#max_polygon_infowindow a {
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 0 20px;
    background: url(../images/icon_popover_edit.png) no-repeat center left;
    margin: 10px 0 2px 0;
    color: #38AF8D;
    display: block;
}
#max_polygon_infowindow .polygon_infowindow_row {
    clear: both;
}
#max_polygon_infowindow .polygon_infowindow_row:hover {
    background: #EEF5D8;
}
#max_polygon_infowindow .polygon_infowindow_row .label {
    width: 100px;
    float: left;
    padding: 3px 8px 3px 3px;
    color: #999;
}
#max_polygon_infowindow .polygon_infowindow_row .results {
    padding: 3px 8px 3px 10px;
    color: #666;
}


/* MAP MARKER HOVER */
.olLayerDiv div {
cursor:pointer;
}

/* OPEN LAYERS CONTROLS */

.content .buttomSm.mapToggle {
    position:absolute;
    top:10px;
    right:10px;
    z-index: 1000;
	background-color: #333333;
    font-size: 11px;
}

.olControlPanPanel {
    left: 10px !important;
    top: 10px !important;
}
.olControlPanPanel div {
    background-image: url("../images/pan-sprite.png") !important;
	position:absolute
}
.olControlPanPanel .olControlPanNorthItemInactive {
    height: 13px !important;
    left: 0 !important;
    width: 38px !important;
}
.olControlPanPanel .olControlPanNorthItemInactive:hover {
    background-position: -37px 0 !important;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    background-position: 0 -25px !important;
    height: 13px !important;
    left: 0 !important;
    top: 25px !important;
    width: 38px !important;
}
.olControlPanPanel .olControlPanSouthItemInactive:hover {
    background-position: -37px -25px !important;
}
.olControlPanPanel .olControlPanWestItemInactive {
    background-position: 0 -13px !important;
    height: 12px !important;
    top: 13px !important;
    width: 19px !important;
}
.olControlPanPanel .olControlPanWestItemInactive:hover {
    background-position: -37px -13px !important;
}
.olControlPanPanel .olControlPanEastItemInactive {
    background-position: -19px -13px !important;
    height: 12px !important;
    left: 19px !important;
    top: 13px !important;
    width: 18px !important;
}
.olControlPanPanel .olControlPanEastItemInactive:hover {
    background-position: -56px -13px !important;
}
.olControlZoomPanel {
    left: 19px !important;
    top: 54px !important;
}

#tree_detail .olControlZoomPanel, #tree_edit .olControlZoomPanel {
    left: 19px !important;
    top: 19px !important;
}

.olControlZoomPanel div {
	background-image: url("../images/zoom-sprite.png") !important;
	background-repeat: no-repeat;
	position:absolute
}

.olControlZoomPanel .olControlZoomInItemInactive {
	background-position: 0 0 !important;
    height: 16px !important;
    width: 19px !important;
}
.olControlZoomPanel .olControlZoomInItemInactive:hover {
	background-position: -19px 0 !important;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
	background-position: 0 -15px !important;
    height: 15px !important;
	width: 19px !important;
    top: 16px !important;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive:hover {
	background-position: -19px -15px !important;
}
.olControlZoomPanel .olControlZoomOutItemInactive {
    height: 16px !important;
    width: 19px !important;
	top: 31px !important;
	background-position: 0 -32px !important;
}
.olControlZoomPanel .olControlZoomOutItemInactive:hover {
	background-position: -19px -32px !important;
}

.olControlAttribution {bottom: 0 !important}
