.home_container, .content {
  border: 1px solid #74aeb1;
}

ul#searchBoxes {border: 2px solid #61B6A5}

#searchBox {
 /* 
 this breaks the search-related drop-down panels
 filter:progid:DXImageTransform.Microsoft.Shadow(color='#60abaf', Direction=135, Strength=3); */
 
}
