html{
	background:#fff;
}
html,body{height: 100%;}
body{
	background: #fff url(../images/es/bg-body.gif) no-repeat 50% 0;
	margin:0;
	font:11px Arial, Helvetica, sans-serif;
	color:#666;
	min-width:1000px;
}
a{
	text-decoration:none;
	color:#c60;
}
a:hover{text-decoration:underline;}
img{border-style:none;}
input, textarea, select{
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{min-height: 100%;}
* html #wrapper {height: 100%;}
.wrap{width:100%;}
.wrap:after{
	content:"";
	display:block;
	clear:both;
}
.w1 {padding-bottom: 100px;}
/* header */
#header{
	width:944px;
	overflow:hidden;
	margin:0 auto;
	position:relative;
}
.logo{
	width: 234px;
	height: 90px;
	text-indent:-9999px;
	overflow:hidden;
	float:left;
	background:url(../images/es/logo.png) no-repeat;
	margin:0;
}
.logo a{
	display:block;
	height:100%;
	position:relative;
}
.button{
	color:#fff;
	background: url(../images/es/bg-btn-right.gif) no-repeat 100% 0;
	display:block;
	padding-right:3px;
	position:relative;
}
.button span{
	display:block;
	background: url(../images/es/bg-btn-left.gif) no-repeat;
	cursor:pointer;
	padding:4px 3px 4px 6px;
	position:relative;
}
/* navigation */
#nav{
	float:right;
	list-style:none;
	margin:45px -4px 0 0;
	padding:3px 0 0;
}
#nav li{
	float:left;
	background: url(../images/es/separator01.gif) no-repeat 0 2px;
	padding:0 4px 0 6px;
}
#nav li:first-child{
	background:none;
	padding-left:0;
}
/*#nav li a,
#nav li span{float:left;}
#nav li span{padding-left:4px;} */
#nav li .button{
	font-size:10px;
	margin:-3px 0 0 4px;
}
#nav li .button span{
         margin-left:39px;
         margin-top:-16px;
}
/* search box */
.search-box{
	background: url(../images/es/bg-search-box.gif) repeat-x;
	margin:-20px 0 9px;
	width:100%;
	height:68px;
}
.search-box .holder{
	width:944px;
	margin:0 auto;
	overflow:hidden;
	padding:14px 0;
	background: url(../images/es/separator02.gif) no-repeat 480px 5px;
}
.search-box .holder .frame{
	width:1000px;
	overflow:hidden;
}
.search-box .address,
.search-box .address fieldset{float:left;}
.search-box .address{margin-right:42px;}
.address label,
.address input{float:left;}
.address input{
	font-size:10px;
	color:#999;
	border:1px solid #ccc;
	width:222px;
	padding:6px 9px;
	margin-right:6px;
}
.address label{
	font-size:14px;
	color:#000;
	margin-right:7px;
	padding-top:6px;
}
.address .examples{
	color:#666;
	font-size:10px;
	display:block;
	margin-left:142px;
	clear:left;
}
.address .btn{
	background: url(../images/es/bg-btn.gif) no-repeat;
	width: 48px;
	height: 21px;
	color:#fff;
	font-size:11px;
	text-align:center;
	border:0;
	padding:3px 4px;
	margin:5px 0 0;
	cursor:pointer; 
}
.search-box .explore label{
	width:160px;
	text-align:right;
}
.explore .examples{
	margin-left:170px !important;
}
/* promo box */
.promo{
	width:944px;
	margin:0 auto 5px;
	overflow:hidden;
}
.promo .aside{
	width:376px;
	float:left;
	padding-top:0px;
	font-size:17px;
}
.aside .onetree{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background: url(../images/es/text-one-tree.gif) no-repeat;
	width: 371px;
	height: 119px;
	margin-bottom:10px;
}
.aside ul{
	list-style:none;
	margin:0 0 0 74px;
	padding:0;
	font-size:28px;
}
.aside ul li{
	padding:2px 0 8px 48px;
	margin-bottom:13px;
}
.aside ul li.find{background: url(../images/es/ico-find.gif) no-repeat;}
.aside ul li.add{background: url(../images/es/ico-add.gif) no-repeat;}
.aside ul li.support{background: url(../images/es/ico-support.gif) no-repeat;}
.promo .aside p{margin:0 0 10px;}
.promo .visual{
	width:551px;
	float:right;
	overflow:hidden;
}
.visual .map{
	border:3px solid #666;
	float:left;
}
/*
.visual .map img{display:block;}
*/
.visual .map img{margin-right:5px;}
.visual ul{
	list-style:none;
	margin:11px 0 0;
	padding:0;
	width:600px;
	overflow:hidden;
}
.visual ul li,
.visual ul a,
.visual ul img{float:left;}
.visual ul li{
	border:2px solid #c60;
	margin:0 14px 0 0;	
}
.threecolumns{
	width:944px;
	margin:0 auto;
	padding:7px 28px 15px;
	overflow:hidden;
	background:#fff url(../images/es/bg-threecolumns.gif) no-repeat 0 100%;
	border-top:1px solid #949494;
}
.threecolumns .holder{
	width:1000px;
	overflow:hidden;
}
.threecolumns .box{
	width:283px;
	float:left;
	padding:0 24px 0 24px;
	margin:0 25px 0 -24px;
}
.box h2{
	margin:0;
	padding:4px 0 0 33px;
	background: url(../images/es/bg-title.gif) no-repeat;
	font-size:18px;
	color:#000;
	position:relative;
}
.box p{margin:0;}
.box .more{
	font-size:10px;
	font-weight:bold;
	line-height:11px;
	background: url(../images/es/bullet01.gif) no-repeat 100% 4px;
	padding-right:9px;
	margin-top:-10px;
	position:relative;
	float:right;
}
.box .more span{display:none;}
.box ul{
	list-style:none;
	margin:0;
	padding:0;
}
.box ul li{
	background: url(../images/es/bullet02.gif) no-repeat 0 5px !important;
	padding-left:8px;
	margin-bottom:4px;
}
.box .container{
	width:100%;
	margin:-1px 0 -3px;
	padding-bottom:5px;
	background: url(../images/es/separator04.gif) no-repeat 30px 0;
}
/* inner page */
.inner .promo{
	background:#fff;
	padding-top:10px;
}
.inner .promo .aside{
	width:260px;
	background:#e7f3d9;
	border:1px solid #6e6e6d;
	padding:16px 20px 12px;
}
.inner .promo .aside h2{
	font-size:14px;
	color:#360;
	margin:0;
}
.inner .promo .aside .sub-title{
	font-size:11px;
	font-weight:normal;
	display:block;
	margin-bottom:3px;
}
.inner .promo .aside .sub-title a{
	background: url(../images/es/bullet01.gif) no-repeat 100% 4px;
	padding:0 8px 0 0;
	font-weight:bold;
}
.inner .promo .aside .select-trees{
	list-style:none;
	margin:0;
	padding:0;
	font-size:11px;
	line-height:13px;
}
.inner .promo .aside .select-trees li{
	background: url(../images/es/bg-dotted-line.gif) repeat-x;
	padding:3px 0 4px;
	margin-bottom:0;
}
.inner .promo .aside .select-trees strong{
	color:#333;
	display:block;
	margin-bottom:5px;
}
.select-trees .alignleft{
	float:left;
	border:1px solid #999;
	margin-right: 13px;
}
* html .select-trees .alignleft{margin-right:10px;}
.select-trees .price{
	display:block;
	color:#333;
	font-size:18px;
	padding-top:11px;
}
.select-trees dl{
	height:1%;
	overflow:hidden;
	padding-top:6px;
}
.select-trees dl,
.select-trees dl dt,
.select-trees dl dd{margin:0;}
.select-trees dl dt{margin-right:5px;}
.select-trees dl dd{
	color:#333;
	font-weight:bold;
}
.select-trees dl dt{float:left;}
.select-trees dl dd{
	height:1%;
	overflow:hidden;
}
.select-trees em{font-style:normal;}
.inner .visual{width:630px;}
.heading{
	width:940px;
	margin:0 auto;
	background: url(../images/es/bg-solid-line.gif) repeat-x 0 100%;	
	border:solid #666;
	border-width:1px 1px 0;
}
.heading .holder{
	height:1%;
	overflow:hidden;
	background: url(../images/es/bg-heading.png);
	padding:12px 10px 0 22px;
	position:relative;
}
.heading h2{
	float:left;
	margin:0;
	font-size:22px;
	color:#333;
}
.heading h2 span{color:#360;}
.heading .advanced{
	float:right;
	background: url(../images/es/bg-advanced-r.gif) no-repeat 100% 0;
	padding-right:5px;
	margin:8px 0 -3px;
}
.heading .advanced span{
	float:left;
	background: url(../images/es/bg-advanced-l.gif) no-repeat;
	padding:13px 15px 12px 	18px;
	cursor:pointer;
}
.heading .advanced em{
	font-style:normal;
	background: url(../images/es/bullet01.gif) no-repeat 100% 4px;
	padding-right:10px;
	float:left;
	font-size:10px;
}
.heading .active em{
	background: url(../images/es/bullet04.gif) no-repeat 100% 50% !important;
	font-weight:bold;
	height:12px;
	line-height:10px;
}
.heading .active span{padding:13px 15px 12px 18px;}
.inner .visual strong{
	font-weight:normal;
	display:block;
	margin-bottom:4px;
}
.twocolumns{
	width:944px;
	margin:0 auto 4px;
	overflow:hidden;
	background: url(../images/es/bg-twocolumns.gif) no-repeat 450px 5px;
}
.twocolumns h2{
	color:#360;
	margin:0 0 4px;
	font-size:14px;
}
.twocolumns .box-1 p{margin:0 0 6px;}
.twocolumns .box-1{
	width:350px;
	float:left;
}
.twocolumns .box-1 table{
	border-collapse:collapse;
	padding:0;
	margin:0;
	color:#999;
}
.twocolumns .box-1 table td{
	vertical-align:top;
	padding:5px 0 7px;
}
.twocolumns .box-1 table .image{
	width:50px;
	padding-top:0;
}
.twocolumns .box-1 table .image img{border:1px solid #999;}
.twocolumns .box-1 table em{
	font-style:normal;
	color:#666;
}
.twocolumns .box-2{
	width:470px;
	float:right;
}
.box-2 .title{
	width:100%;
	overflow:hidden;
	margin-bottom:2px;
}
.box-2 .title h2{float:left;}
.box-2 .title a{
	font-size:14px;
	background: url(../images/es/bullet03.gif) no-repeat 100% 5px;
	padding-right:7px;
	float:right;
}
.box-2 .photos{
	list-style:none;
	margin:0 0 10px;
	padding:0 0 10px;
	width:100%;
	overflow:hidden;
	background: url(../images/es/bg-dotted-line.gif) repeat-x 0 100%;
}
.box-2 .photos li{
	float:left;
	margin-right:17px;
}
.box-2 .photos img{border:1px solid #999;}
.box-2 .comments{
	background: url(../images/es/bg-comments.gif) no-repeat;
	padding:0 0 0 27px;
	height:1%;
	overflow:hidden;
}
.box-2 .comments p{margin:0;}
.box-2 .comments .more{
	float:right;
	background: url(../images/es/bullet01.gif) no-repeat 100% 5px;
	padding-right:7px;
}
.inner .threecolumns h2,
.login-page .threecolumns h2{
	color:#333;
	margin:0 0 6px;
	font-size:18px;
}
.inner .threecolumns p{
	padding-bottom:8px;
	line-height:12px;
}
.inner .threecolumns .more{
	background-position:100% 50%;
	line-height:12px;
}
.threecolumns .box .number{
	float:left;
	font-size:80px;
	line-height:61px;
	font-weight:bold;
	margin-right:8px;
}
.threecolumns .box .mark{
	color:#360;
	font-size:14px;
	font-weight:bold;
}
.filter-box{
	width:900px;
	margin:0 auto;
	background:#fff url(../images/es/bg-filter-box.gif) repeat-x;
	overflow:hidden;
	padding:10px 20px 6px;
	border:1px solid;
	border-width:0 1px 1px;
}
.filter-box .parameter{
	width:201px;
	float:left;
}
.filter-box .wrap{background: url(../images/es/bg-catigories.gif) no-repeat 611px 0;}
.filter-box .parameter .title{
	width:100%;
	overflow:hidden;
}
.parameter ul{
	list-style:none;
	margin:0;
	padding:0;
}
.parameter ul li{padding-bottom:2px;}
.parameter .title strong{
	float:left;
	color:#333;
}
.parameter .title em{
	float:right;
	color:#c60;
	font-style:normal;
}
.filter-box .options,
.parameter .options fieldset{float:left;}
.filter-box .options{
	margin-left:48px;
	display:inline;
}
.filter-box .options strong{
	color:#333;
	display:block;
	margin-bottom:3px;
}
.filter-box .options ul{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width:100%;
}
.filter-box .options ul li{
	float:left;
	width:100%;
}
.filter-box .options label,
.filter-box .options input{float:left;}
.filter-box .options label{color:#333;}
.filter-box .options input{
	margin:0 4px 4px 0;
	padding:0;
}
* html .filter-box .options label{padding-top:3px;}
*+html .filter-box .options label{padding-top:3px;}
.filter-box .characteristics{
	float:left;
	width:155px;
}
.filter-box .project_trees{
	float:left;
	width:207px;
	margin-right:36px;
}
.filter-box .outstanding{
	width:167px;
	float:left;
}
.filter-box .search-results{
	height:1%;
	overflow:hidden;
	background: url(../images/es/bg-dotted-line.gif) repeat-x;
	padding:8px 0 0;
	margin-top:6px;
	font-weight:bold;
}
.search-results .search-info{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	overflow:hidden;
}
.search-results .search-info li{
	float:left;
	color:#360;
	background: url(../images/es/separator01.gif) no-repeat 0 3px;
	margin:0 6px 0 -6px;
	padding:0 6px 0 5px;
}
.search-results .add{float:left;}
.search-results strong{float:right;}
.search-links{
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
.search-links li{
	background: url(../images/es/separator01.gif) no-repeat 0 2px;
	padding:0 5px 0 6px;
	margin:0 -6px 0 6px;
	float:left;
	font-weight:bold;
}
/* main */
#main{
	width:944px;
	background:#fff;
	padding-top:13px;
	margin:-13px auto 13px;
	position:relative;
}
#main .main-holder{
	width:100%;
	background: url(../images/es/bg-main-holder.gif) repeat-y;
}
#main .main-frame{
	width:100%;
	background: url(../images/es/bg-main.gif) no-repeat 0 0;
}
#main .main-container{
	width:100%;
	overflow:hidden;
	background: url(../images/es/bg-main-frame.gif) no-repeat 0 100%;
}
/* content */
#contentbody{
	width:704px;
	float:right;
}
#contentbody .tabset{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
}
#contentbody .tabset li{
	float:left;
	margin-right:8px;
}
#contentbody .tabset a{
	width:140px;
	display:block;
	text-align:center;
	background: url(../images/es/bg-tab-right.gif) no-repeat 100% -37px;
	padding-right: 5px;
	height:37px;
	overflow:hidden;
}
#contentbody .tabset a:hover,
#contentbody .tabset li.active a{
	text-decoration:none;
	background-position:100% 0;
}
#contentbody .tabset a span{
	display:block;
	background: url(../images/es/bg-tab-left.gif) no-repeat 0 -37px;
	font-weight:bold;
	font-size:18px;
	line-height:21px;
	color:#999;
	padding:9px 0 7px;
	cursor:pointer;
}
#contentbody .tabset-holder{
	background: url(../images/es/bg-solid-line.gif) repeat-x 0 100%;
	width:100%;
	overflow:hidden;
}
#contentbody .tabset a:hover span,
#contentbody .tabset li.active a span{
	background-position:0 0;
	color:#333;
}
#contentbody .add-tree{
	float:right;
	background: url(../images/es/bullet03.gif) no-repeat 100% 5px;
	padding-right:8px;
	font-size:14px;
	margin-top:14px;
}
/* tab-content */
#contentbody .tab-content{
	height:1%;
	overflow:hidden;
	background: url(../images/es/bg-tab-content.gif) repeat-x;
	padding:11px 0 0 14px;
	border-left:1px solid #666;
}
.tab-content .complete{
	width:100%;
	overflow:hidden;
	margin-bottom:10px;
}
.tab-content .complete .alignleft{
	float:left;
	margin-right:4px;
}
.tab-content .complete span{padding-right:7px;}
.tab-content .complete .more{
	background: url(../images/es/bullet03.gif) no-repeat 100% 4px;
	padding-right:8px;
}
.tab-content .data{
	width:388px;
	float:left;
}
.tab-content h2{
	color:#360;
	font-size:14px;
	float:left;
	margin:8px 14px 0 0;
}
.tab-content .attributes{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
.tab-content .attributes li{
	float:left;
	margin-right:10px;
}
.tab-content .attributes li img{
	border:1px solid #a2a2a2;
	float:left;
}
.common-attributes{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
.common-attributes li{
	float:left;
	width:100%;
	background: url(../images/es/bg-dotted-line.gif) repeat-x;
	margin:-1px 0 1px;
	padding:8px 0 5px;
}
.common-attributes strong{
	color:#333;
	display:block;
}
.common-attributes dl,
.common-attributes dl dt,
.common-attributes dl dd{
	margin:0;
}
.common-attributes dl dt{
	float:left;
	width:220px;
}
.common-attributes dl dd{
	width:128px;
	overflow:hidden;
	color:#333;
	float:left;
}
.common-attributes dl dd span,
.common-attributes dl dd a{float:left;}
.common-attributes dl dd a{
	font-size:9px;
	padding:2px 0 0 2px;
}
.common-attributes .edit{
	background: url(../images/es/ico-edit.gif) no-repeat;
	width: 12px;
	height: 12px;
	float:right;
	overflow:hidden;
	text-indent:-9999px;
}
.common-attributes .measurement{
	background: url(../images/es/ico-measurement.gif) no-repeat;
	padding-left:18px;
	font-size:9px;
	left:13px;
}
.tab-content .aside{
	float:right;
	width:273px;
	text-align:right;
}
.tab-content .aside .title-edit{
	font-weight:normal;
	background: url(../images/es/ico-title-edit.gif) no-repeat;
	padding-left:24px;
	margin:0 0 8px;
	line-height:17px;
}
.tab-content .aside a{
	background: url(../images/es/bullet01.gif) no-repeat 100% 4px;
	padding-right:8px;
	font-size:10px;
	float:right;
	margin-bottom:12px;
}
.tab-content .aside img{
	border:1px solid #000;
	color:#6f6f6f;
	float:right;
	margin-bottom:4px;
}
.tab-content .comments,
.tab-content .recent-photos{
	width:100%;
	overflow:hidden;
	border-top:1px solid #666;
	padding:9px 0;
}
.tab-content .comments .title{
	width:100%;
	overflow:hidden;
}
.tab-content .comments .title h2{
	float:left;
	margin:0;
}
.tab-content .comments .title a{
	float:right;
	font-size:14px;
	background: url(../images/es/bullet03.gif) no-repeat 100% 4px;
	padding-right:8px;
}
.tab-content .comments ul{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
.comments ul li{
	float:left;
	width:100%;
	background: url(../images/es/bg-dotted-line.gif) repeat-x;
	margin:-1px 0 1px;
	padding-top:7px;
	margin-bottom:4px;
}
.comments ul .user-info{
	width:50px;
	float:left;
}
.comments ul .user-info img{
	float:left;
	border:1px solid #666;
	margin-top:2px;
}
.comments ul .user-info span{
	display:block;
	font-size:10px;
}
.comments ul .user-info a{padding-left:3px;}
.comments ul .post{
	width:544px;
	padding:0 70px 0 24px;
	float:left;
	background: url(../images/es/bg-comments.gif) no-repeat 0 15px;
	position:relative;
	color:#333;
}
.comments ul .post em{
	display:block;
	margin-left:-24px;
	font-style:normal;
	margin-bottom:3px;
	color:#666;
}
.comments ul .post p{margin:0;}
.comments ul .post a{
	position:absolute;
	right:0;
	bottom:0;
	background: url(../images/es/bullet01.gif) no-repeat 100% 4px;
	padding-right:8px;
	font-size:10px;
}
.tab-content .comments textarea{
	width:679px;
	height:124px;
	max-width:679px;
	max-height:124px;
	overflow:auto;
	border:1px solid #999;
	margin-bottom:8px;
	padding:3px;
}
.tab-content .comments .submit,
.tab-content .comments .cancel{
	background: url(../images/es/btn-submit.gif) no-repeat;
	width: 105px;
	height: 21px;
	border:0;
	color:#fff;
	font-weight:bold;
	padding:0;
	float:left;
	margin-right:8px;
	cursor:pointer;
	padding-top:9px;
}
.tab-content .comments .cancel{
	background-image:none;
	color:#c60;
	width:auto;
}
.tab-content .comments .submit2{
	background: url(../images/es/btn-submit2.gif) no-repeat;
	width: 105px;
	height: 33px;
	float:left;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	border:0;
	margin-right:7px;
	cursor:pointer;
}
.tab-content .comments form span{
	margin-right:3px;
	float:left;
	padding-top:9px;	
	font-weight:bold;
}
.tab-content .add-photo-box{
	width:100%;
	overflow:hidden;
}
#contentbody .tab-content .add-photo-box h2{
	float:none;
	margin-top:4px;
}
.tab-content .add-photo {
	background: url(../images/es/bg-dotted-line.gif) repeat-x 0 100%;
	padding-bottom:12px;
	margin-bottom:11px;
}
.tab-content .add-photo label,
.tab-content .add-photo input{float:left;}
.tab-content .add-photo input{width:209px;}
.tab-content .add-photo label{
	padding-top:3px;
	color:#333;
	margin-right:14px;
}
.tab-content .add-photo .submit{
	display:none;
}
.tab-content .photos{
	list-style:none;
	margin:10px 0 0;
	padding:0;
	width:715px;
	overflow:hidden;
}
.tab-content .photos li{
	display:inline-block;
	vertical-align:top;
	width:155px;
	margin:0 23px 18px 0;
}
.tab-content .photos li a{
	display:inline-block;
	height:1%;
}
* html .tab-content .photos li{
	display:inline;
	height:1%;
}
*+html .tab-content .photos li{
	display:inline;
	height:1%;
}
.tab-content .photos li img{
	vertical-align:top;
	border:1px solid #ababab;
}
.tab-content .photos li .del{
	background: url(../images/es/ico-delete.gif) no-repeat 0 1px;
	padding:2px 0 2px 15px;
	color:#666;
	font-weight:bold;
	font-size:9px;
	margin-top:3px;
	display:inline-block;
}
.form-add-tree .common-attributes dl dd{
	width:220px;
	margin-bottom:3px;
}
.form-add-tree input{
	float:left;
	border:1px solid #999;
	font-size:10px;
	padding:0 2px 0;
	color:#666;
}
.form-add-tree select{color:#666;}
.form-add-tree label{
	float:left;
	margin-right:4px;
}
.form-add-tree .name{width:206px;}
.form-add-tree .param{
	width:35px;
	margin-right:4px;}
.form-add-tree .id-key{
	background: url(../images/es/ico-key.gif) no-repeat;
	padding-left:15px;
}
.form-add-tree .submit{
	display:none;
}
.form-add-tree  .measurement{padding:0 0 2px 15px;}
.form-add-tree .condition{
	width:212px;
	margin-bottom:3px;
}
.form-add-tree .alerts{
	width:66px;
	float:left;
	margin-right:7px;
	display:inline;
}
.form-add-tree .date{width:68px;}
.form-add-tree .calendar{
	float:left;
	background: url(../images/es/ico-calendar.gif) no-repeat;
	width: 17px;
	height: 14px;
	overflow:hidden;
	text-indent:-9999px;
	margin-left:4px;
	display:inline;
}
table.favorite,
table.addet{
	border-collapse:collapse;
	padding:0;
	margin:10px 0 0;
	color:#999;
}
table.favorite td,
table.addet td{
	vertical-align:top;
	padding:0 0 7px;
}
table.favorite .image,
table.addet .image{
	width:50px;
	padding-top:0;
}
table.favorite .neighborhood,
table.addet .neighborhood{width:83px;}
table.favorite .species,
table.addet .species{width:76px;}
table.favorite .planted,
table.addet .planted{width:84px;}
table.favorite .added,
table.addet .added{width:70px;}
table.addet .update{width:278px;}
table.favorite .image img,
table.addet .image img{border:1px solid #999;}
table.favorite em,
table.addet em{
	font-style:normal;
	color:#666;
}
table.favorite span,
table.addet span{display:block;}
table.addet .update p{
	margin:0;
	color:#666;
}
.tab-content .all{
	background: url(../images/es/bullet01.gif) no-repeat 100% 5px;
	padding-right:7px;
	margin:-10px 0 0 49px;
	float:left;
	position:relative;
}
.tab-content .recent-photos ul{
	list-style:none;
	margin:0;
	padding:0;
	font-size:10px;
	width:800px;
}
.tab-content .recent-photos li{
	display:inline-block;
	vertical-align:top;
	width:204px;
	margin:0 38px 18px 0;
}
.tab-content .recent-photos li a{
	display:inline-block;
	height:1%;
}
* html .tab-content .recent-photos li{
	display:inline;
	height:1%;
}
*+html .tab-content .recent-photos li{
	display:inline;
	height:1%;
}
.tab-content .recent-photos li img{
	vertical-align:top;
	border:1px solid #ababab;
}
.tab-content .recent-photos dl{
	width:100%;
	margin:0 auto;
}
.tab-content .recent-photos dl,
.tab-content .recent-photos dl dt,
.tab-content .recent-photos dl dd{margin:0;}
.tab-content .recent-photos dl{
	padding-top:5px;
}
.tab-content .recent-photos dl dt{
	float:left;
	width:51px;
	clear:left;
}
.tab-content .recent-photos dl dd{
	float:left;
	width:100px;
}
.recent-photos .all{margin:-15px 0 0;}
/* sidebar */
#sidebar{
	width:186px;
	float:left;
	border-top:1px solid #757774;
	padding:22px;
	min-height:439px;
}
* html #sidebar{height:439px;}
#sidebar .gallery{
	width:100%;
	overflow:hidden;
	border-bottom:1px solid #666;
	padding-bottom:9px;
	margin-bottom:5px;
}
#sidebar .gallery img{
	display:block;
	border:1px solid #80827d;
	margin-bottom:7px;
}
#sidebar .gallery ul{
	width:189px;
	overflow:hidden;
	list-style:none;
	margin:6px 0 0;
	padding:0;
}
#sidebar .gallery ul li{
	float:left;
	margin-right:6px;
}
#sidebar .add{
	background: url(../images/es/bullet01.gif) no-repeat 100% 4px;
	padding-right: 8px;
	float:left;
	line-height:12px;
}
#sidebar .title{
	color:#333;
	display:block;
	margin-bottom:3px;
}
#sidebar .tools{
	list-style:none;
	margin:0 0 4px;
	padding:0 0 5px;
	border-bottom:1px solid #666;
}
#sidebar .tools li{padding-bottom:3px;}
#sidebar .tools li span{
	color:#666;
	font-size:9px;
}
#sidebar .updates{
	list-style:none;
	margin:-4px 0 0;
	padding:0;
	line-height:13px;
	width:100%;
	overflow:hidden;
}
#sidebar .updates li{
	background: url(../images/es/bg-dotted-line.gif) repeat-x;
	float:left;
	width:100%;
	margin:-1px 0 1px;
	padding:6px 0 4px;
}
.updates dl,
.updates dl dt,
.updates dl dd{margin:0;}
.updates dl dt{
	float:left;
	width:56px;
}
.updates dl dd{
	color:#333;
	width:126px;
	overflow:hidden;
	float:left;
}
#sidebar p{margin:0;}
#sidebar .flag{
	background: url(../images/es/ico-flag.gif) no-repeat 0 1px;
	padding-left:17px;
	font-size:14px;
}
#sidebar .feedback{
	background: url(../images/es/ico-feedback.gif) no-repeat 0 1px;
	padding-left:17px;
	font-size:14px;
}
#sidebar .dotted-line{
	background: url(../images/es/bg-dotted-line.gif) repeat-x 0 50%;
	height:1px;
	padding:6px 0 5px;
}
#sidebar .gallery .add-menu{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
#sidebar .gallery .add-menu li{
	background: url(../images/es/separator05.gif) no-repeat 0 2px;
	padding:0 5px 0 6px;
	margin:0 5px 0 -6px;
}
#sidebar .add-photo{
	background:#e4e5e5;
	border:1px solid #666;
	padding:53px 0 0 45px;
	margin-bottom:20px;
	height:68px;
	width:138px;
	overflow:hidden;
}
#sidebar .add-photo a{
	background: url(../images/es/ico-add-photos.gif) no-repeat;
	color:#360;
	font-size:14px;
	padding:2px 0 2px 27px;
}
/*user-profile-new*/
.tabset-holder .delete-account{
	float:right;
	background: url(../images/es/ico-stop02.gif) no-repeat;
	padding-left:20px;
	margin-top:15px;
	color:#666;
	line-height:14px;
}
.new-profile .data{
	width:460px;
	padding-bottom:7px;
}
.new-profile .aside{
	width:140px;
	padding-top:17px;
}
.aside .unfavorite{
	list-style:none;
	margin:0;
	padding:20px 23px 0 0;
	float:right;
	width:80px;
	overflow:hidden;
}
#contentbody .aside .unfavorite li{
	background: url(../images/es/ico-stop.gif) no-repeat;
	margin-bottom:28px;
	padding:1px 0 0 14px;
	height:13px;
	float:right;
}
.aside .unfavorite li a{
	font-size:9px;
	color:#666;
	float:right;
	margin:0;
	padding:0;
	background:none;
}
.new-profile .favorite .neighborhood{
	width:103px;
}
.new-profile .favorite .species{
	width:110px;
}
.new-profile .favorite .planted{
	width:107px;
}
.comments ul .post .more{
	position:static;
	background:none;
	font-weight:bold;
	padding:0;
	font-size:11px;
}
.comments ul .post .options-box{
	position:absolute;
	right:37px;
	top:17px;
	width:43px;
}
.comments ul .post .options-box .edit,
.comments ul .post .options-box .delete{
	padding:1px 0 5px 16px;
	font-size:9px;
	position:static;
	height:15px;
	display:block;
	color:#666;
}
.comments ul .post .options-box .edit{
	background: url(../images/es/ico-pen.gif) no-repeat;
}
.comments ul .post .options-box .delete{
	background: url(../images/es/ico-stop.gif) no-repeat;
}
.new-profile .comments ul .post{
	width:520px;
}
.new-profile .comments .wrap .all{
	margin-top:0;
}
#sidebar .gallery .name{
	float:left;
	font-size:14px;
	color:#333;
}
#sidebar .wrap .edit{
	background: url(../images/es/ico-pen.gif) no-repeat;
	width:13px;
	height:13px;
	float:right;
	text-indent:-9999px;
	overflow:hidden;
	margin:1px 5px 0 0;
	display:inline;
}
#sidebar .gallery .place{
	padding-top:12px;
}
#sidebar .gallery .joined{
	font-size:9px;
	font-style:normal;
}
#sidebar .line-box{
	width:100%;
	height:1px;
	overflow:hidden;
	background: url(../images/es/separator06.gif) repeat-x;
	margin-bottom:6px;
}
.side-box strong{
	float:left;
	color:#333;
	padding:0 3px 1px 0;
}
.side-box{
	padding:0 0 9px;
}
.side-box em{
	float:left;
	font-style:normal;
	font-size:9px;
	padding-top:2px;
}
.side-box .wrap span{
	float:left;
	color:#333;
	padding-right:3px;
}
.notifications-form .add-row{
	padding-bottom:9px;
}
.notifications-form .submit{
	display:none;
}
.notifications-form .check{
	float:left;
	width:14px;
	height:14px;
	margin:0 4px 0 0;
	padding:0;
}
.notifications-form label{
	float:left;
	color:#333;
}
.notifications-form span{
	display:block;
	margin-bottom:3px;
}
/*login-page*/
.login-page #main{
	background:none;
}
.login-register{
	width:300px;
	float:left;
}
.login-register h2{
	margin:0 0 11px;
	color:#333;
	font-size:18px;
}
.login-register .row{
	width:100%;
	overflow:hidden;
	margin-bottom:22px;
}
.login-register .row .label,
.login-register .row label{
	width:55px;
	float:left;
	font-size:10px;
	padding-top:3px;
}
.login-register .row .holder{
	float:left;
	width:242px;
}
.login-register .holder span{
	height:1%;
	overflow:hidden;
	display:block;
	background: url(../images/es/bg-input.gif) no-repeat;
}
.login-register .holder .text{
	float:left;
	width:236px;
	height:13px;
	padding:2px 3px;
	margin-bottom:3px;
	font-size:10px;
	background:none;
	border:0;	
}
.login-register .holder .choice{
	list-style:none;
	margin:0;
	padding:0;
}
.login-register .holder .choice li{
	width:100%;
	overflow:hidden;
	float:left;
}
.login-register .holder .choice .radio{
	float:left;
	margin:0;
	padding:0;
	width:14px;
	height:14px;
}
.login-register .holder .choice label{
	float:left;
	width:190px;
	padding:1px 0 0 2px;
}
.login-register .holder a{
	font-size:10px;
	background: url(../images/es/bullet01.gif) no-repeat 100% 4px;
	padding-right:10px;
}
.login-register .holder .image{
	width:43px;
	height:20px;
	margin-top:9px;
	float:none;
	display:block;
}
#main .support-box{
	float:right;
	width:192px;
	min-height:161px;
	border:1px solid #757774;
	background:#e7f3d9;
	padding:12px 18px;
	margin:-4px 3px 0 0;
	position:relative;
}
* html #main .support-box{
	height:161px;
}
#main .support-box h3{
	margin:0 0 7px;
	font-size:14px;
	color:#360;
}
#main .support-box p{
	margin:0 0 2px;
}
#main .support-box a{
	background: url(../images/es/bullet01.gif) no-repeat 100% 5px;
	padding-right:10px;
}
/* footer */
#footer {
	position:relative;
	width: 100%;
	xmargin-top:-85px;
	padding:8px 0 0;
	border-top:1px solid #666;
}
.footer-holder{
	width:944px;
	overflow:hidden;
	margin:0 auto;
}
.side-box .feedback{
	padding:1px 0 0 17px;
	background: url(../images/es/ico-speak.gif) no-repeat;
	color:#c60;
	font-size:14px;
	font-weight:normal;
	display:block;
	float:none;
	line-height:14px;
}
.side-box p{
	padding-left:16px;
}
#footer .footer-nav{
	float:right;
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
.footer-nav li{
	float:left;
	background: url(../images/es/separator01.gif) no-repeat 100% 2px;
	padding:0 4px;
	margin:0 -4px 0 4px;
}
.ad{float:left;}
.ad strong{
	font-size:12px;
	float:left;
}
.ad ul{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	clear:left;
}
.ad ul li{margin-right:12px;}
.ad ul li,
.ad ul a,
.ad ul img{float:left;}
/* popup */
.popup{
	width:418px;
	padding:10px 0 0;
	background:url(../images/es/bg-popup-top.png) no-repeat;
}
.popup .b {
	overflow:hidden;
	background:url(../images/es/bg-popup-bot.png) no-repeat;
	height: 30px;
}
.popup .c{
	height:1%;
	padding:0 7px 0 3px;
	background:url(../images/es/bg-popup-cen.png) repeat-y;
}
.popup .content-popup{overflow:hidden;}
.popup .title{
	height:1%;
	overflow:hidden;
	border-bottom:1px solid #666;
	padding:0 5px 2px 21px;
	background:#fff;
}
.popup .title h2{
	float:left;
	margin:0;
	color:#360;
}
.popup .title .buttons{
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}
.popup .title .buttons li{
	float:left;
	margin-left:1px;
	display:inline;
}
.popup .title .buttons a{
	float:left;
	overflow:hidden;
	text-indent:-9999px;
	width: 18px;
	height: 18px;
}
.popup .title .buttons a.collapse{background: url(../images/es/ico-collapse.gif) no-repeat;}
.popup .title .buttons a.close{background: url(../images/es/ico-close.gif) no-repeat;}
.popup .tabset-holder{
	height:1%;
	overflow:hidden;
	background:#f0f1f1;
	padding:7px 5px 2px 21px;
}
.popup .tabset-holder span{
	float:left;
	color:#333;
	margin-top:10px;
	font-weight:bold;
}
.popup .tabset-holder .tabset{
	float:right;
	list-style:none;
	margin:0 0 -2px;
	padding:0;
	position:relative;
}
.popup .tabset-holder .tabset li{
	height:30px;
	overflow:hidden;
	float:left;
	margin-right:5px;
}
.popup .tabset-holder .tabset a,
.popup .tabset-holder .tabset em{float:left;}
.popup .tabset-holder .tabset a{
	background: url(../images/es/bg-tab-r.gif) no-repeat 100% 0;
	padding-right:5px;
	font-size:10px;
	font-weight:bold;
	color:#999;
}
.popup .tabset-holder .tabset em{
	font-style:normal;
	background: url(../images/es/bg-tab-l.gif) no-repeat;
	padding:10px 21px;
}
.popup .tabset-holder .tabset a:hover,
.popup .tabset-holder .tabset li.active a{
	background-position: 100% -30px;
	text-decoration:none;
	color:#333;
}
.popup .tabset-holder .tabset a:hover em,
.popup .tabset-holder .tabset li.active em{
	background-position:0 -30px
}
.popup .tab-content{
	height:1%;
	overflow:hidden;
	background:#fff url(../images/es/bg-tab-content.gif) repeat-x;
	padding:10px 0 5px;
	border-top:1px solid #666;
	margin-top:-1px;
}
.popup .tab-content .col-1{
	float:left;
	width:238px;
	background: url(../images/es/bg-col-1.gif) no-repeat 100% 0;
}
.popup .tab-content dl,
.popup .tab-content dl dt,
.popup .tab-content dl dd{
	margin:0;
}
.popup .tab-content dl{
	width:100%;
	overflow:hidden;
}
.popup .tab-content dl dt{
	width:97px;
	text-align:right;
	float:left;
	margin:0 10px 4px 0;
}
.popup .tab-content dl dd{
	height:1%;
	overflow:hidden;
	color:#333;
	font-weight:bold;
	margin-bottom:4px;
}
.popup .tab-content .col-2{
	width:153px;
	float:left;
	padding-left:15px;
}
.popup .tab-content .col-2 .view-more{
	background: url(../images/es/ico-details.gif) no-repeat 0 2px;
	padding-left:19px;
	float:left;
	font-size:14px;
}
.popup .tab-content .col-2 span{
	padding-left:15px;
	font-size:10px;
	display:block;
	margin-bottom:3px;
}
.popup .tab-content .col-2 img{
	border:1px solid #666;
	display:block;
	margin-bottom:5px;
}
.popup .tab-content .service{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
.popup .tab-content .service li{
	float:left;
	width:100%;
}
.popup .tab-content .service a{
	float:left;
	padding-left:20px;
	font-size:11px;
	line-height:14px;
	padding-bottom:3px;
}
.popup .tab-content .service .favorite{background: url(../images/es/ico-favorite.gif) no-repeat;}
.popup .tab-content .service .email{background: url(../images/es/ico-email.gif) no-repeat;}
.popup .tab-content .service .print{background: url(../images/es/ico-print.gif) no-repeat;}
.popup .tab-content .service .twitter{background: url(../images/es/ico-twitter.gif) no-repeat;}



/* Custom CSS by Onsumaye start here*/

.callout ul{
	list-style:none;
	margin:0px 0 0;
	padding:0;
	
	overflow:hidden;
}
.callout ul li,
.callout ul a,
.calloutl ul img{float:left;}
.callout ul li{
	border:2px solid #c60;
	margin:0 14px 0 0;	
}
.callout li.last{

	margin:0 0px 0 0;	
}

.callout {
margin:0 auto 12px;
overflow:hidden;
width:944px;
}
.callout .callout-inner {
	float:right;
}

.content{
	width:944px;
	margin:0 auto 5px;
	overflow:hidden;
	
}
.main{
	
	background:#fff;
	padding-top:13px;
	margin:-13px auto 13px;
	position:relative;
}

.loginform{

}

/* GENERAL ERROR MESSAGING
** _____________________________________________________________________________
*/


#genError {
	background:#eff5d9;
	padding:15px;
	margin-bottom:25px;
	margin-top:0px;
	color:red;
	font-size:20px;
}
#smError {
	font-size:14px;
}


/* LOGIN AND REGISTRATION FORM 
** _____________________________________________________________________________
*/

#register{
	width:670px;
	padding:14px;
/* 	background:#e2e2e2; */
}
#register h1 {
	clear:both;
	font-size:20px;
	font-weight:bold;
	color:#666;
	margin-bottom:20px;
	border-bottom:solid 1px #9ebd2e;
	padding-bottom:5px;
	padding-left:10px;
}
#register label{
	display:block;
	font-size:14px;
	font-weight:normal;
	text-align:right;
	width:200px;
	float:left;
}
#register label.required{
	font-weight:bold;
}
#register label#error {
	color:red;
}
#register .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:200px;
}
#register input{
	float:left;
	font-size:16px;
	color:#666;
	padding:8px 2px;
	border:solid 1px #9ebd2e;
/* 	background-color:#e8f0ca; */
	width:250px;
	margin:0 20px 20px 10px;
}
#register #taken {
	line-height: 30px;
	font-size:14px;
	color:red;
	font-weight:bold;
}
#register .radio {
	width:20px;
	margin-right:260px;
}
#register .checkbox {
	width:20px;
	margin-right:260px;
}
#register .note {
	font-size:11px;
	font-weight:normal;
}
#register button { 
	clear:both;
	margin-left:210px;
	height:26px;
	background: #fff url(../images/buttonlg_bg.gif) repeat-x center center;
	border:2px solid #d8731a;
	text-align:center;
	line-height:18px;
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	cursor: pointer;
	padding-right:15px;
	padding-left:15px;
}
#register button:hover {
	background:#e08a00;
}