<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript" src="{{ STATIC_URL }}all_misc.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jeditable.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.query-2.1.7.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}treemap.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.autocomplete.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/treekey.css" type="text/css"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/ptm.css" type="text/css"/>
	{% block extra_head %} {% endblock extra_head %}
	<script type="text/javascript">
		//var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		//document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var _gaq = [];
		//_gaq.push(['_setAccount', 'UA-XXXXX-X']);
		//_gaq.push(['_trackPageview']);
	</script>

	<script type="text/javascript">
		jQuery().ready(tm.baseTemplatePageLoad);
    </script>
</head>

<body>
{% include "header.html" %}

	<div class="content">

		{% include "treekey/trail.html" %}

		<div class="left-panel">{% block left_panel %}
			{% include "treekey/list.html" %}
			{% endblock left_panel %}
		</div>
		<div class="right-panel">
			{% block right_panel %} {% endblock right_panel %}
		</div>
	</div>

	{% include "footer.html" %}

</body>

</html>
