<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="/static/css/treekey.css" type="text/css"/>
	<link rel="stylesheet" href="/static/css/ptm.css" type="text/css"/>
	{% block extra_head %} {% endblock extra_head %}
</head>

<body>
{% include "header.html" %}

	<div class="content">

		{% include "treekey/trail.html" %}

		<div class="left-panel">{% block left_panel %}
			{% include "treekey/list.html" %}
			{% endblock left_panel %}
		</div>
		<div class="right-panel">
			{% block right_panel %} {% endblock right_panel %}
		</div>
	</div>

	{% include "footer.html" %}
</body>

</html>