{% extends "treekey/base.html" %}

{% block right_panel %}

	<div class="leaf-name">
		{{ leaf }}
	</div>
	{% for species in leaf.species.all %}
		<div class="leaf-choice">
			<div class="leaf-image"><a href="{{ SITE_ROOT }}treekey/species/{{ species.id }}/"><img src="{{ species.first_image_url }}" /></a></div>
			<div class="leaf-info">
				<div class="leaf-species-name">
					<a href="{{ SITE_ROOT }}treekey/species/{{ species.id }}/">{{ species }}</a>
				</div>
				<div class="leaf-species-feature">
					<span class="label">Distinguishing Features:</span> <span class="feature">{{species.feature}}</span>
				</div>
			</div>
			<div class="clearLeft"></div>
		</div>
	{% endfor %}

{% endblock right_panel %}
