<div class="trail">
	<div class="browse"><a href="{{ SITE_ROOT }}treekey/browse">Browse</a></div>
	<span class="crumb"><a href="{{ SITE_ROOT }}treekey/start">Tree Key</a></span> 
	{% for crumb in trail %}
		{% if forloop.first %} > {% endif %}
		{% if forloop.last %}

			<span class="crumb last-crumb">{{ crumb }}</span>

		{% else %}

			<span class="crumb"><a href="{{ SITE_ROOT }}treekey/node/{{ crumb.id }}">{{ crumb }}</a></span>
			<span class="crumb-sep"> > </span>

		{% endif %}

	{% endfor %}

</div>
