{% extends "template_2.html" %}

{% load url from future %}

{% block extrahead %}
    {% load compressed %}
    {% compressed_js 'map' %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="{{ STATIC_URL }}js/importer.js"></script>

{% endblock %}

{% block content_body_top %}
{% endblock %}


{% block middle_panel %}

<h1>Bulk Uploader</h1>

<div>
  <h1>Tree Import</h1>
  <form method="POST" action="{% url 'importer.views.create' %}" enctype="multipart/form-data">
    <input type="hidden" name="type" value="tree"></input>
    File to Upload: <input type="file" name="file"></input>
    <input type="submit" name="go"></input>
  </form>

  <h1>Species Import</h1>
  <form method="POST" action="{% url 'importer.views.create' %}" enctype="multipart/form-data">
    <input type="hidden" name="type" value="species"></input>
    File to Upload: <input type="file" name="file"></input>
    <input type="submit" name="go"></input>
  </form>
</div>

<div>
  <h1>Active Tree Imports</h1>
  {% include 'importer/partials/import_table.html' with things=trees_active id="activetree" link="trees" %}
</div>
<div>
  <h1>Finished Tree Imports</h1>
  {% include 'importer/partials/import_table.html' with things=trees_finished id="finishedtree" link="trees" %}
</div>
<div>
  <h1>Active Species Imports</h1>
  {% include 'importer/partials/import_table.html' with things=species_active id="activespecies" link="species" %}
</div>
<div>
  <h1>Finished Species Imports</h1>
  {% include 'importer/partials/import_table.html' with things=species_finished id="finishedspecies" link="species" %}
</div>

{% endblock %}

{% block right_panel %}
{% endblock right_panel %}


{% block content_body_bottom %}
{% endblock %}



{% block left_panel %}
{% endblock left_panel %}




{% block endpage %}
{% endblock endpage %}
