{% extends "template_2.html" %}

{% load url from future %}

{% block extrahead %}
    {% load compressed %}
    {% compressed_js 'map' %}
<!-- <script> importer js </script> -->
{% endblock %}

{% block content_body_top %}
{% endblock %}


{% block middle_panel %}

<h1>Tree Imports</h1>

<table>
{% for ie in treeevents %}
  <tr>
    <td>{{ ie.pk }}</td>
    <td class="col1Wide">{{ ie.file_name }}</td>
    <td>{{ ie.created }}</td>
    <td><a href="{% url 'importer.views.show_tree_import_status' ie.pk %}">
        More Information
      </a></td>
  </tr>
{% endfor %}
</table>

<h1>Species Imports</h1>

<table>
{% for ie in speciesevents %}
  <tr>
    <td>{{ ie.pk }}</td>
    <td class="col1Wide">{{ ie.file_name }}</td>
    <td>{{ ie.created }}</td>
    <td><a href="{% url 'importer.views.show_species_import_status' ie.pk %}">
        More Information
      </a></td>
  </tr>
{% endfor %}
</table>


{% endblock %}

{% block right_panel %}
{% endblock right_panel %}


{% block content_body_bottom %}
{% endblock %}



{% block left_panel %}
{% endblock left_panel %}




{% block endpage %}
{% endblock endpage %}
