{% extends "profiles/base.html" %}
{% load thumbnail dynamic_attribute %}

{% block extrahead %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
	    <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2&mkt=en-us"></script>

<script type="text/javascript">
    jQuery().ready(function() {
        var favorite_trees = '{{favorite_trees}}';
        tm.init_favorite_map('{{ profile.user.username }}'); //not editable
        tm.add_favorite_handlers('/trees/favorites/create/', '/trees/favorites/delete/');

    });

</script>
{% endblock %}


        {% block content_body_top %}
        <!-- start contentbody -->
        <div id="contentbody">

            <h2 id="pageHead">Profile</h2>
         

            <div class="tab-content" id="tab-1">

        <div class="wrap">
        {% endblock %}


{% block left_panel %}

        <div id="t2_top_left_panel">
            <ul id="userImage">
                <li>{% if profile.photo %}
                <img src="{% thumbnail profile.photo 200x100 bw autocrop %}" class="mainImage" />{% else %}<img src="{{ STATIC_URL }}images/v2/profile1.gif" alt="Profile image" width="180" class="mainImage" />
                {% endif %}</li>
            </ul>


           {% if profile.user = user %}



            <ul id="imageOptions">
                <li id="first">
                    <a href="{% url profiles.views.edit_photo profile.username %}">{% if profile.photo %}Change photo{% else %}Add photo{% endif %} &raquo;
                    </a>
                </li>
                <!--<li><a href="#">Remove photo</a></li>-->
            </ul>
            <ul id="userInfo">
                <li>{{  profile.user }}</li>
                <li id="joinDate">Joined on {{ profile.user.date_joined|date:"M d, Y" }}</li>
            </ul>
            <ul id="message">
                <li id="title">Profile <div class="Info note">Not publicly displayed</div></li>
                <li>
                    <ul class="edit">
                        <li id="edit_first_name">{{ profile.user.first_name|default:"<b>Add first name</b>" }}
                        <li class="editItem"><a href="#" onclick="$('#edit_first_name').trigger('click')">Edit</a></li>
                        <script>tm.setupEdit("first_name", "User", {{ profile.user.id }});</script>
                    </ul>
                    <ul class="edit">
                        <li id="edit_last_name" >{{ profile.user.last_name|default:"<b>Add last name</b>" }}
                        <li class="editItem"><a href="#" onclick="$('#edit_last_name').trigger('click')">Edit</a></li>
                        <script>tm.setupEdit("last_name", "User", {{ profile.user.id }});</script>
                    </ul>
                    <ul class="edit">
                        <li id="edit_email">{{  profile.email|default:"Email not provided" }}</li>
                        <li class="editItem"><a href="#" onclick="$('#edit_email').trigger('click')">Edit</a></li>
                        <script>tm.setupEdit("email", "User", {{ profile.user.id }});</script>
                    </ul>
                    <ul class="edit">
                        <li id="edit_zip_code">{{  profile.zip_code|default:"Add zipcode" }}</li>
                        <li class="editItem"><a href="#" onclick="$('#edit_zip_code').trigger('click')">Edit</a></li>
                        <script>tm.setupEdit("zip_code", "UserProfile", {{ profile.id }});</script>
                    </ul>
                </li>
                <li>
                    <ul class="edit">
                        <li>Password</li>
                        <li class="editItem"><a href="{{ SITE_ROOT }}accounts/password/reset">Reset</a></li>
                    </ul>
                </li>
                <li>
                	<ul class="edit">
                		<li></li>
                		<li></li>
                	</ul>
                </li>
            </ul>
            <ul id="message">
                <li id="title">Keep Me Updated with Occasional Emails <div class="Info note">Not publicly displayed</div></li>
                <li>
                    <ul class="edit">
                        <li id="edit_updates"><b>{{ profile.get_updates_display }}</b></li>
                        <li class="editItem"><a href="#" onclick="$('#edit_updates').trigger('click')">Change</a></li>
                        <script>tm.setupEdit("updates", "UserProfile", {{ profile.id }},{'type':'select',data: {'true':'Yes','false':'No'}});</script>
                    </ul>
                </li>
            </ul>
            <ul id="message">
                <li id="title">Account Active?</li><div class="Info note">Keep this as "yes" unless you want to delete your account</div>
                <li>
                    <ul class="edit">
                        <li id="edit_active"><b>{{ profile.get_active_display }}</b></li>
                        <li class="editItem"><a href="#" onclick="$('#edit_active').trigger('click')">Change</a></li>
                        <script>tm.setupEdit("active", "UserProfile", {{ profile.id }},{'type':'select',data: {'true':'Yes','false':'No'}});</script>
                    </ul>
                </li>
            </ul>
            <ul id="message">
                <li id="title">Feedback</li>
                <li>Got something to say? <a href="{{ SITE_ROOT }}contact">Send us feeckback!</a></li>
            </ul>

            {% else %}
            <ul id="userInfo">
                <li>{{ profile.user.username }}</li>
                <li id="joinDate">Joined on {{ profile.user.date_joined|date:"M d, Y" }}</li>
            </ul>
            <ul id="message">
                <li id="title">Your turn</li>
                <li>Our database of trees comes from reliable sources and gets better with help from our users. <a href="{% url treemap.views.tree_add %}">Add trees and help us grow!</a></li>
            </ul>

            {% endif %}


        </div>

{% endblock left_panel %}



{% block middle_panel %}
<div class="comments" id="first">
    <div class="wrap">
            <h2>Favorite Trees</h2>
        {% if profile.user.treefavorite_set.count > 0 %}
        {% else %}
            {% if profile.user = user %}
                <div class="note">You have not favorited any trees yet!</div>
            {% else %}
                <div class="note">This user hasn't favorited any trees</div>
            {% endif %}
        {% endif %}
    </div>

    {% if profile.user.treefavorite_set.count > 0 %}
        <!-- outer table to hold favorites / map -->
        <div id="favoritesContainer">
        <div id="favoritesData">
            <table><tr><td>
            <table class="favorite">
            {% for fav in profile.user.treefavorite_set.all %}
                <tr>
                    <td class="fav">
        		       <a href="{% url treemap.views.trees fav.tree.id %}">View</a><br>
                       <a href="#" class="favorite fav unfave" id="favorite_{{fav.tree.id}}">Unfavorite</a><br>
                    </td>
                    <td class="species">
                        <span>Tree species</span>
                        <em>{{ fav.tree.species.common_name|default:"Unknown" }}</em>
                    </td>
                    <td class="planted">
                        <span>Date planted</span>
                        <em>{{ fav.tree.date_planted|date:"M d, Y"|default:"Unknown" }}</em>
                    </td>
                    <td class="added">
                        <span>Last Updated</span>
                        <em>{{ fav.tree.last_updated|date:"M d, Y"|default:"Unknown"  }}</em>
                    </td>
                </tr>
                {% endfor %}
                <!-- TODO - do we need this? -->
                <!--
                <tr>
                    <td colspan="5"><p><a href="#">See all favorites &raquo;</a></p></td>
                </tr>
                -->
            </table>
            </td>
            </tr>
            </table>
        </div>
            <div id="favoritesMap">
                    <div id="favorite_tree_map">
						<div class="shadowTop"></div>
						<div class="shadowLeft"></div>
					</div>
                    <div id="alternate_tree_div"></div>
            </div>
        </div> <!-- end favoritesContainer -->
    {% endif %}

</div>


            <div class="comments">
                <div class="wrap">
                  <h2>Recently Added and Edited Trees</h2>
                </div>
                <table class="addet">
                    {% for tree in profile.recently_edited_trees %}
                    <tr>
                        <td class="fav">
            		       <a href="{% url treemap.views.trees tree.3 %}">View</a><br>
                           <!--<a href="#" class="favorite fav unfave" id="favorite_{{tree.id}}">Unfavorite</a><br>-->
                        </td>
                        <td class="species">
                            <span>Tree species</span>
                            <em>{{ tree.0|default:"Unknown" }}</em>
                        </td>
                        <td class="planted">
                            <span>Date planted</span>
                            <em>{{ tree.1|date:"M d, Y"|default:"Unknown" }}</em>
                        </td>
                        <td class="added">
                            <span>Last Updated</span>
                            <em>{{ tree.2|date:"M d, Y"|default:"Unknown"  }}</em>
                        </td>


                    </tr>
                    {% endfor %}
                    <!--
                     <tr>
                        <td colspan="4"><p><a href="#">See all updates &raquo;</a></p></td>
                    </tr>
                    -->

                </table>
            </div>
            {% comment %}
            <div class="comments">
                <div class="wrap">
                  <h2>Comments</h2>
                </div>
                <ul>
                   {% for story in recent_stories %}
                    <li>
                        <div class="user-info">
                            <img src="{{ STATIC_URL }}images/es/image22.gif" alt="image description" width="40" height="40" />
                            <span>18 posts</span>
                        </div>
                        <div class="post">
                            <p><a href="#">Josh L.</a><br />"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget nibh nisi, tincidunt interdum magna. Nam  consectetur, nibh non sagittis iaculis Nam consectetur, nibh non sagittis iaculis, leo elit lobortis tellus, sit amet fermentum augue neque vitae odio. Donec sed ipsum lectus, et convallis mauris non tellus nisl consectetur..." <a href="#" class="more">More</a></p>
                        </div>
                    </li>
                     {% endfor %}
                </ul>
                <!--
                <table class="addet" id="extra">
                    <tr>
                        <td colspan="4"><a href="#">See all comments and stories &raquo;</a></td>
                    </tr>
                </table>
                -->
            </div>
            {% endcomment %}


            <div class="recent-photos">
                <div class="wrap">
                  <h2>Recent Photos Added</h2>
                </div>
                {% if profile.recently_added_photos %}
                <ul>
                    {% for pic in profile.recently_added_photos %}
                    <li>
                        <a href="{% url treemap.views.trees pic.tree.id %}">
                            <img src="{% thumbnail pic.photo 100x70 crop %}" alt="image description" width="202" height="146" />
                        </a>

                        <dl>
                            <dt>Tree #:</dt>
                            <dd><a href="{% url treemap.views.trees pic.tree.id %}">{{ pic.tree.id }}</a></dd>
                            <dt>Added on:</dt>
                            <dd>{{ pic.reported|date:"M d, Y"|default:"Unknown"  }}</dd>
                        </dl>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                   No photos yet!
                {% endif %}
                <!--
                <table class="addet">
                    <tr>
                        <td colspan="4"><a href="#">See all photos &raquo;</a></td>
                    </tr>
                </table>
                -->
            </div>
			<div class="recent-photos">
				<div class="wrap">
					<h2>Total Reputation: {{ profile.user.reputation.reputation|stringformat:"+d" }}</h2>
				</div>
				<div class="wrap">
				  <h2>Recent Reputation Changes</h2>
				</div>
				{% if profile.recently_changed_reputation %}
				<table class="addet">
					{% for change in profile.recently_changed_reputation %}
					<tr>
						<td class="species">
							<span>Action</span>
							<em>{{ change.action.name|default:"Unknown" }}</em>
						</td>
						<td class="planted">
							<span>Date</span>
							<em>{{ change.date_created|date:"M d, Y"|default:"Unknown" }}</em>
						</td>
						<td class="added">
							<span>Value</span>
							<em>{{ change.value|stringformat:"+d"  }}</em>
						</td>


					</tr>
					{% endfor %}
					<!--
					 <tr>
						<td colspan="4"><p><a href="#">See all changes &raquo;</a></p></td>
					</tr>
					-->

                </table>
				{% else %}
				   No changes yet!
				{% endif %}
			</div>
{% comment %}
			<div class="recent-photos">
				<div class="wrap">
					<h2>My Achievements</h2>
				</div>
				<table class="addet">
					{% for badge in profile.badges %}
						<tr>
							<td class="title">
								<span>Title</span>
								<em>{{ badge.badge.title }}</em>
							</td>
							<td class="desc">
								<span>Description</span>
								<em>{{ badge.badge.description }}</em>
							</td>
							<td class="received">
								<span>Completed</span>
								<em>{{ badge.created|date:"M d, Y" }}</em>
							</td>
						</tr>
					{% endfor %}
					{% for badge in profile.badges_in_progress %}
						<tr>
							<td class="title">
								<span>Title</span>
								<em>{{ badge.0.title }}</em>
							</td>
							<td class="desc">
								<span>Description</span>
								<em>{{ badge.0.description }}</em>
							</td>
							<td class="received">
								<span>Progress</span>
								<em>{{ badge.1 }} of {{badge.0.meta_badge.progress_finish}}</em>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
{% endcomment %}
{% endblock %}
