{% load url from future %}
{% load tree_tags %}

{% with counts=ie.row_type_counts count=ie.rows.count %}
<tr data-id="{{ ie.pk }}"
    data-running="{% if ie.status == 2 or ie.status == 4 %}true{% else %}false{% endif %}" >
  <td>{{ ie }}</td><td>{{ ie.status_summary }}</td>
{% if ie.status == 2 or ie.status == 4 %}
  <td data-count="{{ count }}">
    {% if counts.3 %}
      {{ count|subtract:counts.3 }} /
    {% endif %}

    {{ count }}
  </td><td></td>
{% else %}
  {% if ie.status == 3 or ie.status == 5 or ie.status == 6 %}
    <td>{{ ie.rows.count }}</td>
    <td>
      <a href="{{ SITE_ROOT }}importer/export/{{ link }}/{{ ie.pk }}">
        Export
      </a>
      |
      <a href="{{ SITE_ROOT }}importer/status/{{ link }}/{{ ie.pk}}">
        View
      </a>
    </td>
  {% else %}
    <td></td><td></td>
  {% endif %}
{% endif %}
</tr>
{% endwith %}
