 <div id="footer"> 
    <div class="footer-holder"> 
        <div class="ad"> 
            <strong>Our Partners</strong> 
            <ul> 
                <li><a href="http://www.fuf.net/"><img src="{{ STATIC_URL }}images/SanFrancisco/es/ad01.gif" alt="image description" width="59" height="61" /></a></li> 
                <li><a href="http://www.fuf.net/"><img src="{{ STATIC_URL }}images/SanFrancisco/es/ad02.gif" alt="Friends of the Urban Forest" width="133" height="61" /></a></li> 
                <li><a href="http://www.fire.ca.gov/"><img src="{{ STATIC_URL }}images/SanFrancisco/es/ad03.gif" alt="CalFire" width="46" height="61" /></a></li> 
                <li><a href="http://www.sfgov.org/"><img src="{{ STATIC_URL }}images/SanFrancisco/es/ad04.gif" alt="City & County of San Francisco" width="56" height="59" /></a></li> 
            </ul> 
        </div> 
        <ul class="footer-nav"> 
            <li><a href="{% url treemap.views.tree_add %}">Add a tree</a></li> 
            <li><a href="{{ SITE_ROOT }}about/">About</a></li> 
            <li><a href="{{ SITE_ROOT }}resources/">Resources</a></li> 
            <li><a href="http://blog.urbanforestmap.org/">Blog</a></li>
            <li><a href="{{ SITE_ROOT }}contact/">Contact</a></li> 
            <li><a href="{{ SITE_ROOT }}donate/">Donate</a></li> 
            {% if user.is_authenticated %}
               <li>Logged in as <a href="{{ SITE_ROOT }}profiles/{{user.username}}/">{{user.username|escape}}</a>
               <span id="logout"><a href="{{ SITE_ROOT }}accounts/logout/?next={{ SITE_ROOT }}" id="logout">(Logout)</a></span>
               {% if user.is_superuser %}
                   <li><a href="{{ SITE_ROOT }}_admin_/">Admin</a></li>
               {% endif %}
               {% if user.reputation.reputation > 1000 %}
                   <li><a href="{% url treemap.views.verify_edits %}">Recent Changes</a></li>
               {% endif %}
            {% else %}
                <li><a href="{{ SITE_ROOT }}accounts/login/">Login</a> or <a href="{{ SITE_ROOT }}accounts/register/" class="buttomSm">Sign up</a></li>
            {% endif %}
        </ul> 
    </div> 
    <a href="https://twitter.com/UrbanForestMap" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @UrbanForestMap</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FUrbanForestMap&amp;width=292&amp;height=72&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:72px; position:absolute; top:50px;right:20px;" allowTransparency="true"></iframe>
  
    <br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>.
</div> 
