{% extends "base.html" %}

{% block body_load %}{% endblock %}

{% block tophead %}

{% endblock %}
{% block extrahead %}
<script type="text/javascript">
    jQuery().ready(function() {
        tm_urls.tc_url = '{{ TC_URL }}'
        {% comment %}
        //tm.neighborhoods = {{ neighborhoods|safe }};
        //tm.districts = {{ districts|safe }};
        {% endcomment %}
        {% block extra_onready %}
        {% endblock %}
     });
</script>
{% endblock %}

{% block content %}
    
        <div class="content home">
        	<div id="t4_top_content">
	            {% block top_content %}
	                <div id="t4_top_left_panel">
	                    {% block top_left_panel %}
	                    {% endblock top_left_panel %}
	                </div>
	                
	                <div id="t4_top_right_panel">
	                    {% block top_right_panel %}
	                    {% endblock top_right_panel %}
	                </div>
	            {% endblock top_content %}
			</div>
		</div>
		
        <div id="content">
            <div id="t4_bottom_content">
                {% block bottom_content %}
                    <div class="twocolumns"> 
                        <div id="t4_bottom_left_panel">
                            {% block bottom_left_panel %}
                            {% endblock bottom_left_panel %}
                        </div>
                        
                        <div id="t4_bottom_right_panel">
                            {% block bottom_right_panel %}
                            {% endblock bottom_right_panel %}
                        </div>
                    </div>

                {% endblock bottom_content %}    
            </div>
        </div>
    
    
{% endblock %}


