<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Philly Tree Map{% endblock %}</title>

        {% block tophead %}
        {% endblock %}

        {% if 0 %}
        <script type="text/javascript" src="/static/jquery/ui/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/static/jquery/ui/js/jquery-ui-1.8rc3.custom.min.js"></script>

        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>-->

        <script type="text/javascript" src="/static/jquery/jquery.autocomplete.min.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.jeditable.min.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.address-1.1.min.js"></script>
        <script type="text/javascript" src="/static/json2.js"></script>
        {% else %}
        <script type="text/javascript" src="/static/all_misc.js"></script>
        <script type="text/javascript" src="/static/jquery/jquery.jeditable.min.js"></script>

        {% endif %}

        <script type="text/javascript" src="/static/jquery/jquery.query-2.1.7.js"></script>
        <script type="text/javascript" src="/static/treemap.js"></script>
        <link rel="stylesheet" href="/static/css/treemap.css" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/ptm.css" media="all" />
        <link rel="stylesheet" href="/static/jquery/ui/css/ui-lightness/jquery-ui-1.8rc3.custom.css" type="text/css"/>
<script type="text/javascript" src="/static/maps/TMbak.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.autocomplete.css" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" />
        <!--<link type="text/css" href="http://jqueryui.com/latest/themes/base/jquery.ui.all.css" rel="stylesheet" />-->


        {% block js_ready %}
        <script type="text/javascript">
            jQuery().ready(tm.baseTemplatePageLoad);
        </script>
        {% endblock %}

        {% block extrahead %}
        {% endblock %}

</head>

<body {% block body_load %}{% endblock %} class="{%block body_class%}base_body{%endblock %}">
    <div id="wrapper">

<!-- start: header -->
		<div id="headerNavWrap">
			<div id="headerNavContent">
				<ul id="headerNavLinks">
					<li id="headerNavExplore" class="active"><a href="/map/"></a></li>
					<li id="headerNavAdd"><a href="/trees/add/"></a></li>
					<!--<li id="headerNavUpdate"><a href=""></a></li>-->
					<li id="headerNavSupport"><a href="/about/"></a></li>
				</ul>
				<div id="loginlogout">
						 {% if user.is_authenticated %}
								Hello, <b><a href="/profiles/{{user.username}}/">{{user.username|escape}}!</a></b>  <span id="logout"> <a href="/accounts/logout/?next=/" id="logout" class="buttonSmall">Logout</a></span>
						{% else %}
							<a href="/accounts/login/" class="buttonSmall">Login</a> or <a href="/accounts/register/" class="buttonSmall">Sign up</a>
						{% endif %}
				</div>
			</div>
		</div>



	<!-- end: header -->

	<!-- start: search box -->

	<div id="headerWrap">
			<div id="headerContainer">
					<h1 id="logo"><a href="/">Philly Tree Map</a></h1>
					
			<div id="searchBox">
				<div>
					<div id="headerLocationSearch">
						<h2 id="labelLocationSearch"></h2><a class="floatRight" href="">Featured Searches</a>
					</div>
					<div id="headerSpeciesSearch">
						<h2 id="labelSpeciesSearch"></h2><a href="#" id="advanced" class="advanced floatRight">Advanced filters</a>	
					</div>
				</div>
					
					<form method="get" action="/map/" name="address" class="address" id="search_form">
					<ul id="searchBoxes">	
						<li id="searchLocationBox">
							<div id="searchLocationBrowse" class="buttonMed"><div class="icon"></div><div class="label"
							></div></div>
							<div class="headerSearchContainer">
								<input type="text"  name="location" onFocus="this.value=''" id="location_search_input" class="headerSearch" value="Philadelphia, PA" />
								<div class="go buttonSmall"><div class="label"></div></div>
							</div>
						</li>					
						<li id="searchSpeciesBox">
							<div id="searchSpeciesBrowse" class="buttonMed"><div class="icon"></div><div class="label"
							></div></div>
							  <div class="headerSearchContainer">
								  <input type="text"  id="species_search_input" class="headerSearch" value="All trees"
								   onFocus='if (this.value == "All trees") { this.value=""; };' />
								   <div class="go buttonSmall"><div class="label"></div></div>
								</div>
							  <input type='hidden' name='species_search_id' id="species_search_id" />
							  <input type='hidden' name='species_search_id' id="species_search_id_cultivar" />
							</li>
	
					</ul>
					</form>

					
				</div>
				<div class="clearBoth"></div>
			</div>
			
                <div class="filter-box" style="display:none">
                    <div class="wrap">
						<div class="filter-box-control">
							<h2 id="advanced-filters"></h2>
							<button id="close-fitlers">Reset</button>
						</div>
                        <div class="parameter">
                            <ul>
                                <li>
                                    <div class="title">
                                        <strong>Diameter</strong>
                                        <em><span id="min_diam">0</span> inches - <span id="max_diam">50</span> inches</em>
                                    </div>
                                    <div style="width:200px; height:10px;" id="diameter_slider"></div>
                                </li>

                                <li>
                                    <div class="title">
                                        <strong>Plant Date</strong>
                                        <em><span id="min_planted">1700</span> -
                                        <span id="max_planted">2010</span></em>
                                    </div>
                                    <div style="width:200px; height:10px;" id="planted_slider"></div>
                                </li>
                                <li>
                                    <div class="title">
                                        <strong>Last Tree Update</strong>
                                        <em><span id="min_updated">0</span> -
                                        <span id="max_updated">365</span></em>
                                    </div>
                                    <div style="width:200px; height:10px;" id="updated_slider"></div>
                                </li>

                            </ul>
                        </div>
                        <form action="#" class="options">
                            <fieldset>
                                <div class="characteristics">
                                    <strong>Characteristics</strong>
                                    <ul>
                                        <li>
                                            <input type="checkbox" id="flowering" />
                                            <label for="flowering">Flowering</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="color" />
                                            <label for="color">Fall color</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="edible" />
                                            <label for="edible">Edible (fruits/nuts)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="native" />
                                            <label for="native">Native to region</label>
                                        </li>
                                        <!-- does not appear to be possible to query -->
                                        <!--<li>
                                            <input type="checkbox" id="performer" />
                                            <label for="performer">High Performer</label>
                                        </li>-->
                                    </ul>
                                </div>
                                <div class="project_trees">
                                    <strong>Project trees</strong>
                                    <ul>
                                        <li>
                                            <input type="checkbox" id="carbon" />
                                            <label for="carbon">Local Carbon Fund</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="gleaning" />
                                            <label for="gleaning">Fruit Gleaning Project</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="landmark" />
                                            <label for="landmark">Landmark Trees</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="outstanding">
                                    <strong>Missing Data</strong>
                                    <ul>
                                        {% comment %}
                                        <li>
                                            <input type="checkbox" id="correct" />
                                            <label for="correct">Correct Location</label>
                                        </li>
                                        {% endcomment %}
                                        <li>
                                            <input type="checkbox" id="missing_species" />
                                            <label for="missing">Species</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="missing_diameter" />
                                            <label for="diameter">Trunk diameter</label>
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>			
			

			
		</div>




            <!-- end search-box -->
            {% block content %}
                main content goes here
            {% endblock content %}
            {% block callout %}
                <div id="callout">
                    {% block callout_content %}

                    {% endblock callout_content %}
                </div>
            <!--end callout-->
            {% endblock callout %}

            {% block sub_footer %}

             {% endblock %}



           {% block global_footer %}
            <!-- Start Global footer -->
            <div id="footer">
                <div class="footer-holder">
                    <div class="ad">
                        <h2>Our Partners</h2>
                        <ul>
                            <li><a href="http://www.pennsylvaniahorticulturalsociety.org/"><img src="/static/images/ptm/logo-phs.png" alt="The Pennsylvania Horticultural Society" /></a></li>
                            <li><a href="hhttp://www.phila.gov/"><img src="/static/images/ptm/logo-city-phl.png" alt="The City of Philadelphia" /></a></li>
                            <li><a href="http://www.lowermerion.org/"><img src="/static/images/ptm/logo-lower-marion.png" alt="The City of Lower Merion" /></a></li>
                            <li class="clearLeft"><a href="http://www.azavea.com/"><img src="/static/images/ptm/logo-azavea.png" alt="Azavea" /></a></li>
                            <li><a href="http://www.dvrpc.org/"><img src="/static/images/ptm/logo-dvrpc.png" alt="The Delaware County Regional Planning Commission" /></a></li>	
						</ul>
                    </div>
					<div class="site-descrip">
						<p>Philly Tree Map is a collaboration of government, nonprofits, businesses and you to build an inventory of Philadelphia's urban forest.</p>
						<p><a href="">Learn more about Philly Tree Map &raquo;</a></p>
					</div>
                    <ul class="footer-nav">
                        <li><a href="/about/">About</a></li>
                        <li><a href="/resources/">Resources</a></li>
                        <li><a href="/contact/">Contact</a></li>
							{% if user.is_superuser %}
                               <li><a href="/_admin_/">Admin</a></li>
                           {% endif %}
                           {% if user.is_staff %}
                               <li><a href="/editor/flatpages/flatpage/">Edit Content</a></li>
                           {% endif %}
                        
                    </ul>
                </div>
                <!-- <br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>. -->
            </div>
            <!-- End Global footer -->
            {% endblock global_footer %}

        </div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js'  type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-13228685-1");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}
</script>

<script type="text/javascript">
var is_ssl = ("https:" == document.location.protocol); var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/"; document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>


<script type="text/javascript">
try {
var feedback_widget_options = {}; feedback_widget_options.display = "overlay"; feedback_widget_options.company = "urban_forest_map"; feedback_widget_options.placement = "left"; feedback_widget_options.color = "#222"; feedback_widget_options.style = "idea"; var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
} catch(err) {}
</script>

</body>
</html>
