<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}OpenTreeMap{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="OpenTreeMap is a wiki-inspired, web-based geographic tree inventory application that enables individuals, organizations, and governments to work together and collaboratively map the urban forest.">
		<meta name="author" content="Azavea">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />

        <script type="text/javascript">
	      var tm_static = "{{ SITE_ROOT }}";
          var tm_urls = {
              eactive_key : '898cfa06a63e5ad7a427a30896cd95c2',
              tc_url : '{{ TILECACHE_URL }}',
              geo_url : '{{ GEOSERVER_URL }}',
              geo_layer: '{{ GEOSERVER_GEO_LAYER }}',
              geo_style: '{{ GEOSERVER_GEO_STYLE }}',
              tc_layer_name: '{{ TILECACHE_LAYER }}',
              qs_tile_url : '/qs_tiles/1.0.0/foo/' // layername is pulled from request.GET, can remove 'foo' eventually
          };
        </script>
        
        {% block tophead %}
        {% endblock %}

		<!-- Javascript (include jquery-ui-1.8.22.custom.min.js if the CDN-hosted vers. doesn't work -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jeditable.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.query-2.1.7.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.address-1.4.min.js"></script>

        {% load compressed %}
	    {% compressed_js 'base' %}
        
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/map.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/otm.css" type="text/css" /> 
        <link rel="stylesheet" href="{{ STATIC_URL }}jquery/ui/css/ui-lightness/jquery-ui-1.8.22.custom.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}jquery/jquery.autocomplete.css" type="text/css" />
        <script type="text/javascript">
            tm.initial_location_string = "Milton Keynes, UK";
            tm.initial_species_string =  "All trees";
        </script>
                
        {% block js_ready %}
        <script type="text/javascript">
			var tm_static = "{{ SITE_ROOT }}";
            jQuery().ready(tm.baseTemplatePageLoad);
        </script>
        {% endblock %}

        <link href="https://plus.google.com/105590729994225871729" rel="publisher" />
        <script type="text/javascript">
            window.___gcfg = {lang: 'en'};
            (function()
            {var po = document.createElement("script");
            po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(po, s);
            })();
        </script>

        {% block extrahead %}
        {% endblock %}
	</head>

<body {% block body_load %}{% endblock %} {% block body_id %}{% endblock %}  class="{%block body_class%}base_body{%endblock %}">
    
		{% include "header.html" %}
		
	<div class="container"> <!-- start: main site container -->
            {% block content %}
                <!-- main content goes here -->
            {% endblock content %}

            {% block callout %}
                <div id="callout">
                    {% block callout_content %}
                        
                    {% endblock callout_content %}
                </div>
            <!--end callout-->    
            {% endblock callout %}
            
            {% block sub_footer %}
            {% endblock %}    
            
        </div> <!-- end: main site container -->
		
		{% include "footer.html" %}

	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js'  type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker('{{ API_KEY_GOOGLE_ANALYTICS }}');
	pageTracker._setDomainName("none");
	pageTracker._setAllowLinker(true);
	pageTracker._trackPageview();
	} catch(err) {}
	</script>

	{% block endpage %}

	{% endblock endpage %}

</body>
</html>
