<div class="row" id="footer"> 
<div class="container">
	<ul id="partners"> 
		<li id="Treeconomics"><a href="http://www.treeconomics.co.uk/" target="_blank"><img src="{{ STATIC_URL }}images/logos/treeconomics.png" alt="Treeconomics" /></a></li> 
        <li id="OpenUni"><a href="http://www.open.ac.uk/" target="_blank"><img src="{{ STATIC_URL }}images/logos/openuniversity.png" alt="Open University" /></a></li> 
        <li id="OpenScienceLab"><a href="http://www.open.ac.uk/openscience/" target="_blank"><img src="{{ STATIC_URL }}images/logos/osu.png" alt="OpenScience Laboratory" /></a></li> 
		<li id="iSpot"><a href="http://www.ispot.org.uk/" target="_blank"><img src="{{ STATIC_URL }}images/logos/ispot.png" alt="iSpot" /></a></li>
		<li id="ForestResearch"><a href="http://www.forestry.gov.uk/forestresearch" target="_blank"><img src="{{ STATIC_URL }}images/logos/forest_research.jpg" alt="Forest Research" /></a></li>
		<li id="PoweredByOTM" class="pull-right"><a href="http://www.azavea.com/products/opentreemap" target="_blank"><img src="{{ STATIC_URL }}images/logos/pb_otm.png" alt="OpenTreeMap" /></a></li> 
    </ul> 
		<!--
        <ul class="footer-nav"> 
            <li><a href="{{ SITE_ROOT }}about/">About</a></li> 
            <li><a href="{{ SITE_ROOT }}faq/">FAQs</a></li>
	    <li><a href="{{ SITE_ROOT }}trees/new/">Recently Added</a></li>
            <li><a href="{{ SITE_ROOT }}resources/">Resources</a></li> 
            <li><a href="{{ SITE_ROOT }}contact/">Contact</a></li> 
            {% if user.is_superuser %}
            <li class="final"><a href="{{ SITE_ROOT }}_admin_/">Admin</a></li>
            {% endif %}

            {% if user.reputation.reputation > 1000 %}
            <li class="final"><a href="{{ SITE_ROOT }}verify/?sort=last_updated">Recent Changes</a></li>
            {% endif %}
            <!--
			{% if user.is_authenticated %}
               <li style="clear:both;">Logged in as <a href="{% url profiles.views.profile_detail user.username %}">{{user.username|escape}}</a>
               <span id="logout"><a href="{{ SITE_ROOT }}accounts/logout/?next={{ SITE_ROOT }}" id="logout">(Logout)</a></span>
               {% if user.is_superuser %}
                   <li><a href="{{ SITE_ROOT }}_admin_/">Admin</a></li>
               {% endif %}
               {% if user.reputation.reputation > 1000 %}
                   <li><a href="{% url treemap.views.verify_edits %}">Recent Changes</a></li>
               {% endif %}
            {% else %}
                <li><a href="{{ SITE_ROOT }}accounts/login/">Login</a> or <a href="{{ SITE_ROOT }}accounts/register/" class="buttomSm">Sign up</a></li>
            {% endif %}
			-->
</div>
    </div>
