{% block global_footer %}

                 <!-- Start Global footer -->
            <div id="footer">
                <div class="footer-holder">
                    <div class="partners">
						<p>Philly Tree Map is a collaboration of government, nonprofits, businesses,and you <br/> to build an inventory of Philadelphia's urban forest. Our partners:</p>
                        <ul>
							<li id="logo-ptm"><a href="http://www.urbanforestmap.org/"><img src="/static/images/ptm/logo-ufm.png" alt="Code contributed by Urban Forest Map" /></a></li>
                            <li><a href="http://www.pennsylvaniahorticulturalsociety.org/"><img src="/static/images/ptm/logo-phs.png" alt="The Pennsylvania Horticultural Society" /></a></li>
                            <li><a href="hhttp://www.phila.gov/"><img src="/static/images/ptm/logo-city-phl.png" alt="The City of Philadelphia" /></a></li>
                            <li><a href="http://www.lowermerion.org/"><img src="/static/images/ptm/logo-lower-marion.png" alt="The City of Lower Merion" /></a></li>
                            <li><a href="http://www.azavea.com/"><img src="/static/images/ptm/logo-azavea.png" alt="Azavea" /></a></li>
                            <li><a href="http://www.dvrpc.org/"><img src="/static/images/ptm/logo-dvrpc.png" alt="The Delaware County Regional Planning Commission" /></a></li>
						</ul>
                    </div>
                    <ul class="footer-nav">
                        <li><a href="/about/">About</a></li>
						<li><a href="/faq/">FAQ</a></li>
                        <li><a href="/resources/">Resources</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
					<ul id="footer-admin" class="footer-nav">
							{% if perms.can_change_user %}
							    <li><a href="/users/activity/">Admin Portal</a></li>
                            {% endif %}
						    {% if user.is_superuser %}
                               	<li><a href="/_admin_/">Site Admin</a></li>
                            {% endif %}
                            {% if user.is_staff %}
                               	<li><a href="/editor/flatpages/flatpage/">Edit Content</a></li>
                            {% endif %}
                            {% if perms.can_edit_condition %}
                            	<li><a href="/verify/">Recent Edits</a></li>
                            {% endif %}
					</ul>					
                </div>
                <!-- <br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>. -->
            </div>
{% endblock global_footer %}
