		<div id="headerNavWrap">
			<div id="headerNavContent">
				<ul id="headerNavLinks">
					<li id="headerNavExplore" class="active"><a href="/map/"></a></li>
					<li id="headerNavAdd"><a href="/trees/add/"></a></li>
					<!--<li id="headerNavUpdate"><a href=""></a></li>-->

				</ul>
				<div id="loginlogout"> 
						<a href="/about/" id="headerNavSupport"></a> 
						 {% if user.is_authenticated %}
							<div class="floatRight">
								<a href="/accounts/logout/?next=/" id="logout" class="buttonSmall floatRight">Logout</a>
								Hello, <b><a href="/profiles/{{user.username}}/">{{user.username|escape}}!</a></b>
								<br/>{{user.reputation.reputation}} rep
							</div>
						{% else %}
							<div class="floatRight">
								<a href="/accounts/login/" class="buttonSmall">Login</a>&nbsp; or <a href="/accounts/register/" class="buttonSmall">Sign up</a>
							</div>
						{% endif %}

				</div>
			</div>
		</div>



	<!-- end: header -->

	<!-- start: search box -->

	<div id="headerWrap">
			<div id="headerContainer">
					<h1 id="logo"><a href="http://207.245.89.214/">Philly Tree Map</a></h1>

			<div id="searchBox">
					<form method="get" action="/map/" name="address" class="address" id="search_form">
					<ul id="searchBoxes">
						<li id="searchLocationBox">
							<div id="headerLocationSearch">
								<h2 id="labelLocationSearch"></h2><a class="floatRight" href="">Featured Searches</a>
							</div>
							<div id="searchLocationBrowse" class="buttonMed"><div class="icon"></div><div class="label"
							></div></div>
							<div class="headerSearchContainer">
								<input type="text"  name="location_search_input" onFocus='if (this.value == "Philadelphia, PA") { this.value=""; };' id="location_search_input" class="headerSearch" value="Philadelphia, PA" />
								<div class="go buttonSmall"><div class="label" id="location_go"></div></div>
							</div>
						</li>
						<li id="searchSpeciesBox">

							<div id="headerSpeciesSearch">
								<h2 id="labelSpeciesSearch"></h2><a href="#" id="advanced" class="advanced floatRight">Advanced Filters</a>
							</div>
							<div id="searchSpeciesBrowse" class="buttonMed"><div class="icon"></div><div class="label"
							></div></div>
							  <div class="headerSearchContainer">
								  <input type="text"  id="species_search_input" class="headerSearch" value="All trees"
								   onFocus='if (this.value == "All trees") { this.value=""; };' />
								   <div class="go buttonSmall"><div class="label" id="species_go"></div></div>
								</div>
							  <input type='hidden' name='species_search_id' id="species_search_id" />
							  <input type='hidden' name='species_search_id' id="species_search_id_cultivar" />
							</li>
					</ul>
					</form>


				<div id="searchSpeciesList" class="ac_results" style=""><h2>Species</h2><a class="floatRight" href="/treekey/">View Tree Key for more detail</a></div>
				<div id="filterSpeciesList" class="ac_results" style=""><h2>Species</h2><a class="floatRight" href="/treekey">View Tree Key for more detail</a></div>

				<div id="searchNBList" class="ac_results" style=""><h2>Neighborhoods</h2></div>
				</div>
				<div class="clearBoth"></div>
			</div>

                <div class="filter-box" style="display:none">
                    <div class="wrap">
						<div class="filter-box-control">
							<h2 id="advanced-filters"></h2>
							<button id="close-filters">Reset</button>
						</div>
                        <div class="parameter">
                            <ul>
                                <li>
                                    <div class="title">
                                        <strong>Diameter</strong>
                                        <em><span id="min_diam">0</span> inches - <span id="max_diam">50</span> inches</em>
                                    </div>
                                    <div style="width:200px; height:10px;" id="diameter_slider"></div>
                                </li>

                                <li>
                                    <div class="title">
                                        <strong>Plant Date</strong>
                                        <em><span id="min_planted">1700</span> -
                                        <span id="max_planted">2010</span></em>
                                    </div>
                                    <div style="width:200px; height:10px;" id="planted_slider"></div>
                                </li>
                                <li>
                                    <div class="title">
                                        <strong>Last Tree Update</strong>
                                        <em><span id="min_updated">0</span> -
                                        <span id="max_updated">365</span></em>
                                    </div>
                                    <div style="width:200px; height:10px;" id="updated_slider"></div>
                                </li>

                            </ul>
                        </div>
                        <form id="options_form" action="#" class="options">
                            <fieldset>
                                <div class="characteristics">
                                    <strong>Characteristics</strong>
                                    <ul>
                                        <li>
                                            <input type="checkbox" id="flowering" />
                                            <label for="flowering">Flowering</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="color" />
                                            <label for="color">Fall color</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="edible" />
                                            <label for="edible">Edible (fruits/nuts)</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="native" />
                                            <label for="native">Native to region</label>
                                        </li>
                                        <!-- does not appear to be possible to query -->
                                        <!--<li>
                                            <input type="checkbox" id="performer" />
                                            <label for="performer">High Performer</label>
                                        </li>-->
                                    </ul>
                                </div>
                                <div class="project_trees">
                                    <strong>Project Trees</strong>
                                    Coming Soon!
                                <!--<ul>
                                        <li>
                                            <input type="checkbox" id="carbon" />
                                            <label for="carbon">Local Carbon Fund</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="gleaning" />
                                            <label for="gleaning">Fruit Gleaning Project</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="landmark" />
                                            <label for="landmark">Landmark Trees</label>
                                        </li>
                                    </ul>-->
                                </div>
                                <div class="outstanding">
                                    <strong>Missing Data</strong>
                                    <ul>
                                        {% comment %}
                                        <li>
                                            <input type="checkbox" id="correct" />
                                            <label for="correct">Correct Location</label>
                                        </li>
                                        {% endcomment %}
                                        <li>
                                            <input type="checkbox" id="missing_species" />
                                            <label for="missing">Species</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="missing_diameter" />
                                            <label for="diameter">Trunk diameter</label>
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>



		</div>