{% extends "base.html" %}

{% block content %}

            {% block t3_content %}
                <div class="content">
                    <div id="t3_left_panel">
                        {% block left_panel %}
                        {% endblock left_panel %}
                    </div>
                    
                     <div id="t3_right_panel">
                        {% block right_panel %}
                        {% endblock right_panel %}
                    </div>
                </div>
            {% endblock t3_content %}    
    
{% endblock %}


