{% extends "profiles/base.html" %}
{% load thumbnail dynamic_attribute %}

{% block extrahead %}
<script type="text/javascript">
    jQuery().ready(function() {
        tm.init_favorite_map('{{ profile.user.username }}'); //not editable
        tm.add_favorite_handlers('{{ SITE_ROOT }}trees/favorites/create/', '{{ SITE_ROOT }}trees/favorites/delete/');

    });

</script>
{% endblock %}


        {% block content_body_top %}
        <!-- start contentbody -->
        <div id="contentbody">

            <div id="tabcontainer">
                <ul id="tablist">
                  {# appears need to use named view or no reverse match (?) #}
                  {#<li class="first"><a href="{% url profiles.views.profile_detail user.username %}" >Profile</a></li> #}
                    {% if profile.user = user %}
                       <li><a href="{{ SITE_ROOT }}profiles/edit/" id="current">Edit profile</a></li>
                    {% else %}
                       <li class="first"><a href="{% url profiles_profile_detail profile.user.username %}" >Profile</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="tab-content" id="tab-1">

        <div class="wrap">
        {% endblock %}


{% block left_panel %}

        <div id="t2_top_left_panel">
            <ul id="userImage">
                <li>{% if profile.photo %}
                    {% thumbnail profile.photo "200x100" crop="center" as image %}
                    <img src="{{image.url}}" />
                    {% endthumbnail %}
                {% else %}
                    <img src="{{ STATIC_URL }}images/v2/profile1.gif" alt="Profile image" width="180" />
                {% endif %}</li>
            </ul>


           {% if profile.user = user %}

            <ul id="imageOptions">
                <li id="first">
                    <a href="{{ SITE_ROOT }}profiles/{{ profile.username }}/photo/">{% if profile.photo %}Change photo{% else %}Add Photo{% endif %}
                    </a>
                </li>
                <!--<li><a href="#">Remove photo</a></li>-->
            </ul>
            <ul id="userInfo">
                <li>{{  profile.user }}</li>
                <li id="joinDate">Joined on {{ profile.user.date_joined|date:"M d, Y" }}</li>
            </ul>
            <ul id="message">
                <li id="title">Profile <div class="Info note">Not publicly displayed</div></li>
                <li>
                    <ul class="edit">
                        <li id="edit_first_name">{{ profile.user.first_name|default:"<b>Add first name</b>" }}
                        <li class="editItem"><a href="#" onclick="$('#edit_first_name').trigger('click'); return false;">Edit</a></li>
                        <script>tm.setupEdit("first_name", "User", {{ profile.user.id }});</script>
                    </ul>
                    <ul class="edit">
                        <li id="edit_last_name" >{{ profile.user.last_name|default:"<b>Add last name</b>" }}
                        <li class="editItem"><a href="#" onclick="$('#edit_last_name').trigger('click'); return false;">Edit</a></li>
                        <script>tm.setupEdit("last_name", "User", {{ profile.user.id }});</script>
                    </ul>
                    <ul class="edit">
                        <li id="edit_email">{{  profile.email|default:"Email not provided" }}</li>
                        <li class="editItem"><a href="#" onclick="$('#edit_email').trigger('click'); return false;">Edit</a></li>
                        <script>tm.setupEdit("email", "User", {{ profile.user.id }});</script>
                    </ul>
                    <ul class="edit">
                        <li id="edit_zip_code">{{  profile.zip_code|default:"Zipcode not provided" }}</li>
                        <li class="editItem"><a href="#" onclick="$('#edit_zip_code').trigger('click'); return false;">Edit</a></li>
                        <script>tm.setupEdit("zip_code", "UserProfile", {{ profile.id }});</script>
                    </ul>
                </li>
                <li>
                    <ul class="edit">
                        <li>Password</li>
                        <li class="editItem"><a href="{{ SITE_ROOT }}accounts/password/reset">Reset</a></li>
                    </ul>
                </li>
                <li>
                        <ul class="edit">
                                <li></li>
                                <li></li>
                        </ul>
                </li>
            </ul>
            <ul id="message">
          <!--  <li id="title">Email notifications Enabled? <div class="Info note">Not publicly displayed</div></li> -->
                <li id="title">Keep me updated with occasional emails <div class="Info note">Not publicly displayed</div></li>
                <li>
                    <ul class="edit">
                        <li id="edit_updates"><b>{{ profile.updates }}</b></li>
                        <li class="editItem"><a href="#" onclick="$('#edit_updates').trigger('click'); return false;">Change</a></li>
                        <script>tm.setupEdit("updates", "UserProfile", {{ profile.id }},{'type':'select',data: {'true':'Yes','false':'No'}});</script>
                    </ul>
                </li>
            </ul>
            <ul id="message">
                <li id="title">Account active?</li><div class="Info note">Keep this as "yes" unless you want to delete your account</div>
                <li>
                    <ul class="edit">
                        <li id="edit_active"><b>{{ profile.active }}</b></li>
                        <li class="editItem"><a href="#" onclick="$('#edit_active').trigger('click'); return false;">Change</a></li>
                        <script>tm.setupEdit("active", "UserProfile", {{ profile.id }},{'type':'select',data: {'true':'Yes','false':'No'}});</script>
                    </ul>
                </li>
            </ul>
            <ul id="message">
                <li id="title">Feedback</li>
                <li>Got something to say? <a href="{{ SITE_ROOT }}contact">Send us feeckback!</a></li>
            </ul>

            {% else %}
            <ul id="userInfo">
                <li>{{ profile.user.username }}</li>
                <li id="joinDate">Joined on {{ profile.user.date_joined|date:"M d, Y" }}</li>
            </ul>
            <ul id="message">
                <li id="title">Your turn</li>
                <li>Our database of trees comes from reliable sources and gets better with help from our users. <a href="{% url treemap.views.tree_add %}">Add trees and help us grow!</a></li>
            </ul>

            {% endif %}

        </div>

{% endblock left_panel %}



{% block middle_panel %}
<div class="comments" id="first">
    <div class="wrap" style="">
        {% if profile.user.treefavorite_set.count > 0 %}
            <h2>Favorite trees</h2>
        {% else %}
            {% if profile.user = user %}
                <h3>You have not favorited any trees yet!</h3>
            {% else %}
                <h3>This user hasn't favorited any trees</h3>
            {% endif %}
        {% endif %}
    </div>

    {% if profile.user.treefavorite_set.count > 0 %}
        <!-- outer table to hold favorites / map -->
        <div id="favoritesContainer">
        <div id="favoritesData">
            <table><tr><td>
            <table class="favorite">
            {% for fav in profile.user.treefavorite_set.all %}
                <tr>
                    <td class="fav">
                       <a href="{{ SITE_ROOT }}trees/{{ fav.tree.id }}/">View</a><br>
                       {# TODO: Unfavorite doesn't seem to work (?) #}
                       <a href="#" class="favorite fav unfave" id="favorite_{{fav.tree.id}}">Unfavorite</a><br>
                    </td>
                    <td class="neighborhood">
                        <span>Neighborhood</span>

                        <!-- was tree.sanfranciscotree.neighborhood -->
                        {% if fav.tree.plot.neighborhood.all.0.name %}
                            <a href="{{ SITE_ROOT }}map/#/?hood={{ fav.tree.plot.neighborhood.all.0.name }}">{{ fav.tree.plot.neighborhood.all.0.name }}</a>
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td class="species">
                        <span>Tree species</span>
                        <em>{{ fav.tree.species.common_name|default:"Unknown" }}</em>
                    </td>
                    <td class="planted">
                        <span>Date planted</span>
                        <em>{{ fav.tree.date_planted|date:"M d, Y"|default:"Unknown" }}</em>
                    </td>
                    <td class="added">
                        <span>Last Updated</span>
                        <em>{{ fav.tree.last_updated|date:"M d, Y"|default:"Unknown"  }}</em>
                    </td>
                </tr>
                {% endfor %}
                <!-- TODO - do we need this? -->
                <!--
                <tr>
                    <td colspan="5"><p><a href="#">See all favorites &raquo;</a></p></td>
                </tr>
                -->
            </table>
            </td>
            </tr>
            </table>
        </div>
            <div id="favoritesMap">
                <div style="width:280px; float:right;">
                    <div id="favorite_tree_map"></div>
                    <div id="alternate_tree_div"></div>
                </div>
            </div>
        </div> <!-- end favoritesContainer -->
    {% endif %}

</div>


            <div class="comments">
                <div class="wrap">
                  <h2>Recently added and edited trees</h2>
                </div>
                <table class="addet">
                    {% for tree in profile.re_trees %}
                    <tr>
                        <td class="image"><a href="{{ SITE_ROOT }}trees/{{ tree.id }}/">
                           {# TODO neither method shows photo`: {% thumbnail tree.treephoto_set.all|first|get:"photo" "40x40" crop="center" as image %} #}
                           {% if tree.treephoto_set.count %}
                              {% thumbnail tree.treephoto_set.latest.photo "40x40" crop="center" as image %}
                              <img src="{{ image.url }}" alt="image description" width="40" height="40" />
                              {% endthumbnail %}
                           {% else %}
                              <img src="{{ STATIC_URL }}images/v2/defaulttree.gif" alt="image description" width="40" height="40" />
                           {% endif %}
                           </a></td>
                        <td class="neighborhood">
                            <span>Neighborhood</span>

                            <!-- was tree.sanfranciscotree.neighborhood -->
                            {% if tree.plot.neighborhood.all.0.name %}
                                <a href="{{ SITE_ROOT }}map/#/?hood={{ tree.plot.neighborhood.all.0.name }}">{{ tree.plot.neighborhood.all.0.name }}</a>
                            {% else %}
                                Unknown
                            {% endif %}
                        </td>
                        <td class="species">
                            <span>Tree species</span>
                            <em>{{ tree.species.common_name|default:"Unknown" }}</em>
                        </td>
                        <td class="planted">
                            <span>Date planted</span>
                            <em>{{ tree.date_planted|date:"M d, Y"|default:"Unknown" }}</em>
                        </td>
                        <td class="added">
                            <span>Last updated</span>
                            <em>{{ tree.last_updated|date:"M d, Y"|default:"Unknown"  }}</em>
                        </td>
                    </tr>
                    {% endfor %}
                    <!--
                     <tr>
                        <td colspan="4"><p><a href="#">See all updates &raquo;</a></p></td>
                    </tr>
                    -->

                </table>
            </div>


            <div class="recent-photos">
                <div class="wrap">
                  <h2>Recent photos added</h2>
                </div>
                {% if profile.recently_added_photos %}
                <ul>
                    {% for pic in profile.recently_added_photos %}
                    <li>
                        {% thumbnail pic.photo "202x146" crop="center" as image %}
                        <img src="{{ image.url }}" alt="image description" width="202" height="146" />
                        {% endthumbnail %}
                        <dl>
                            <dt>Tree #:</dt>
                            <dd><a href="{{ pic.tree.get_absolute_url }}">{{ pic.tree.id }}</a></dd>
                            <dt>Added on:</dt>
                            <dd>{{ pic.reported|date:"M d, Y"|default:"Unknown"  }}</dd>
                        </dl>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                   No photos yet!
                {% endif %}
                <!--
                <table class="addet">
                    <tr>
                        <td colspan="4"><a href="#">See all photos &raquo;</a></td>
                    </tr>
                </table>
                -->
            </div>

            <!-- from jlivni:note weird class names, appropriate for trees -->
            <div class="recent-photos">

              <div class="wrap">
                <h2>Total Reputation: {{ profile.user.reputation.reputation|stringformat:"+d" }}</h2>
              </div>

              <div class="wrap">
                <h2>Recent Reputation Changes</h2>
              </div>
                {% if profile.recently_changed_reputation %}
                  <table class="addet">
                    {% for change in profile.recently_changed_reputation %}
                    <tr>
                        <td class="species">
                            <span>Action</span>
                            <em>{{ change.action.name|default:"Unknown" }}</em>
                        </td>
                        <td class="planted">
                            <span>Date</span>
                            <em>{{ change.date_created|date:"M d, Y"|default:"Unknown" }}</em>
                        </td>
                        <td class="added">
                            <span>Value</span>
                            <em>{{ change.value|stringformat:"+d"  }}</em>
                        </td>
                    </tr>
                    {% endfor %}
                    <!--
                     <tr>
                        <td colspan="4"><p><a href="#">See all changes &raquo;</a></p></td>
                     </tr>
                    -->
                </table>
              {% else %}
                  No changes yet!
              {% endif %}
            </div>

{% endblock %}
