<ul class="admin_nav">
	<li><a href="{% url treemap.views.unban_user %}">User Activity</a></li>
	<li><a href="{% url treemap.views.edit_usres %}">Users</a></li>
	<li><a href="{% url treemap.views.view_comments %}">All Comments</a></li>
	<li><a href="{% url treemap.views.view_flagged %}">Flagged Comments</a></li>
	<li><a href="{% url treemap.views.watch_list %}">Tree Watch List</a></li>
	<li><a href="{% url treemap.views.verify_edits %}">Recent Edits</a></li>
	<li><a href="{% url treemap.views.view_images %}/">Recent Images</a></li>
</ul>
