{% extends "base.html" %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/tablesorter/style.css" media="screen" />

    <script type="text/javascript">
		$(document).ready(function() {
			if (jQuery.urlParam('username')) {
				jQuery("#s_username").val(jQuery.urlParam('username'));
			}
			if (jQuery.urlParam('address')) {
				jQuery("#s_address").val(jQuery.urlParam('address'));
			}
			if (jQuery.urlParam('nhood')) {
				var nhood = decodeURI(jQuery.urlParam('nhood'));
				jQuery("#s_nhood").prepend(jQuery("<option value='" + nhood + "' selected>" + nhood + "</option>"));
			}
			if (jQuery.urlParam('status')) {
				var status = decodeURI(jQuery.urlParam('status'));
				jQuery("#s_status").val(status);
			}
			jQuery("#search input").keydown(function(evt) {
				if (evt.keyCode == 13) {
					jQuery("#filter").click();
				}
			});

			jQuery("#filter").click(function(evt) {
				var params = {};
				var q = $.query.empty();
				if (jQuery("#s_username").val()) {params["username"] = jQuery("#s_username").val();}
				if (jQuery("#s_address").val()) {params["address"] = jQuery("#s_address").val();}
				if (jQuery("#s_nhood").val()) {params["nhood"] = jQuery("#s_nhood").val();}
				if (jQuery("#s_status").val()) {params["status"] = jQuery("#s_status").val();}

				for (var key in params) {
					if (!params[key]) {
						continue;
					}
					var val = params[key];
					q = q.set(key, val);
				}
				var qstr = decodeURIComponent(q.toString()).replace(/\+/g, "%20")

				window.location = "/trees/pending/" + qstr;

			});
			jQuery("#clear").click(function(evt) {
				window.location = "/trees/pending/"
			});

			//jQuery("#species_list_table").tablesorter({sortList: [[3,1]], headers: {3:{sorter:'usLongDate'}}})
		});

    </script>
{% endblock %}

{% block body_id %}id="verify_edit"{% endblock %}

{% block content %}

{% autosort pends %}
{% autopaginate pends 20 %}
<div class="content admin">
	<div class="admin-header">
		<h2>Recent Edits</h2>
		{% if perms.auth.change_user %}
			{% include "treemap/admin_nav.html" %}
		{% endif %}
		<div class="clearBoth"></div>
	</div>
	<div id="search" style="position:relative;">
		<div id="search_username"><label for="s_username">Updated By: </label><input id="s_username" /></div>
		<div id="search_address"><label for="s_address">Address: </label><input id="s_address" /></div>
		<div id="nbhood"><label for="s_nhood">Neighborhood: </label><select id="s_nhood"><option value=""></option></select></div>
		<div id="status"><label for="s_status">Status: </label><select id="s_status"><option value=""></option><option value="pending">Pending</option><option value="approved">Approved</option><option value="rejected">Rejected</option></select></div>
		<div class="button_group"><button id="clear" >Clear</button> <button id="filter" >Filter</button></div>

	</div>

	{% paginate %}
	<div id="species_list">
		<table id="species_list_table">
			<thead>
				<tr>
					<th>{% anchor tree__species Tree %}</th>
					<th>{% anchor tree__address_street Address %}</th>
					<th>{% anchor submitted_by 'Submitted By' %}</th>
					<th>{% anchor submitted Date %}</th>
					<th>Change</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for c in pends %}
				<tr id="{{c.id}}">
                    {% if c.tree  %}
                        <td><i>{{c.tree.species}}</i><br><a href="/trees/{{c.tree.id}}" target="_blank">View Record ({{c.tree.plot.get_active_pends_with_tree_pends|length}} pending edits)</a></td>
                        <td>{{c.tree.address_street}}</td>
                    {% else  %}
                        <td><i>{{c.plot.current_tree.species}}</i><br><a href="/trees/{{c.plot.current_tree.id}}" target="_blank">View Record ({{c.plot.get_active_pends_with_tree_pends|length}} pending edits)</a></td>
                        <td>{{c.plot.current_tree.address_street}}</td>
                    {% endif %}
					<td><a href="/profiles/{{c.submitted_by}}" target="_blank">{{c.submitted_by}}</a></td>
					<td>{{c.submitted|date:"M d, Y"}}</td>
				    <td><b>{{c.field}}</b> - {{c.text_value|default:c.value}}
				    </td>
					
					<td>
                    {% if c.status = 'pending' %}
						<a href="#" onclick="tm.updatePend({{c.id}}, 'reject'); return false;"><img src="/static/images/es/ico-thumbs-down.gif" width="17" height="17" alt="Down"></a> 
						<a href="#" onclick="tm.updatePend({{c.id}}, 'approve'); return false;"><img src="/static/images/es/ico-thumbs-up.gif" width="17" height="17" alt="Up"></a>
                    {% else %}
                        {{c.status|capfirst}}<br>{{c.updated|date:"M d, Y"}}
					{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% paginate %}
</div>


{% endblock %}

