{% extends "base.html" %}

{% block body_id %}id="admin"{% endblock %}

{% block content %}
	<div class="content">
		<a href="/users/" target="_blank">Users</a><br>
		<a href="/comments/all/" target="_blank">All Comments</a><br>
		<a href="/comments/moderate/" target="_blank">Flagged Comments</a><br>
		<a href="/trees/watch/" target="_blank">Watch List</a><br>
		<a href="/verify/" target="_blank">Recent Edits</a><br>
		<a href="/images/" target="_blank">Recent Images</a><br>
		<a href="/users/activity/" target="_blank">Activity Overview</a>
	</div>
{% endblock %}
