{% extends "template_3.html" %}
{% block body_load %}class="contact"{% endblock %}

    {% block left_panel %}
<div id="register">
    
	<h1>Contact us <span class="note">(If it's bold it's required)</span></h1>

    {% if form.errors %}
    <div id="genError"><b>Oops!</b> There was a problem.<br />
    {% if form.non_field_errors %}
        <span id="smError">{{ form.non_field_errors }} </span></div>
    {% else %}
        <span id="smError">Error are noted in red below.</span></div>
    {% endif %}
    {% endif %}

    <form action="/contact/" method="POST">
    <fieldset>
      
    <label {% if form.name.errors %}id="error"{% endif %}>Name
        {% if form.name.errors %}
             {% for error in form.name.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small">First and last</span>
        {% endif %}
    </label>
    {{ form.name }}
    
    <label class="required" {% if form.sender.errors %}id="error"{% endif %}>Email address
        {% if form.sender.errors %}
             {% for error in form.sender.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small">So we can respond</span>
        {% endif %}
    </label>
    {{ form.sender }}
    
    <label class="required" {% if form.subject.errors %}id="error"{% endif %}>Subject
        {% if form.subject.errors %}
             {% for error in form.subject.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small">What's this about?</span>
        {% endif %}
    </label>
    {{ form.subject }}
    
    <label class="required" {% if form.message.errors %}id="error"{% endif %}>Message
        {% if form.message.errors %}
             {% for error in form.message.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small">Please include links if applicable</span>
        {% endif %}
    </label>
    {{ form.message }}
    
    <label {% if form.cc_myself.errors %}id="error"{% endif %}>Send me a copy of this note
        {% if form.cc_myself.errors %}
             {% for error in form.cc_myself.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small"></span>
        {% endif %}
    </label>
	{{ form.cc_myself }}
    
    <button type="submit">Submit message</button>

        </fieldset>
    </form>
</div>
    {% endblock %}
    
{% block right_panel %}
                            <div id="calloutContainer">
                                <h2>Your turn</h2>
                                <p>Our database of trees comes from public records and citizen foresters like you. <a href="{{ SITE_ROOT }}trees/add/">Add a tree today and help us grow!</a></p>
                            </div>
{% endblock %}
    
  
