{% extends "template_3.html" %}

{% load thumbnail dynamic_attribute %}
{% block body_id %}id="images"{% endblock %}
{% block content %}
<div class="content admin">
	<div class="admin-header">
		<h2>Recent Images</h2>
		{% include "treemap/admin_nav.html" %}
		<div class="clearBoth"></div>
	</div>
{% block left_panel %}


	<div id="tree_image_list">
		<h3>Tree Photos</h3>
		<ul>
		{% for image in tree_images %}
			<li><img src="/media/{% thumbnail image.photo '100x100' upscale  %}" />
			<a class="view" href="/trees/{{image.tree.id}}" >View</a>
			<a class="delete" href="javascript:void(0)" onclick="tm.deletePhoto({{ image.tree.id }}, {{ image.id }}); return false;">X</a>
			</li>
		{% empty %}
			<li>No Tree Images</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block right_panel %}
	<div id="profile_image_list">
		<h3>User Photos</h3>
		<ul>
		{% for image in user_images %}
			<li><img src="/media/{% thumbnail image.photo '100x100' bw upscale  %}" />
			<a class="view" href="/profiles/{{image.user.username}}" >View</a>
			<a class="delete" href="javascript:void(0)" onclick="tm.deleteUserPhoto('{{ image.user.username }}'); return false;">X</a>
			</li>
		{% empty %}
			<li>No User Images</li>
		{% endfor %}
		<ul>
	</div>
{% endblock %}
</div>
{% endblock %}