{% extends "template_3.html" %}

{% load pagination_tags %}
{% load thumbnail dynamic_attribute %}
{% block body_id %}id="images"{% endblock %}
{% block content %}
<div class="content admin">
	<div class="admin-header">
		<h2>Recent Images</h2>
		{% include "treemap/admin_nav.html" %}
		<div class="clearBoth"></div>
	</div>
	<div id='instructions'><b>Instructions:</b>
		Users can upload both personal profile photos as well as images of trees.
		Please use this page to quickly scan for inappropriate imagery. Click the View
		link to view the page on which the image is found. Click the red X to delete the image.
	</div>
	<div class="clearBoth"></div>
{% block left_panel %}


{% autopaginate tree_images 40 %}
	<div id="tree_image_list">
		<h3>Tree Photos</h3>
        {% paginate %}
		<ul>
		{% for image in tree_images %}
			<li>
            {% thumbnail image.photo "100x100" as image  %}
                <img src="{{ image.url }}" />
            {% endthumbnail %}
			<a class="view" href="{% url treemap.views.trees image.tree.id %}" >View</a>
			<a class="delete" href="javascript:void(0)" onclick="tm.deletePhoto({{ image.tree.id }}, {{ image.id }}); return false;">X</a>
			</li>
		{% empty %}
			<li>No Tree Images</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block right_panel %}
{% autopaginate user_images 10 %}
	<div id="profile_image_list">
		<h3>User Photos</h3>
        {% paginate %}
		<ul>
		{% for image in user_images %}
			<li>
            {% thumbnail image.photo "100x100" colorspace="GRAY" crop="center" as image  %}
                <img src="{{ image.url }}" />
            {% endthumbnail %}
			<a class="view" href="{% url profiles.views.profile_detail image.user.username %}" >View</a>
			<a class="delete" href="javascript:void(0)" onclick="tm.deleteUserPhoto('{{ image.user.username }}'); return false;">X</a>
			</li>
		{% empty %}
			<li>No User Images</li>
		{% endfor %}
		<ul>
	</div>
{% endblock %}
</div>
{% endblock %}
