{% extends "template_4.html" %}
{% load feeds %}
{% load tree_tags %}
{% load cache %}        


    {% block extra_onready %}
        //tm.init_map('index_map');    
        //todo less js on the homepage (eg no gmaps stuff?)
        tm.initial_location_string = "Milton Keynes, UK";
        tm.initial_species_string = "All trees";

    {% endblock %}

	
        {% block top_left_panel %}
		<div id="intro" class="container">
			<div class="span11">
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan lacinia venenatis. Sed at est nec ante pellentesque pellentesque ut ut lectus.</h2>
				<a href="{% url treemap.views.result_map %}" class="btn btn-warning btn-large" id="get-started-btn">Get Started</a>
			</div>
		</div>
		
        {% endblock %}

        {% block top_right_panel %}
        {% endblock %}
        
        
        {% block xcallout %}
        <!--Start Callout  --> 
            <div class="callout"> 
                <!--Start Callout inner  --> 
                <div class="callout-inner"> 
                <ul> 
                
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image02.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image03.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image04.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image05.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image06.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li class="last"><a href="#"><img src="{{ STATIC_URL }}images/es/image07.jpg" alt="image description" width="76" height="76" /></a></li> 
                </ul> 
                </div> 
                <!--End Callout inner  --> 
            </div> 
            <!--End Callout  --> 
        {% endblock xcallout %}
        
        
        
        
        {% block bottom_left_panel %}
        {% endblock bottom_left_panel %}

        {% block bottom_right_panel %}
        {% endblock %}



        {% block sub_footer %}
   
<!-- START: ADDL INFO -->
	<div class="container" id="addl-info">
		<div class="span4">
			<h3><a href="{{ SITE_ROOT }}about/#about">About the project</a></h3>
			<p>Treezilla is an exciting new citizen science platform that everyone from school children to university students and the general public can get involved with.  Learn about your local trees, discover which species are growing in your street and the ecosystem services they provide.</p>
		</div>
		<div class="span4">
			<h3><a href="{{ SITE_ROOT }}resources/#why">Your Role</a></h3>
			<p>As a citizen forester, you can get involved by searching for trees, verifying records, and by adding the trees in your neighborhood! <br /><a href="{{ SITE_ROOT }}resources/#why">More &raquo;</a></p>	
		</div>
		<div class="span3">
			<h3><a href="{{ SITE_ROOT }}resources/#faqs">FAQs</a></h3>
			<ul>
				<li><a href="{{ SITE_ROOT }}resources/#species">What if I don't know the species?</a></li>
				<li><a href="{{ SITE_ROOT }}resources/#measuretrunk">How do I measure the trunk diameter?</a></li>
				<li><a href="{{ SITE_ROOT }}resources/#ecoservices">What are the ecosystem services?</a></li>
				<li><a href="{{ SITE_ROOT }}resources/#faqs" class="more">See all FAQs&nbsp;&raquo;</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- END: ADDL INFO -->

{% comment %}    
{% endcomment %}

        {% endblock %}
