{% extends "template_4.html" %}
{% load feeds %}
{% load tree_tags %}
{% load cache %}        


    {% block extra_onready %}
        //tm.init_map('index_map');    
        //todo less js on the homepage (eg no gmaps stuff?)
        tm.initial_location_string = "Milton Keynes, UK";
        tm.initial_species_string = "All trees";

    {% endblock %}

	
        {% block top_left_panel %}
		
		<div id="intro-container">
			<h2>We're making a map of Britain's trees and their ecosystem benefits. You can help by adding trees in your area. You can also get involved with many other citizen science tree projects.</h2>
			<a href="{% url treemap.views.result_map %}" class="btn btn-success btn-large" id="get-started-btn">Get Started</a>
			
	<div id="intro-graphic">
    	<a href="{% url treemap.views.result_map %}"><img src="{{ STATIC_URL }}images/intro-graphic.jpg" alt="Get started with TreeZilla"/></a>
    </div>
			
		</div>
		
		
		<!-- START TREEMAP/INDEX.HTML -->
		<!--
        	<ul>
        		<li><a href="{% url treemap.views.result_map %}">Get Started</a></li>
        	</ul>
		-->
        {% endblock %}

        {% block top_right_panel %}
        {% endblock %}
        
        
        {% block xcallout %}
        <!--Start Callout  --> 
            <div class="callout"> 
                <!--Start Callout inner  --> 
                <div class="callout-inner"> 
                <ul> 
                
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image02.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image03.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image04.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image05.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li><a href="#"><img src="{{ STATIC_URL }}images/es/image06.jpg" alt="image description" width="76" height="76" /></a></li> 
                            <li class="last"><a href="#"><img src="{{ STATIC_URL }}images/es/image07.jpg" alt="image description" width="76" height="76" /></a></li> 
                </ul> 
                </div> 
                <!--End Callout inner  --> 
            </div> 
            <!--End Callout  --> 
        {% endblock xcallout %}
        
        
        
        
        {% block bottom_left_panel %}
        {% endblock bottom_left_panel %}

        {% block bottom_right_panel %}
        {% endblock %}



        {% block sub_footer %}
          
<!-- start: subfooter -->


    <div class="content" id="index-content">
        <div id="subfooterContainer" class="front">
            <div id="col1">
                <ul class="header">
                    <li><a href="{{ SITE_ROOT }}about/#about">About the project</a></li>
                </ul>
                <p>Treezilla is an exciting new citizen science platform that everyone from school children to university students and the general public can get involved with.  Learn about your local trees, discover which species are growing in your street and the ecosystem services they provide.</p>
            <ul class="header">
                    <li><a href="{{ SITE_ROOT }}faq/">FAQs</a></li>
                </ul>
                <p class="faq"><a href="{{ SITE_ROOT }}resources/#species">What if I don't know the species?</a></p>
                <p class="faq"><a href="{{ SITE_ROOT }}resources/#measuretrunk">How do I measure the trunk diameter?</a></p>
                <p class="faq"><a href="{{ SITE_ROOT }}resources/#ecoservices">What are the ecosystem services?</a></p>
                <p class="faq"><a href="{{ SITE_ROOT }}resources/#faqs" class="more">See all FAQs&nbsp;&raquo;</a></p>
            
            </div>
           
        </div>
    </div>
    


    <div id="cityFade"></div> 
<!-- END TREEMAP/INDEX.HTML -->	

{% comment %}    
<!-- end: subfooter -->
{% endcomment %}

        {% endblock %}
