{% extends "template_3.html" %}

{% block body_load %}class="contact"{% endblock %}

{% block tophead %}
    <script type="text/javascript" src="/static/openlayers/proj4js-compressed.js"></script>
	<script type="text/javascript" src="/static/openlayers/defs/EPSG102100.js"></script>
	<script type="text/javascript" src="/static/openlayers/defs/EPSG4326.js"></script>
	<script type="text/javascript" src="/static/openlayers/OpenLayers.js"></script>
	<script src="http://maps.google.com/maps/api/js?v=3.2&amp;sensor=false"></script>
	<script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.2&mkt=en-us"></script>

{% endblock %}

{% block body_id %}id="tree_add"{% endblock %}

{% block extrahead %}
    <script type="text/javascript">
    jQuery().ready(function() {
        tm.init_add_map();
        jQuery.getJSON('/species/json/', function(species){
            tm.speciesData = species;
            tm.setupAutoComplete($('#id_species_name')).result(function(event, item) {
                $("#id_species_id").val(item.symbol).change();
            });
        });
    });
</script>
{% endblock %}



{% comment %}
{% block content_body_top %}

    <!-- start contentbody -->
        <div id="contentbody">
            <div class="tabset-holder">

                <ul class="tabset">
                    <li class="active"><a href="../"><span>Add a Tree</span></a></li>
                </ul>
            </div>
            <div class="tab-content" id="tab-2">

                <div class="wrap">
{% endblock %}
{% endcomment %}

{% block left_panel %}

<div id="register" class="add">

    <h1>Add a new tree <span class="note"></span></h1>

    {% if form.errors %}
    <div id="genError"><b>Oops!</b> There was a problem.<br />
        {% if form.non_field_errors %}
            <span id="smError">{{ form.non_field_errors }} </span></div>
        {% else %}
            <span id="smError">Error are noted in red below.</span></div>
        {% endif %}
    {% endif %}

    <form action="." method="POST">
    <fieldset>
	<div id="step1">
	<label class="required" {% if form.edit_address_street.errors %}id="error"{% endif %}>Step 1
    </label>
    {{ form.edit_address_street }}
	<a href="javascript:void(0)" id="update_map" class="buttonMed">View Map</a>
	</div>



	<div id="mapHolder">

	<div class="clearLeft" id="step2">
		<label class="required">Step 2</label>
		<span class="value">Specify Placement</span>
		<div class="clearLeft"></div>
	</div>
	
        <div id="mapHolderDirections">Click-and-drag the orange circle to move it to the correct location.</div>
    <div id="add_tree_map" class="addMap">
		<div id="geocode_address"></div>
		<div class="shadowLeft"></div>
		<div class="shadowTop"></div>
	</div>
	<div id="add_tree_nearby">
		<h1 class="title-edit">Nearby Trees</h1>
		<div id="nearby_trees"></div>
	</div>
	
	<div class="clearLeft" id="step3">
    <label {% if form.species_name.errors %}id="error"{% endif %}>Step 3 <br/><span class="note">Optional</span>
        
    </label>
    {{ form.species_name }}
	<button type="submit" class="buttonMed">Add this tree!</button>
	<br/>
	<span class="small"><a id="treekey" href="/treekey/" target="_blank">Not sure what kind of tree it is? Find out in the Philly Tree Key</a></span>
	</div>
	
	</div>


	<!-- Hidden fields -->

    {{ form.species_id }}
    {{ form.lat }}
    {{ form.lon }}
    {{ form.edit_address_city }}
    {{ form.edit_address_zip }}


    </fieldset>
    </form>
    </div>

    {% endblock %}

    {% block right_panel %}

    {% endblock right_panel %}

