{% extends "infowindow.html" %}

{% block tophead %}
<script type="text/javascript">
	function fav_click(evt) {
		var pk = $('a.favorite').attr('id').replace('favorite_', '');
		var url = '/trees/favorites/create/' + pk + '/';
		var url2 = '/trees/favorites/delete/' + pk + '/';
		if ($('a.favorite').hasClass('fave')) {
			$.getJSON(url, function(data, textStatus) {
				$('#favorite_' + pk).removeClass('fave').addClass('unfave').text('Remove as favorite');
			});
		}
		else
		{
			$.getJSON(url2, function(data, textStatus) {
				$('#favorite_' + pk).removeClass('unfave').addClass('fave').text('Add as favorite');
			});
		}

		return false;
	}
</script>
{% endblock %}

{% block left_panel %}
<table class="box-table-c">
    <!-- Do we really need this header? -->
    <thead>
    	<tr>
        	<th scope="col" colspan="4">
        		{{ tree.scientific_name|default:"No Species Yet" }} <br/>
        		<span style="font-size:smaller;">{{ tree.species.common_name }}</span>
        	</th>
        </tr>
    </thead>

    <tbody>
        <tr>
        	<td class="col1">Nearby address</td>
            <td>{{ tree.address_street|default:"Missing" }}</td>
        </tr>
        <tr>
        	<td class="col1">Trunk diameter</td>
            <td>{{ tree.current_dbh|default:"Missing" }}</td>
        </tr>
        <tr>
        	<td class="col1">Height</td>
            <td>{{ tree.get_height|default:"Missing" }}</td>
        </tr>
        <tr>
        	<td class="col1">Last updated</td>
            <td>{{ tree.last_updated|date }}</td>
        </tr>
        {% if tree.treealert_set.all.count > 0 %}
        <tr>
        	<td class="col1">Alerts</td>
            <td>
                <a href="{% url treemap_tree_detail tree.id %}#status">Yes</a>
            </td>
        </tr>
        {% endif %}
        <tr>
        	<td class="col1">Yearly eco impact</td>
            <td>{% if tree.get_eco_impact %}${{ tree.get_eco_impact|floatformat:2 }}{% else %}Not Available{% endif %}</td>
        </tr>
    </tbody>
</table>

{% endblock %}


{% block right_panel %}

<ul id="optionList">
	<li id="details"><a href="{% url treemap_tree_detail tree.id %}">View all details</a></li>
	<li id="note">Tree's profile page</li>
	<li id="edit"><a href="{% url treemap_tree_edit tree.id %}">Edit details</a></li>
	<li id="note">Tree's edit page</li>
    {% if tree.s_order > 1 %}{{tree.s_order}}{% endif %}
    {% if user.is_authenticated %}

    <li id="fav">

        {% if favorite %}
            Favorited (<a href="javascript:void(0);" onClick="fav_click()" id="favorite_{{ tree.id }}"
             class="favorite fav unfave">Unfavorite</a>)
        {% else %}
            <a href="javascript:void(0);" onClick="fav_click()" id="favorite_{{ tree.id }}"
             class="favorite fav fave">Add as favorite</a>
            {% if tree.treefavorite_set.all.count %}
                ({{tree.treefavorite_set.all.count}} others have)
            {% endif %}
        {% endif %}

    </li>
    {% endif %}
	<!-- TODO -->
	<!--
	<li id="email"><a href="#">Email to a friend</a></li>
	<li id="twitter"><a href="#">Tweet this tree</a></li>
	-->
</ul>

{% endblock %}
