{% extends "template_3.html" %}

{% block body_load %}class="contact"{% endblock %}

{% block tophead %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GKEY }}"></script>
    <script type="text/javascript" src="/static/marker_mgr_light_compress.js"></script>
    <!--
    <script type="text/javascript" src="http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js"></script>
    -->
{% endblock %}


{% block extrahead %}
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/fancybox/jquery.fancybox-1.3.1.css" media="screen" />
<script type="text/javascript">
    jQuery().ready(function() {
        
        //tm.current_tree_geometry = [{{instance.geometry.x}}, {{instance.geometry.y}}];
        //tm.init_tree_map(true);
        //tm.currentTreeId = {{instance.id}};

        tm.init_add_map();
        jQuery.getJSON('/species/json/', function(species){
            tm.speciesData = species;
            tm.setupAutoComplete($('#id_species_name')).result(function(event, item) {
                //if (item.sname)
                //{
                    //$('#common_name')[0].innerHTML = item.sname;
                //}
                $("#id_species_id").val(item.symbol).change(); 
            });
            //var spec = $.address.parameter("species");
            //tm.updateSpeciesFields("search_species2",spec);
            //$("#species_search2_form").submit(function() {
            //    console.log('yes');
                /*if (location.href.substr(0,4) != "/map") {
                    location.href="/map/#/?species="+$("#species_search_id").val();
                }
                return false;
                */
            //});
        });

$("#treekey").fancybox({
'width'        : 980,
'height'      : 600,
'autoScale'       : false,
'transitionIn'    : 'none',
'transitionOut'    : 'none',
'type'        : 'iframe'
});

    });
</script>
{% endblock %}



{% comment %}
{% block content_body_top %}
   
    <!-- start contentbody -->
        <div id="contentbody">
            <div class="tabset-holder">

                <ul class="tabset">
                    <li class="active"><a href="../"><span>Add a Tree</span></a></li>
                </ul>
            </div>
            <div class="tab-content" id="tab-2">

                <div class="wrap">
{% endblock %}
{% endcomment %}

{% block left_panel %}
    
<div id="register">

    <h1>Add a new tree <span class="note">(If it's bold it's required)</span></h1>

    {% if form.errors %}
    <div id="genError"><b>Oops!</b> There was a problem.<br />
        {% if form.non_field_errors %}
            <span id="smError">{{ form.non_field_errors }} </span></div>
        {% else %}
            <span id="smError">Error are noted in red below.</span></div>
        {% endif %}
    {% endif %}

    <form action="." method="POST">
    <fieldset>
      

    <label class="required" {% if form.edit_address_street.errors %}id="error"{% endif %}>Nearby address
        {% if form.edit_address_street.errors %}
             {% for error in form.edit_address_street.errors %}
                 <span class="small" id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small">Enter closest address</span>
        {% endif %}
    </label>
    {{ form.edit_address_street }}
    
    <label class="required" {% if form.edit_address_city.errors %}id="error"{% endif %}>City
        {% if form.edit_address_city.errors %}
             {% for error in form.edit_address_city.errors %}
                 <span class="small" id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small">Enter tree city</span>
        {% endif %}
    </label>
    {{ form.edit_address_city }}

    <label class="required" {% if form.edit_address_zip.errors %}id="error"{% endif %}>Zip code
        {% if form.edit_address_zip.errors %}
             {% for error in form.edit_address_zip.errors %}
                 <span class="small" id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small">Enter tree zip code</span>
        {% endif %}
    </label>
    {{ form.edit_address_zip }}

	<div id="mapHolder">
    <label class="required" {% if form.edit_address_zip.errors %}id="error"{% endif %}>Specify placement
        <span class="small">Once you enter an address, grab the tree and move it to the correct location.</span>
    </label>
	<div id="add_tree_map" class="addMap"></div>
	</div>

    <label class="required" {% if form.species_name.errors %}id="error"{% endif %}>Species name
        {% if form.species_name.errors %}
             {% for error in form.species_name.errors %}
                 <span class="small" id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small"><a id="treekey" href="/treekey/" target="_blank">Not sure what kind of tree it is?</a></span>
        {% endif %}
    </label>
    {{ form.species_name }}

    <label {% if form.species_id.errors %}id="error"{% endif %}>
        {% if form.species_id.errors %}
             {% for error in form.species_id.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small"><!-- hidden --></span>
        {% endif %}
    {{ form.species_id }}
    </label>

    <label {% if form.lat.errors %}id="error"{% endif %}>
        {% if form.lat.errors %}
             {% for error in form.lat.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small"><!-- hidden --></span>
        {% endif %}
    {{ form.lat }}
    </label>

    <label {% if form.lon.errors %}id="error"{% endif %}>
        {% if form.lon.errors %}
             {% for error in form.lon.errors %}
                 <span id="smError2">{{ error }}</span>
             {% endfor %}
        {% else %}
        <span class="small"><!-- hidden --></span>
        {% endif %}
    {{ form.lon }}
    </label>

    <button type="submit">Add this tree!</button>
    </fieldset>
    </form>
    </div>

    {% endblock %}
    
    {% block right_panel %}
       <div id="calloutContainer">
            <h2 class="title-edit">Double check</h2>
            <p>Are you sure the tree you want to add isn't already in our database? Make sure you <a href="/map">search for the tree first</a>. Then, add it if we don't have it in our system.</p>
        </div>
    
    {% endblock right_panel %}

