{% extends "base.html" %}

{% load pagination_tags %}
{% load sorting_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablesorter/style.css" media="screen" />

    <script type="text/javascript">
		$(document).ready(function() {

			if (jQuery.urlParam('username')) {
				jQuery("#s_username").val(jQuery.urlParam('username'));
			}
			if (jQuery.urlParam('name')) {
				jQuery("#s_name").val(jQuery.urlParam('name'));
			}
			if (jQuery.urlParam('group')) {
				jQuery("#s_group").val(jQuery.urlParam('group'));
			}

			jQuery("#search input").keydown(function(evt) {
				if (evt.keyCode == 13) {
					jQuery("#filter").click();
				}
			});

			jQuery("#filter").click(function(evt) {
				var params = {};
				var q = $.query.empty();
				if (jQuery("#s_username").val()) {params["username"] = jQuery("#s_username").val();}
				if (jQuery("#s_name").val()) {params["name"] = jQuery("#s_name").val();}
				if (jQuery("#s_group").val()) {params["group"] = jQuery("#s_group").val();}

				for (var key in params) {
					if (!params[key]) {
						continue;
					}
					var val = params[key];
					q = q.set(key, val);
				}
				var qstr = decodeURIComponent(q.toString()).replace(/\+/g, "%20")

				window.location = "{{ SITE_ROOT }}users/" + qstr;

			});
			jQuery("#clear").click(function(evt) {
				window.location = "{{ SITE_ROOT }}users/"
			});

			//jQuery("#user_list_table").tablesorter({sortList: [[0,0]], headers: {2:{sorter:'usLongDate'}}})


		});

    </script>
{% endblock %}

{% block body_id %}id="user_edit"{% endblock %}

{% block content %}

{% autosort users %}
{% autopaginate users 20 %}

<div class="content admin">
	<div class="admin-header">
		<h2>Users</h2>
		{% include "treemap/admin_nav.html" %}
		<div class="clearBoth"></div>
	</div>
	<div id="search">
		<div id="search_username"><label for="s_username">Username: </label><input id="s_username" /></div>
		<div id="search_name"><label for="s_name">Name: </label><input id="s_name" /></div>
		<div id="search_group"><label for="s_group">Group: </label><input id="s_group" /></div>
		<div class="button_group"><button id="clear" >Clear</button> <button id="filter" >Filter</button></div>
	</div>
	<div id='instructions'><b>Instructions:</b>
		Click column headings to sort all records. Users with a reputation above 1000 points have
		additional editing privileges. Users in a group other than public can access the
		administrative pages (comments, tree watch list, recent images, etc). Banning a user will
		immediately make their account inactive.
	</div>
	{% paginate %}
	<div id="user_list">
		<table id="user_list_table">
			<thead>
				<tr>
					<th>{% anchor username Username %}</th>
					<th>{% anchor first_name Name %}</th>
					<th>{% anchor email Email %}</th>
					<th>{% anchor last_login 'Last Login' %}</th>
					<th>{% anchor is_active Status %}</th>
					<th>{% anchor groups__name Group %}</th>
					<th>{% anchor reputation__reputation Reputation %}</th>
				</tr>
			</thead>
			<tbody>
				{% for u in users %}
					<tr class="user_edit_row" data-id="{{u.id}}">
						<td><a href="{% url profiles.views.profile_detail u.username %}">{{u.username}}</a></td>
						<td>{{u.get_full_name}} </td>
						<td>{{u.email}}</td>
						<td>{{u.last_login|date:"M d, Y"}}</td>
						<td id="active">{{u.is_active|yesno:"Active,Inactive"}}</td>
						<td>
							<select style="width:100%;" onChange="tm.updateGroup_Admin({{u.id}}, this.value);return false;">
								<option>Public</option>
							{% for g in groups.all %}
								<option {%if g in u.groups.all%}selected='true'{%endif%} value='{{g.id}}'>{{g.name}}</option>
							{% endfor %}
							</select>
						</td>
						<td id="rep">
							<input id='reputation_{{u.id}}' value='{{u.reputation.reputation}}' size=6 onChange="tm.updateReputation_Admin({{u.id}}, this.value);return false;">
							{% if u.is_active %}
								<a id="ban" href="javascript:void(0);" onclick="tm.banUser({{u.id}});return false;">Ban?</a>
								<a id="activate" href="javascript:void(0);" style="display:none;" onclick="tm.activateUser({{u.id}});return false;">Activate?</a>
							{% else %}
								<a id="ban" href="javascript:void(0);" style="display:none;" onclick="tm.banUser({{u.id}});return false;">Ban?</a>
								<a id="activate" href="javascript:void(0);" onclick="tm.activateUser({{u.id}});return false;">Activate?</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% paginate %}

</div>


{% endblock %}

