{% extends "base.html" %}
{% block extrahead %}
    <script src="/static/tablesorter/jquery.tablesorter.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/tablesorter/style.css" media="screen" />

    <script type="text/javascript">
		$(document).ready(function() {
			if (jQuery.urlParam('username')) {
				jQuery("#s_username").val(jQuery.urlParam('username'));
			}
			if (jQuery.urlParam('user')) {
				jQuery("#s_user").val(jQuery.urlParam('user'));
			}
			if (jQuery.urlParam('group')) {
				jQuery("#s_group").val(jQuery.urlParam('group'));
			}

			jQuery("#search input").keydown(function(evt) {
				if (evt.keyCode == 13) {
					jQuery("#filter").click();
				}
			});

			jQuery("#filter").click(function(evt) {
				var params = {};
				var q = $.query.empty();
				if (jQuery("#s_username").val()) {params["username"] = jQuery("#s_username").val();}
				if (jQuery("#s_user").val()) {params["user"] = jQuery("#s_user").val();}
				if (jQuery("#s_group").val()) {params["group"] = jQuery("#s_group").val();}

				for (var key in params) {
					if (!params[key]) {
						continue;
					}
					var val = params[key];
					q = q.set(key, val);
				}
				var qstr = decodeURIComponent(q.toString()).replace(/\+/g, "%20")

				window.location = "/users/" + qstr;

			});
			jQuery("#clear").click(function(evt) {
				window.location = "/users/"
			});

			jQuery("#user_list_table").tablesorter({sortList: [[0,0]], headers: {2:{sorter:'usLongDate'}}})

		});

    </script>
{% endblock %}

{% block content %}

<div class="content">
	<h2>Users</h2>
	<div id="search">
		<div id="search_username"><label for="s_username">Username: </label><input id="s_username" /></div>
		<div id="search_user"><label for="s_user">User: </label><input id="s_user" /></div>
		<div id="search_group"><label for="s_group">Group: </label><input id="s_group" /></div>
		<div><button id="clear" >Clear</button> <button id="filter" >Filter</button></div>
	</div>
	{% if page %}
		You are looking at users {{page.start_index}} through {{page.end_index}} <br>
		{% if page.has_previous %}<a href="./?page={{page.previous_page_number}}">previous</a>{% endif %}
		{% if page.has_next %}<a href="./?page={{page.next_page_number}}">next</a>{% endif %}
	{% endif %}
	<div id="user_list">
		<table id="user_list_table">
			<thead>
				<tr>
					<th>Username</th>
					<th>User</th>
					<th>Last Login</th>
					<th>Status</th>
					<th>Group</th>
					<th>Reputation</th>
				</tr>
			</thead>
			<tbody>
				{% for u in users %}
					<tr id="{{u.id}}">
						<td><a href="/profile/{{u.username}}">{{u.username}}</a></td>
						<td>{{u.get_full_name}} <br/>{{u.email}}</td>
						<td>{{u.last_login|date:"M d, Y"}}</td>
						<td id="active">{{u.is_active|yesno:"Active,Inactive"}}</td>
						<td>
							<select style="width:100%;" onChange="tm.updateGroup_Admin({{u.id}}, this.value);return false;">
								<option>Public</option>
							{% for g in groups.all %}
								<option {%if g in u.groups.all%}selected='true'{%endif%} value='{{g.id}}'>{{g.name}}</option>
							{% endfor %}
							</select>
						</td>
						<td id="rep">
							<input id='reputation_{{u.id}}' value='{{u.reputation.reputation}}' size=6 onChange="tm.updateReputation_Admin({{u.id}}, this.value);return false;">
							{% if u.is_active %}
								<a id="ban" href="javascript:void(0);" onclick="tm.banUser({{u.id}});return false;">Ban?</a>
								<a id="activate" href="javascript:void(0);" style="display:none;" onclick="tm.activateUser({{u.id}});return false;">Activate?</a>
							{% else %}
								<a id="ban" href="javascript:void(0);" onclick="tm.banUser({{u.id}});return false;">Ban?</a>
								<a id="activate" href="javascript:void(0);" style="display:none;" onclick="tm.activateUser({{u.id}});return false;">Activate?</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>


{% endblock %}

