{% extends "base.html" %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/tablesorter/style.css" media="screen" />

    <script type="text/javascript">
		$(document).ready(function() {
			if (jQuery.urlParam('username')) {
				jQuery("#s_username").val(jQuery.urlParam('username'));
			}
			if (jQuery.urlParam('address')) {
				jQuery("#s_address").val(jQuery.urlParam('address'));
			}
			jQuery("#search input").keydown(function(evt) {
				if (evt.keyCode == 13) {
					jQuery("#filter").click();
				}
			});

			jQuery("#filter").click(function(evt) {
				var params = {};
				var q = $.query.empty();
				if (jQuery("#s_username").val()) {params["username"] = jQuery("#s_username").val();}
				if (jQuery("#s_address").val()) {params["address"] = jQuery("#s_address").val();}

				for (var key in params) {
					if (!params[key]) {
						continue;
					}
					var val = params[key];
					q = q.set(key, val);
				}
				var qstr = decodeURIComponent(q.toString()).replace(/\+/g, "%20")

				window.location = "/verify/" + qstr;

			});
			jQuery("#clear").click(function(evt) {
				window.location = "/verify/"
			});

			//jQuery("#species_list_table").tablesorter({sortList: [[3,1]], headers: {3:{sorter:'usLongDate'}}})
		});

    </script>
{% endblock %}

{% block body_id %}id="verify_edit"{% endblock %}

{% block content %}

{% autosort changes %}
{% autopaginate changes 20 %}
<div class="content">
	<h2>Recent Edits</h2>
	<div id="search">
		<div id="search_username"><label for="s_username">Updated By: </label><input id="s_username" /></div>
		<div id="search_address"><label for="s_address">Address: </label><input id="s_address" /></div>
		<div><button id="clear" >Clear</button> <button id="filter" >Filter</button></div>
	</div>
	{% paginate %}
	<div id="species_list">
		<table id="species_list_table">
			<thead>
				<tr>
					<th>{% anchor species Tree %}</th>
					<th>{% anchor address_street Address %}</th>
					<th>{% anchor last_updated_by 'Updated By' %}</th>
					<th>{% anchor last_updated Date %}</th>
					<th>Change</th>
					<th>Rep</th>
				</tr>
			</thead>
			<tbody>
				{% for c in changes %}
				<tr id="{{c.type}}_{{c.change_id}}">
					<td><i>{{c.species}}</i><br><a href="/trees/{{c.id}}" target="_blank">View Record</a></td>
					<td>{{c.address_street}}</td>
					<td><a href="/profiles/{{c.last_updated_by}}" target="_blank">{{c.last_updated_by}}</a></td>
					<td>{{c.last_updated|date:"M d, Y"}}</td>
					{% if c.change_description.key %}
						<td><b>{{c.change_description.key}}</b> - {{c.change_description.value}}<br>
						{% if c.change_description.old_value %}
							Old Value: {{c.change_description.old_value}}
						{% endif %}
						</td>
					{% else %}
						{% if c.change_description.items %}
							<td>
							{% for key, value in c.change_description.items %}
								<b>{{key}}:</b> {{value}}<br>
							{% endfor %}
							</td>
						{% else %}
							<td>{{c.change_description}}</td>
						{% endif %}
					{% endif %}
					<td> <a href="#" onclick="tm.updateReputation('{{c.type}}', {{c.change_id}}, 'up');return false;">U</a>
						 <a href="#" onclick="tm.updateReputation('{{c.type}}', {{c.change_id}}, 'neutral');return false;">N</a>
						 <a href="#" onclick="tm.updateReputation('{{c.type}}', {{c.change_id}}, 'down');return false;">D</a> </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>


{% endblock %}

