{% extends "base.html" %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablesorter/style.css" media="screen" />

    <script type="text/javascript">
		$(document).ready(function() {
			if (jQuery.urlParam('username')) {
				jQuery("#s_username").val(jQuery.urlParam('username'));
			}
			if (jQuery.urlParam('address')) {
				jQuery("#s_address").val(jQuery.urlParam('address'));
			}
			if (jQuery.urlParam('test')) {
				jQuery("#s_test").val(jQuery.urlParam('test'));
			}
			if (jQuery.urlParam('nhood')) {
				jQuery("#s_nhood").prepend(jQuery("<option value='{{geography.all.0.id}} ' selected>{{geography.all.0.name}}</option>"));
			}
			jQuery("#search input").keydown(function(evt) {
				if (evt.keyCode == 13) {
					jQuery("#filter").click();
				}
			});

			jQuery("#filter").click(function(evt) {
				var params = {};
				var q = $.query.empty();
				if (jQuery("#s_username").val()) {params["username"] = jQuery("#s_username").val();}
				if (jQuery("#s_address").val()) {params["address"] = jQuery("#s_address").val();}
				if (jQuery("#s_test").val() && jQuery("#s_test").val() != "All Tests") {params["test"] = jQuery("#s_test").val();}
				if (jQuery("#s_nhood").val()) {params["nhood"] = jQuery("#s_nhood").val();}

				for (var key in params) {
					if (!params[key]) {
						continue;
					}
					var val = params[key];
					q = q.set(key, val);
				}
				var qstr = decodeURIComponent(q.toString()).replace(/\+/g, "%20")

				window.location = "{{ SITE_ROOT }}trees/watch/" + qstr;

			});
			jQuery("#clear").click(function(evt) {
				window.location = "{{ SITE_ROOT }}trees/watch/"
			});

			//jQuery("#species_list_table").tablesorter({sortList: [[2,1]], headers: {2:{sorter:'usLongDate'}}})
		});

    </script>
{% endblock %}

{% block body_id %}id="verify_edit"{% endblock %}


{% block content %}

{% autosort watches %}
{% autopaginate watches 20 %}
<div class="content admin">
	<div class="admin-header">
		<h2>Tree Watch List</h2>
		{% include "treemap/admin_nav.html" %}
		<div class="clearBoth"></div>
	</div>

	
	<div id="search">
		<div id="search_username"><label for="s_username">Updated By: </label><input id="s_username" /></div>
		<div id="search_address"><label for="s_address">Address: </label><input id="s_address" /></div>
		<div id="search_test"><label for="s_test">Test Failed: </label>
			<select id="s_test" >
				<option selected="selected">All Tests</option>
				{% for test in test_names %}
					<option value="{{test.0}}">{{test.1}}</option>
				{% endfor %}
			</select>
		</div>
		<div id="nbhood"><label for="s_nhood">Neighborhood: </label>
			<select id="s_nhood">
				<option value=""></option>
			</select>
		</div>
		<div class="button_group"><button id="clear" >Clear</button> <button id="filter" >Filter</button></div>
	</div>

	<div id='instructions'><b>Instructions:</b> Click column headings to sort all records. These trees have failed a data validation check. If the data is valid, click the Validate link in the Change column. If the data is not valid, visit the tree record to fix the data.</div>
	{% paginate %}
	<div id="species_list">
		<table id="species_list_table">
			<thead>
				<tr>
					<th>{% anchor tree__species Tree %}</th>
					<th>{% anchor tree__plot__address_street Address %}</th>
					<th>{% anchor tree__last_updated 'Last Update' %}</th>
					<th>{% anchor key 'Test Failed' %}</th>
					<th>Change</th>
				</tr>
			</thead>
			<tbody>
				{% for w in watches %}
				<tr id="{{w.id}}">
					<td><i>{{w.tree.species}}</i><br><a href="{% url treemap.views.tree_edit w.tree_id %}" target="_blank">View Record</a></td>
					<td>{{w.tree.address_street}}</td>
					<td>{{w.tree.last_updated|date:"M d, Y"}}
						<br/><a href="{% url profiles.views.profile_detail w.tree.last_updated_by.username %}" target="_blank">{{w.tree.last_updated_by}}</a>
					</td>
					<td>
						{{ w.key }} - {{w.value}}
					</td>
					<td>
						<a href="#" onclick="tm.validate_watch({{w.id}});return false;">Validate</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% paginate %}
</div>


{% endblock %}

