{% extends "base.html" %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/tablesorter/style.css" media="screen" />

    <script type="text/javascript">
		$(document).ready(function() {

			if (jQuery.urlParam('username')) {
				jQuery("#s_username").val(jQuery.urlParam('username'));
			}
			if (jQuery.urlParam('text')) {
				jQuery("#s_comment").val(jQuery.urlParam('text'));
			}

			jQuery("#search input").keydown(function(evt) {
				if (evt.keyCode == 13) {
					jQuery("#filter").click();
				}
			});

			jQuery("#filter").click(function(evt) {
				var params = {};
				var q = $.query.empty();
				if (jQuery("#s_username").val()) {params["username"] = jQuery("#s_username").val();}
				if (jQuery("#s_comment").val()) {params["text"] = jQuery("#s_comment").val();}

				for (var key in params) {
					if (!params[key]) {
						continue;
					}
					var val = params[key];
					q = q.set(key, val);
				}
				var qstr = decodeURIComponent(q.toString()).replace(/\+/g, "%20")

				window.location = "/comments/moderate/" + qstr;

			});
			jQuery("#clear").click(function(evt) {
				window.location = "/comments/moderate/"
			});

			//jQuery("#flagged_list_table").tablesorter({sortList: [[1,1]], headers: {1:{sorter:'usLongDate'}}})

		});

    </script>
{% endblock %}

{% block content %}

{% autosort flags %}
{% autopaginate flags 20 %}
<div class="content">
	<h2>Flagged Comments</h2>
	<div id="search">
		<div id="search_username"><label for="s_username">Username: </label><input id="s_username" /></div>
		<div id="search_comment"><label for="s_comment">Comment Text: </label><input id="s_comment" /></div>
		<div><button id="clear" >Clear</button> <button id="filter" >Filter</button></div>
	</div>
	<div id='instructions'><b>Instructions:</b> Click column headings to sort all records. The Hide Comment
		action will hide the comment from all users. The Remove Flag action will un-flag the comment.</div>
	{% paginate %}
	<div><a href="/comments/all/">View all comments</a></div>
	<div id="flagged_list">
		<table id="flagged_list_table">
			<thead>
				<tr>
					<th>{% anchor user__username 'Flagged By' %}</th>
					<th>{% anchor flag_date Date %}</th>
					<th>{% anchor comment__object_pk Comment %}</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for c in flags %}
				<tr id="{{c.id}}">
					<td><a href="/profile/{{c.user.username}}" target="_blank">{{c.user.username}}</a></td>
					<td>{{c.flag_date|date:"M d, Y"}}</td>
					<td>
						<a href="/trees/{{c.comment.content_object.id}}">Tree #{{c.comment.content_object.id}}</a>
						  - {{c.comment.submit_date|date:"M d, Y"}}
						  - <a href="/profile/{{c.comment.user.username}}" target="_blank">{{c.comment.user.username}}</a> -
						<br>{{c.comment.comment}}</td>
					<td>
						<a href="#" onclick="tm.hideComment({{c.id}}); return false;">Hide Comment</a>
						<br><a href="#" onclick="tm.removeFlag({{c.id}}); return false;">Remove Flag</a>
				 	</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

