{% extends "template_3.html" %}

    {% block left_panel %}
<div id="register">

	<h1>Contact us<!-- <br /><span class="note">If you would like more information about the Urban Forest Map, please provide us with your contact information by filling out the brief form below.</span> --></h1>    

    <p class="addNote">Thank you for contacting us! Please know we read each and every note. Unfortunately, we cannot respond to all submissions.</p>

</div>



                    
    {% endblock %}

    
{% block right_panel %}
                            <div id="calloutContainer">
                                <h2>Your turn</h2>
                                <p>Our database of trees comes from public records and citizen foresters like you. <a href="{% url treemap.views.tree_add %}">Add a tree today and help us grow!</a></p>
                            </div>
{% endblock %}
