{% extends "infowindow.html" %}


{% block tophead %}
<script type="text/javascript">
	jQuery().ready(function() {
		if (jQuery("#address").html() == "Missing") {
			latlng = new google.maps.LatLng({{ tree.geometry.y }}, {{ tree.geometry.x }})
			tm.geocoder.geocode({
				latLng: latlng
			}, function(results, status){
				if (status == google.maps.GeocoderStatus.OK) {
					jQuery("#address").html(results[0].formatted_address.split(", ")[0])
				}
			});
		}
	});
	function fav_click(evt) {
		var pk = $('a.favorite').attr('id').replace('favorite_', '');
		var url = '/trees/favorites/create/' + pk + '/';
		var url2 = '/trees/favorites/delete/' + pk + '/';
		if ($('a.favorite').hasClass('fave')) {
			$.getJSON(url, function(data, textStatus) {
				$('#favorite_' + pk).removeClass('fave').addClass('unfave').text('Remove as favorite');
			});
		}
		else
		{
			$.getJSON(url2, function(data, textStatus) {
				$('#favorite_' + pk).removeClass('unfave').addClass('fave').text('Add as favorite');
			});
		}

		return false;
	}
</script>
{% endblock %}

{% block left_panel %}
<table class="box-table-c">
    <!-- Do we really need this header? -->
    <thead>
    	<tr>
        	<th scope="col" colspan="4">Quick view</th>
        </tr>
    </thead>
    
    <tbody>
    	<tr>
        	<td class="col1">Species name</td>
            <td><i>{{ tree.get_scientific_name }}</i></td>
        </tr>
        <tr>
        	<td class="col1">Common name</td>
            <td>{{ tree.species.common_name }}</td>
        </tr>
        <tr>
        	<td class="col1">Tree number</td>
            <td>#{{ tree.id }}</td>
        </tr>
        <tr>
        	<td class="col1">Nearby address</td>
            <td>{{ tree.address_street }}</td>
        </tr>
        <tr>
        	<td class="col1">Trunk diameter</td>
            <td>{{ tree.dbh|default:"Unknown" }}</td>
        </tr>
        <tr>
        	<td class="col1">Last updated</td>
            <td>{{ tree.last_updated|date }}</td>
        </tr>
        <tr>
        	<td class="col1">Alerts</td>
            <td>
            {% if tree.treealert_set.all.count > 0 %}
                <a href="{% url treemap_tree_detail tree.id %}#status">Yes</a>
            {% else %}
                No Alerts
            {% endif %}
            </td>
        </tr>
{% comment %}
        <tr>
        	<td class="col1">Height</td>
            <td>{{ tree.get_height|default:"Unknown" }}</td>
        </tr>
        <tr>
        	<td class="col1">Condition</td>
            <td>{{ tree.get_condition|default:"Unknown" }}</td>
        </tr>
{% endcomment %}
        <tr>
        	<td class="col1">Yearly eco impact</td>
            <td>{% if tree.get_eco_impact %}${{ tree.get_eco_impact|floatformat:2 }}{% else %}Not Available{% endif %}</td>
        </tr>
    </tbody>
</table>
    
{% endblock %}


{% block right_panel %}

<ul id="optionList">
	<li id="details"><a href="{% url treemap_tree_detail tree.id %}">View all details</a></li>
	<li id="note">Tree's profile page</li>
	<li id="edit"><a href="{% url treemap_tree_edit tree.id %}">Edit details</a></li>
	<li id="note">Tree's edit page</li>
    {% if tree.s_order > 1 %}{{tree.s_order}}{% endif %}
    {% if user.is_authenticated %}

          {% if favorite %}
            <li id="fav">Favorited (<a href="javascript:void(0);" onClick="fav_click()" id="favorite_{{ tree.id }}"
             class="favorite fav unfave">Unfavorite</a>)</li>
        {% else %}
		    <li id="fav">
            <a href="javascript:void(0);" onClick="fav_click()" id="favorite_{{ tree.id }}"
             class="favorite fav fave">Add as favorite</a>
			 </li>
            {% if tree.treefavorite_set.all.count %}
             <li id="note">  ({{tree.treefavorite_set.all.count}} others have)</li>
            {% endif %}
        {% endif %}
    {% endif %}
	<!-- TODO -->
	<!--
	<li id="email"><a href="#">Email to a friend</a></li>
	<li id="twitter"><a href="#">Tweet this tree</a></li>
	-->
</ul>

{% endblock %}
