	{% extends "template_2.html" %}

{% load thumbnail dynamic_attribute humanize %}
{% load maths %}
{% load threadedcommentstags %}
{% load tree_tags %}

{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
<script type="text/javascript">
    jQuery().ready(function() {
        jQuery.each(['#tree_actions','#tree_alerts'], function(i,s){
            jQuery(s).click(function() {
                $(this).next().toggle('slow');
                return false;
                }).next().hide();
            });
            
    });
    
</script>
{% endblock %}

        {% block content_body_top %}
        <!-- start contentbody -->
        
        <div id="contentbody">
             <div id="tabcontainer"> 
                <ul id="tablist"> 
                    <li class="first"><a href="{% url treemap.views.trees tree.id %}" id="current">Tree info</a></li> 
                    <li><a href="{% url treemap_tree_edit tree.id %}">Edit tree</a></li> 
                </ul> 
            </div> 
            <div class="tab-content" id="tab-1">
                <ul id="progress">
                    <li id="progressStatus">{{ tree.percent_complete|floatformat }}%&nbsp;complete</li>
					<div class="progressBar"><div class="progressBarMask" style="left: {{ tree.percent_complete|floatformat }}%"></div></div>
                    <li id="edit"><a href="{% url treemap_tree_edit tree.id %}">Edit this tree &raquo;</a></li>
                </ul>
                <div class="wrap">
        {% endblock %}


            {% block middle_panel %}
    <!-- start t2_middle_panel  -->
    <div class="data">

        <div class="wrap">
            <h2>Common attributes</h2>
            <ul class="attributes">
            {% if tree.has_common_attributes %}

                {% if tree.species.flower_conspicuous %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_flower.gif" alt="Flowering" title="Flowering" width="20" /></li>
                {% endif %}
                {% if tree.species.fall_conspicuous %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_fall.gif" alt="Fall color" title="Fall color" width="20" /></li>
                {% endif %}
                {% if tree.species.palatable_human %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_fruit.gif" alt="Edible (fruits/nuts)" title="Edible (fruits/nuts)" width="20" /></li>
                {% endif %}
                {% if tree.species.native_status.lower == 'true' %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_ca.gif" alt="Native to region" title="Native to region" width="20" /></li>
                {% endif %}
                    {% comment %}
                    {% if tree.species. %}
                    <li><img src="{{ STATIC_URL }}images/v2/icon_wild.gif" alt="High performer" title="High performer" width="20" /></li>
                    {% endif %}
                    {% endcomment %}
                {% if tree.sanfranciscotree.sf_local_carbon_fund %}
                <li><img src="{{ STATIC_URL }}images/SanFrancisco/v2/icon_carbon.gif" alt="San Francisco Carbon Fund" title="San Francisco Carbon Fund" width="20" /></li>
                {% endif %}
                {% if tree.sanfranciscotree.sf_fruit_gleaning_project %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_glean.gif" alt="Fruit Gleaning Project" title="Fruit Gleaning Project" width="20" /></li>
                {% endif %}
                {% if tree.sanfranciscotree.sf_landmark %}
                <li><img src="{{ STATIC_URL }}images/v2/icon_landmark.gif" alt="San Francisco Landmark" title="San Francisco Landmark" width="20" /></li>
                {% endif %}
                
                <!-- ALSO sf significant??? -->
                
            {% else %}
            <li>None at this time</li>
            {% endif %}

            </ul>
        </div>
                        
                        
<table class="box-table-a">
    <thead>
    	<tr>
        	<th scope="col" colspan="4">General tree information</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td class="col1Wide">Tree number</td>
            <td>#{{tree.id}}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Scientific name</td>
            <td><i>{{tree.species.genus}} {{tree.species.species}}</i> {{tree.species.cultivar_name}}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Common name</td>
            <td>{{tree.get_common_name}}</td>
            <td></td>
        </tr>
    	<tr>
        	<td class="col1Wide">Trunk diameter</td>
            <td>{{tree.dbh|unit_or_missing:"inches"}}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Tree height</td>
            <td>{{tree.height|unit_or_missing:"feet"}}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Date Planted</td>
            <td>{{tree.date_planted|date|default:"Missing"}}</td>
            <td></td>
        </tr>
    </tbody>
</table>

<table class="box-table-a">
    <thead>
    	<tr>
        	<th scope="col" colspan="2">Yearly ecosystem services</th>
        	<th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
{% if tree.species %} {% if tree.dbh %}
        <tr>
        	<td class="col1Wide">Energy conserved</td>
            <td>{{tree.treeresource.annual_energy_conserved|unit_or_empty:'kWh'}}</td>
            <td>${{tree.treeresource.benefits.energy|unit_or_empty:''}}</td>
        </tr>
    	<tr>
        	<td class="col1Wide">Stormwater intercepted</td>
            <td>{{tree.treeresource.annual_stormwater_management|unit_or_empty:'gal'}} </td>
            <td>${{tree.treeresource.benefits.water|unit_or_empty:''}}</td>
        </tr>
        <tr>
        	<td class="col1Wide">Air pollutants removed</td>
            <td>{{tree.treeresource.annual_air_quality_improvement|unit_or_empty:'lbs'}} </td>
            <td>${{tree.treeresource.benefits.air_quality|unit_or_empty:''}}</td>
        </tr>
        <tr>
        	<td class="col1Wide">Carbon dioxide reduced</td>
            <td>{{tree.treeresource.annual_co2_reduced|unit_or_empty:'lbs'}} </td>
            <td>${{tree.treeresource.benefits.co2_reduced|unit_or_empty:''}}</td>
        </tr>
        <tr>
        	<td class="col1Wide">Total Co2 stored to date</td>
            <td>{{tree.treeresource.total_co2_stored|unit_or_empty:'lbs'}} </td>
            <td>${{tree.treeresource.benefits.co2_stored|unit_or_empty:''}}</td>
        </tr>
{% else %}
        <tr>
            <td colspan="3"><span class="note">Data is not available. The trunk diameter is needed to calculate the environmental resources for this tree. <a href="edit/">Add the diameter &raquo;</a></span></td>
        </tr>
{% endif %}
{% else %}
        <tr>
            <td colspan="3">Data is not available. The trunk species is needed to calculate the environmental resources for this tree. <a href="edit/">Add the species >></a></td>
        </tr>
{% endif %}
    </tbody>
</table>

<table class="box-table-a">
    <thead>
    	<tr>
        	<th scope="col" colspan="4">Environment</th>
        </tr>
    </thead>
    <tbody>

        <tr>
        	<td class="col1Wide">Planting site size</td>
            <td>{% if tree.plot_width > 15.99 %}15+ ft x{% else %}{{tree.plot_width|unit_or_missing:"ft x"}}{% endif %}
                {% if tree.plot_length > 15.99 %}15+ ft{% else %}{{tree.plot_length|unit_or_empty:"ft"}}{% endif %}
            </td>
        </tr>
        <tr>
        	<td class="col1Wide">Planting site type</td>
            <td>{{ tree.get_plot_type_display|default:"Missing" }}</td>
        </tr>
        <tr>
        	<td class="col1Wide">Powerlines overhead</td>
            <td>{{ tree.get_powerline_conflict_potential_display|default:"Missing" }}</td>
        </tr>
        <tr>
        	<td class="col1Wide">Sidewalk damage</td>
            <td>{{ tree.get_sidewalk_damage_display|default:"Missing" }}</td>
        </tr>

    </tbody>
</table>

<table class="box-table-a">
    <thead>
    	<tr>
            <th scope="col" colspan="4" id="status">Status</th>
        </tr>
    </thead>
    <tbody>
    	<tr>
        	<td class="col1Wide">Tree condition</td>
            <td>{{tree.get_condition_display|default:"Missing"}}</td>
        </tr>
        <tr>
        	<td class="col1Wide">Alerts</td>
            <td>{{tree.get_alert_count}} known</td>
            <td>{% if tree.get_alert_count > 0 %}<a href="#" id="tree_alerts" onclick="$('#alerts').toggle();return false;">Details</a>{% endif %}</td>
        </tr>
        <tr id="alerts" style="display:none;">
            <td colspan="5">
                <table class="box-table-b" colspan="5">
                    <tbody>
                    	<tr>
                        	<td class="col1Wide"><b>Alert</b></td>
                            <td><b>Reported by</b></td>
                        </tr>
                        {% for a in tree.treealert_set.all %}
                        <tr>
                        	<td class="col1Wide">{{ a.get_key_display }}</td>
                            <td>{{ a.reported_by }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
        	<td class="col1Wide">Actions</td>
            <td>{{tree.get_action_count}} known</td>
            <td>{% if tree.get_action_count > 1 %}<a href="#" id="tree_actions" onclick="$('#actions').toggle();return false;">Details</a>{% endif %}</td>
        </tr>
        <tr id="actions" style="display:none;">
            <td colspan="5">
                <table class="box-table-b" colspan="5">
                    <tbody>
                    	<tr>
                        	<td class="col1Wide"><b>Action taken</b></td>
                            <td><b>Reported by</b></td>
                        </tr>
                        {% for a in tree.treeaction_set.all %}
                        <tr>
                        	<td class="col1Wide">{{ a.get_key_display }}</td>
                            <td>{{ a.reported_by }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table class="box-table-a">
    <thead>
    	<tr>
        	<th scope="col" colspan="4">Affiliations</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        	<td class="col1Wide">Local projects</td>
            <td>{{tree.get_flag_count}} known</td>
            <td>{% if tree.get_flag_count > 0 %}<a href="#" id="tree_local" onclick="$('#local').toggle();return false;">Details</a>{% endif %}</td>
        </tr>
        <tr id="local" style="display:none;">
            <td colspan="5">
                <table class="box-table-b" colspan="5">
                    <tbody>
                    	<tr>
                        	<td class="col1Wide"><b>Local flag</b></td>
                            <td><b>Added by</b></td>
                        </tr>
                        {% for a in tree.treeflags_set.all %}
                        <tr>
                        	<td class="col1Wide">{{ a.get_key_display }}</td>
                            <td>{{ a.reported_by }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
        	<td class="col1Wide">Tree steward</td>
            <td>{{tree.steward_name|default:"Missing"}}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Sponsor</td>
            <td>{{tree.sponsor|default:"Missing"}}</td>
            <td></td>
        </tr>
        <tr>
        	<td class="col1Wide">Tree entered by</td>
            <td>{{tree.data_owner|default:"Missing"}}</td>
            <td></td>
        </tr>

    </tbody>
</table>

                    </div>
                    <!-- end t2_middle_panel  -->

                {% endblock %}

    
    
                {% block right_panel %}
                    <!-- start t2_right_panel  -->
                        <div class="aside">
                            <div id="edit_tree_map_wrap"><div id="edit_tree_map"></div></div>
                            <div id="alternate_tree_div"></div>
                            <div id="tree_streetview"></div>
                            <div id="tree_address"><div class="wrap"><h2>Nearby Address: *</h2></div>
                                <div id="tree_address_address">{{tree.geocoded_address}}</div>
                                <div>*Please note that this address is intended to be a general, not exact, reference to the location.</div>
                            </div>
                            <div id="tree_comments">
								<div class="wrap">
									<h2>Comments</h2>
								</div>
								<div class="comment_list">
                                                                {% get_threaded_comment_tree for tree as comment_tree %}
								{% for comment in comment_tree %}
									<div class="comment_item" style="margin-left: {{ comment.depth }}em">
										<div class="comment_head">
											{{ comment.user.username }} - {{ comment.submit_date|date:"P M j, Y"}}
											{% if user.is_authenticated %}<a href="{{ SITE_ROOT }}comments/flag/{{ comment.id }}/">Flag</a>{% endif %}
										</div>
										<div class="comment_body">
											{{ comment.comment }}
										</div>                                             
								                {% if user.is_authenticated %}
                                                                                {% get_threaded_comment_form as form %}
                                                                                <a id="c{{ comment.id }}" href="javascript:threaded.show_reply_form('{{ csrf_token }}', 'c{{ comment.id }}','{% get_comment_url tree comment %}','{{ comment.name }}')">Reply</a>
                                                                                {% endif %}
									</div>
								{% empty %}
									<div class="comment_item">No comments yet!</div>
								{% endfor %}
								</div>
                                                                
								{% if user.is_authenticated %}
									{% get_threaded_comment_form as form %}
									<form action="{% get_comment_url tree %}" method="post">{% csrf_token %}
										<input type="hidden" name="next" value="{{request.get_full_path}}" />
                                                                                {{ form.as_ul }}
										<div class="submit">
											<input type="submit" name="post" class="submit-post buttonSmall" value="Post" />
										</div>
									</form>
                                    <div id="comment_disclaimer">The comment system on UrbanForestMap does not serve as a way to report problems with a tree.</div>
								{% else %}
									<div>Please login to add comments</div>
								{% endif %}

							</div>
                        </div>
                        <!-- end t2_right_panel  -->
                {% endblock right_panel %}
                
                
                {% block content_body_bottom %}
                                </div>      <!-- end wrap -->
                            </div>
                        </div>
                        <!-- end contentbody -->
                {% endblock %}

                

                {% block left_panel %}
                <!-- start t2_left_panel  -->
                
         <div id="t2_top_left_panel">
            <ul id="userImage">
                <li>
                {% if tree.treephoto_set.count %}
                    <a href="{{ tree.treephoto_set.all|first|get:"photo"|get:"url" }}">
                        {% thumbnail tree.treephoto_set.all|first|get:"photo" "181x119" crop="center" as image %}
                        <img src="{{ image.url }}" alt="{{ tree.treephoto_set.all|first|get:"title" }}" title="{{ tree.treephoto_set.all|first|get:"title" }}" width="181" height="119" class="mainImage" />
                        {% endthumbnail %}
                    </a>
                    <ul id="additionalImages">
                    {% for item in tree.treephoto_set.all|slice:"1:4" %}
                            <li><a href="{{ item.photo.url }}">
                            {% thumbnail item.photo "55x36" crop="center" as image %}
                                <img alt="{{ item.title }}" title="{{ item.title }}" src="{{ image.url }}" alt="image description" width="55" height="36" />
                            {% endthumbnail %}
                            </a></li>
                    {% endfor %}
                    </ul>
                    <ul id="imageOptions">
                        <li id="first">{{ tree.treephoto_set.count }} photos. <a class="add" href="{% url treemap.views.tree_add_edit_photos tree.id %}">Add photos &raquo;</a></li>
                    </ul>
{% else %}
                    <img src="{{ STATIC_URL }}images/es/image14.jpg" alt="Tree" title="Add photos!" width="181" height="119" class="mainImage" />
                    <ul id="imageOptions">
                        <li id="first"><a href="{% url treemap.views.tree_add_edit_photos tree.id %}">Add photos &raquo;</a></li>
					</ul>
                {% endif %}
                </li>
            </ul>
            <ul id="message">
                <li id="title">Tools <div class="Info note"></div></li>
                <li>
                {% if user.is_authenticated %}
                    <ul class="optionItem">
                    <li>
                    {% if favorite %}
                        Favorited (<a href="#" id="favorite_{{ tree.id }}" class="favorite fav unfave">Unfavorite</a>)
                    {% else %}
                        <a href="#" id="favorite_{{ tree.id }}"
                         class="favorite fav fave">Add as favorite</a>
                        {% if tree.treefavorite_set.all.count %}
                            ({{tree.treefavorite_set.all.count}} others have)
                        {% endif %}
                    {% endif %}
                    </li>
                    </ul>
                {% else %}
                    <li>
                    <a href="#" class="fav" id="favorite_{{ tree.id }}" class="favorite">Add as favorite</a>
                    </li>
                    <!-- needed? -->
                    <!--<li class="editItem"><a href="#">Edit</a>
                    </li>
                    </ul>-->
                {% endif %}
                    <!-- todo -->
                    <!--
                    <ul class="optionItem">
                        <li><a href="#">Email to a friend</a></li>
                    </ul>
                    <ul class="optionItem">
                        <li><a href="#">Print</a></li>
                    </ul>
                    <ul class="optionItem">
                        <li><a href="#">Tweet this page</a></li>
                    </ul>
                    -->
                    
                </li>
                <li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Furbanforestmap.org/trees/{{tree.id}}/&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe></li>
                <li><a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this tree!" data-related="sactree" data-count="none">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
                <li><g:plusone size="medium" annotation="none"></g:plusone></li>
            </ul>

            <ul id="message">
                <li id="title">Latest update <div class="Info note"></div></li>
                <li class="optionItemLastContainer">
                    {% if recent.0 %}
                    <ul class="optionItemLast">
                        <li>Username</li>
                        <li class="editItem"><a href="{% url profiles.views.profile_detail recent.0.0 %}">{{recent.0.0}}</a></li>
                    </ul>
                    <ul class="optionItemLast">
                        <li>Date</li>
                        <li class="editItem">{{recent.0.1|date}}</li>
                    </ul>
                    {% else %}
                        <ul class="optionItemLast"><li>No edits yet!</li></ul>
                    {% endif %}
                </li>
            </ul>
            <ul id="message">
                <li id="title">Your turn</li>
                <li>Our database of trees comes from public records and citizen foresters like you. <a href="edit/">Update the information for this tree and help us grow!</a></li>
            </ul>
            <ul id="message">
            	<li id="title">Recent Contributors</li>
            	<li>
					<ul class="optionItem">
						{% for update in recent %}
							{% if forloop.counter0 < 5 %}
							<li>{{update.1|naturalday:"SHORT_DATE_FORMAT"}} - <a href="{% url profiles.views.profile_detail update.0 %}" target="_blank">{{ update.0 }}</a></li>
							{% endif %}
						{% empty %}
							<li>No edits yet!</li>
						{% endfor %}
					</ul>
            	</li>
            </ul>
        </div>
                
                
                 <!-- end t2_left_panel  -->

            {% endblock left_panel %}

                 


{% block endpage %}
	<script>
		tm.current_tree_geometry = [{{tree.geometry.x}}, {{tree.geometry.y}}];
		tm.currentTreeId = {{tree.id}};
		tm.init_tree_map(false); //not editable
		tm.add_favorite_handlers('/trees/favorites/create/', '/trees/favorites/delete/');
	</script>
{% endblock endpage %}

