{% extends "base.html" %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tablesorter/style.css" media="screen" />

    <script type="text/javascript">
		$(document).ready(function() {
			if (jQuery.urlParam('username')) {
				jQuery("#s_username").val(jQuery.urlParam('username'));
			}
			if (jQuery.urlParam('address')) {
				jQuery("#s_address").val(jQuery.urlParam('address'));
			}
			if (jQuery.urlParam('nhood')) {
				var nhood = decodeURI(jQuery.urlParam('nhood'));
				jQuery("#s_nhood").prepend(jQuery("<option value='" + nhood + "' selected>" + nhood + "</option>"));
			}
			jQuery("#search input").keydown(function(evt) {
				if (evt.keyCode == 13) {
					jQuery("#filter").click();
				}
			});

			jQuery("#filter").click(function(evt) {
				var params = {};
				var q = $.query.empty();
				if (jQuery("#s_username").val()) {params["username"] = jQuery("#s_username").val();}
				if (jQuery("#s_address").val()) {params["address"] = jQuery("#s_address").val();}
				if (jQuery("#s_nhood").val()) {params["nhood"] = jQuery("#s_nhood").val();}

				for (var key in params) {
					if (!params[key]) {
						continue;
					}
					var val = params[key];
					q = q.set(key, val);
				}
				var qstr = decodeURIComponent(q.toString()).replace(/\+/g, "%20")

				window.location = "/verify/" + qstr;

			});
			jQuery("#clear").click(function(evt) {
				window.location = "/verify/"
			});

			//jQuery("#species_list_table").tablesorter({sortList: [[3,1]], headers: {3:{sorter:'usLongDate'}}})
		});

    </script>
{% endblock %}

{% block body_id %}id="verify_edit"{% endblock %}

{% block content %}

{% autosort changes %}
{% autopaginate changes 20 %}
<div class="content admin">
	<div class="admin-header">
		<h2>Recent Edits</h2>
		{% if perms.auth.change_user %}
			{% include "treemap/admin_nav.html" %}
		{% endif %}
		<div class="clearBoth"></div>
	</div>
	<div id="search">
			<div id="search_username"><label for="s_username">Updated By: </label><input id="s_username" /></div>
			<div id="search_address"><label for="s_address">Address: </label><input id="s_address" /></div>
			<div id="nbhood"><label for="s_nhood">Neighborhood: </label><select id="s_nhood"><option value=""></option></select></div>
			<div class="button_group"><button id="clear" >Clear</button> <button id="filter" >Filter</button></div>

			<div id="legend" style="position:relative;width:auto;border:1px solid #ccc;padding:6px 10px;float:right;">
				+25 points - Adding a tree  <br/>
				+5 points - Editing a tree <br/>
				+5 points - Receiving a thumbs-up on your edit <br/>
				+1 point - Receiving a neutral reaction to your edit <br/>
				-5 points - Receiving a thumbs-down on your edit <br/>
				@1,000 points - Users achieve advanced user status <br/>
				Users cannot gain or lose more than 100 points per day
			</div>
	</div>
	<div id='instructions'><b>Instructions:</b>
		Click the thumbs-up icon to respond positively to a user's edit. Click the thumbs-down icon
		to respond negatively to a user's edit. If an edit is minor, use the neutral response
		(the circle icon) to respond to the edit. Responding to an edit cannot be undone so please
		consider the change carefully. Responding negatively to an edit does not remove the edit
		from the record. You must edit the record directly to return it to its original state.
		Once an advanced user has responded to a recent edit, that edit will no longer be visible
		on this page. More information is available in the <a href="{{ SITE_ROOT }}faq/#reputation">FAQ</a>.
	</div>
	<div class="clearBoth"></div>
	{% paginate %}
	<div id="species_list">
		<table id="species_list_table">
			<thead>
				<tr>
					<th>{% anchor species Tree %}</th>
					<th>{% anchor address_street Address %}</th>
					<th>{% anchor last_updated_by 'Updated By' %}</th>
					<th>{% anchor last_updated Date %}</th>
					<th>Change</th>
					<th>Rep</th>
				</tr>
			</thead>
			<tbody>
				{% for c in changes %}
				<tr id="{{c.type}}_{{c.change_id}}">
					<td><i>{{c.species}}</i><br><a href="{% url treemap.views.trees c.id %}" target="_blank">View Record</a></td>
					<td>{{c.address_street}}</td>
					<td><a href="{% url profiles.views.profile_detail c.last_updated_by %}" target="_blank">{{c.last_updated_by}}</a></td>
					<td>{{c.last_updated|date:"M d, Y"}}</td>
					{% if c.change_description.key %}
						<td><b>{{c.change_description.key}}</b> - {{c.change_description.value}}<br>
						{% if c.change_description.old_value %}
							Old Value: {{c.change_description.old_value}}
						{% endif %}
						</td>
					{% else %}
						{% if c.change_description.items %}
							<td>
							{% for key, value in c.change_description.items %}
								<b>{{key}}:</b> {{value}}<br>
							{% endfor %}
							</td>
						{% else %}
							<td>{{c.change_description}}</td>
						{% endif %}
					{% endif %}
					<td>
						<a href="#" onclick="tm.updateReputation('{{c.type}}', {{c.change_id}}, 'down');return false;"><img src="{{ STATIC_URL }}images/es/ico-thumbs-down.gif" width="17" height="17" alt="Down"></a> 
						<a href="#" onclick="tm.updateReputation('{{c.type}}', {{c.change_id}}, 'neutral');return false;"><img src="{{ STATIC_URL }}images/es/ico-neutral.gif" width="17" height="17" alt="Neutral"></a>
						<a href="#" onclick="tm.updateReputation('{{c.type}}', {{c.change_id}}, 'up');return false;"><img src="{{ STATIC_URL }}images/es/ico-thumbs-up.gif" width="17" height="17" alt="Up"></a>
						
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% paginate %}
</div>


{% endblock %}

