<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Philly Tree Map{% block title %}{% endblock %}</title>

        <script type="text/javascript">
	  var tm_static = "{{ SITE_ROOT }}";
          var tm_urls = {
              eactive_key : '898cfa06a63e5ad7a427a30896cd95c2',
              tc_url : '{{ TILECACHE_URL }}',
              geo_url : '{{ GEOSERVER_URL }}',
              geo_layer: '{{ GEOSERVER_GEO_LAYER }}',
              geo_style: '{{ GEOSERVER_GEO_STYLE }}',
              tc_layer_name: '{{ TILECACHE_LAYER }}',
              //tc_url : 'http://sajara01:8080/cgi-bin/mapserv.exe?map=E:\\Projects\\UrbanForestMap\\mapserver\\trees.map',
              qs_tile_url : '/qs_tiles/1.0.0/foo/' // layername is pulled from request.GET, can remove 'foo' eventually
          };

        </script>

        {% block tophead %}
        {% endblock %}
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/ui/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/ui/js/jquery-ui-1.8.18.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jeditable.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.query-2.1.7.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.address-1.4.min.js"></script>

        
	    {% load compressed %}
	    {% compressed_js 'base' %}


		<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
		
        <link rel="stylesheet" href="{{ STATIC_URL }}css/treemap.css" type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}jquery/ui/css/ui-lightness/jquery-ui-1.8.18.custom.css" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.autocomplete.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm.css" media="all" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" /> 
        <script type="text/javascript">
            tm.initial_location_string = "Address, City, State";
            tm.initial_species_string =  "All trees";
        </script>
        <!--<link type="text/css" href="http://jqueryui.com/latest/themes/base/jquery.ui.all.css" rel="stylesheet" />-->
      <!--[if IE]>
                <link rel="stylesheet" href="{{ STATIC_URL }}css/ptm.ie.css" type="text/css"/>
              <![endif]-->
      
      <!--[if lte IE 8]>
                <link rel="stylesheet" href="{{ STATIC_URL }}css/ptm.ie8.css" type="text/css"/>
              <![endif]-->

        {% block js_ready %}
        <script type="text/javascript">
            jQuery().ready(tm.baseTemplatePageLoad);
        </script>
        {% endblock %}

        {% block extrahead %}
        {% endblock %}
		<script type="text/javascript">
			var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-23175691-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
		</script>
</head>

<body {% block body_load %}{% endblock %} {% block body_id %}{% endblock %} class="{%block body_class%}base_body{%endblock %}">
    <div id="wrapper">

<!-- start: header -->

		{% include "header.html" %}






            <!-- end search-box -->
            {% block content %}
                main content goes here
            {% endblock content %}
            {% block callout %}
                <div id="callout">
                    {% block callout_content %}

                    {% endblock callout_content %}
                </div>
            <!--end callout-->
            {% endblock callout %}

            {% block sub_footer %}

             {% endblock %}



			{% include "footer.html" %}


        </div>




{% block endpage %}

{% endblock endpage %}

</body>
</html>
