{% extends "nbase.html" %}

{% block body_load %} onunload="GUnload();" {% endblock %}

{% block tophead %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="/static/maps/gmap.js"></script>
<script type="text/javascript" src="/static/maps/map_style.js"></script>
<LINK REL=StyleSheet HREF="/static/css/map.css" TYPE="text/css" >
{% endblock %}
{% block extrahead %}
<script type="text/javascript">
    jQuery().ready(function() {
        tm_urls.tc_url = '{{ TC_URL }}'
        {% block extra_onready %}
        {% endblock %}
     });
</script>
{% endblock %}

{% block content %}
    
        <div class="content">
         <div id="displayResults" style="display:none;"><img src="/static/images/v2/indicator_lg2.gif" width="80" height="80" /><p>Loading...</p></div>
        	<div id="t1_top_content">
	            {% block top_content %}
                    {% block heading %}
                    {% endblock heading %}
	                <div id="t1_top_left_panel">
	                    {% block top_left_panel %}
	                    {% endblock top_left_panel %}
	                </div>
	                
	                <div id="t1_top_right_panel">
	                    {% block top_right_panel %}
	                    {% endblock top_right_panel %}
	                </div>
	            {% endblock top_content %}
			</div>
		</div>
		
        <div class="content">
            <div id="t1_bottom_content">
                {% block bottom_content %}
                    <div class="twocolumns"> 
                        <div id="t1_bottom_left_panel">
                            {% block bottom_left_panel %}
                            {% endblock bottom_left_panel %}
                        </div>
                        
                        <div id="t1_bottom_right_panel">
                            {% block bottom_right_panel %}
                            {% endblock bottom_right_panel %}
                        </div>
                    </div>

                {% endblock bottom_content %}    
            </div>
        </div>
    
    
{% endblock %}


