{% extends "base.html" %}

{% load thumbnail %} 


{% block body_load %} {% endblock %}

{% block tophead %}

{% endblock %}
{% block extrahead %}
<script type="text/javascript">
    jQuery().ready(function() {
        tm_urls.tc_url = '{{ TC_URL }}'
        tm.initial_location_string = "Address, City, State";
        tm.initial_species_string = "All trees";
        {% comment %}
        //tm.neighborhoods = {{ neighborhoods|safe }};
        //tm.districts = {{ districts|safe }};
        {% endcomment %}
        {% block extra_onready %}
        {% endblock %}
     });
</script>
{% endblock %}

{% block content %}
    
        <div id="home">
 
        	<div id="t4_top_content">
          

            
          <div id="home_content">  
            <h1>Mapping Philly's trees and growing a green future together</h1>
            
            <h2>PhillyTreeMap is a web-based map database of trees in the greater <a class="highlight" href="http://www.plantonemillion.org" target="_blank">13-county, 3-state Philadelphia region.</a></h2>
            
            <div id="home_site_links">
              <a href="{% url treemap.views.result_map %}" id="home_explore">Explore Trees</a>
              <a href="{% url treemap.views.tree_add %}" id="home_add">Add a Tree</a>
			  <a href="{{ SITE_ROOT }}faq/" id="home_faq">How to use PhillyTreeMap</a>
            </div>
            
            <div id="home_recent_additions">
              <h3>Recent Additions</h3>
              {% for photo in feeds.recent_photos %}
                <a href="{% url treemap_tree_detail photo.tree.id %}">
                {% thumbnail photo.photo "60x65" crop="center" as image %}
                <img src="{{ image.url }}">
                {% endthumbnail %}
                </a>
              {% endfor %}       
              
            </div>      

             <div id="home_promo">
                <a href="http://www.plantonemillion.org" target="_blank" class="home_plantonemil_logo"></a>
                <p>PhillyTreeMap is proud to support Plant One Million, an ambitious multi-state tree-planting campaign, encompassing 13 counties in southeastern Pennsylvania and parts of New Jersey and Delaware.</p>
                <p><a href="http://www.plantonemillion.org" target="_blank" class="highlight">Learn More</a>
                </p>
              </div>             
                
          </div>
          
              <div id="home_callouts">
                  <div id="home_tree_stats" class="home_container">
                    <h3>Most Common Trees</h3>
                      {% for trees in feeds.species %}
                      <div class="tree_stat_group">
                        <a class="tree_link" href="{% url treemap.views.result_map %}#?species={{trees.id}}">{{trees}}&nbsp;&raquo;</a>
                        <a class="tree_stat" href="{% url treemap.views.result_map %}#?species={{trees.id}}">{{trees.tree_count}} </a>
                      </div>
                      {% endfor %}
                  </div>    
                  
                  <div id="home_tree_hoods" class="home_container">
                    <h3>Active Neighborhoods</h3>
                      <div id="hood_list">
                    {% for nhood in feeds.active_nhoods %}
                        <a class="tree_link" href="{% url treemap.views.result_map %}#/?location={{nhood}}">{{nhood}}&nbsp;&raquo;</a>
                    {% endfor %}     
                    </div>
                  </div>
             </div>

          <div class="clear_both"></div>
			</div>
		</div>
		

            <div id="t4_bottom_content">
                {% block bottom_content %}
                    <div class="twocolumns"> 
                        <div id="t4_bottom_left_panel">
                            {% block bottom_left_panel %}
                            {% endblock bottom_left_panel %}
                        </div>
                        
                        <div id="t4_bottom_right_panel">
                            {% block bottom_right_panel %}
                            {% endblock bottom_right_panel %}
                        </div>
                    </div>

                {% endblock bottom_content %}    
            </div>

    
    
{% endblock %}


