<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Philly Tree Map - Under Construction</title>

        <script type="text/javascript" src="{{ STATIC_URL }}all_misc.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jeditable.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.query-2.1.7.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}treemap.js"></script>
        
        <script type="text/javascript" src="http://use.typekit.com/oab6qgt.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/treemap.css" type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}jquery/ui/css/ui-lightness/jquery-ui-1.8rc3.custom.css" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.autocomplete.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm.css" media="all" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" /> 

        <!--<link type="text/css" href="http://jqueryui.com/latest/themes/base/jquery.ui.all.css" rel="stylesheet" />-->
      <!--[if IE]>
                <link rel="stylesheet" href="{{ STATIC_URL }}css/ptm.ie.css" type="text/css"/>
              <![endif]-->
      
      <!--[if lte IE 8]>
                <link rel="stylesheet" href="{{ STATIC_URL }}css/ptm.ie8.css" type="text/css"/>
              <![endif]-->

       
</head>

<body {% block body_load %}{% endblock %} {% block body_id %}{% endblock %} class="{%block body_class%}base_body{%endblock %}">
    <div id="wrapper">

<!-- start: header -->

		<div id="headerNavWrap">
			<div id="headerNavContent">				
				<div id="loginlogout"></div>
			</div>
		</div>



	<!-- end: header -->

	<!-- start: search box -->

        <div id="headerWrap">
		    <div id="headerContainer">
			    <h1 id="logo"><a href="#">Philly Tree Map</a></h1>

		        <div id="searchBox"></div>
		        <div class="clearBoth"></div>
		    </div>
	    </div>


            <!-- end search-box -->
            {% block content %}
                <div class="content">

                <h2>This site is temporarially down for maintenance. Please come back and visit us soon!</h2>

                </div>
            {% endblock content %}



                 <!-- Start Global footer -->
            <div id="footer">
                <div class="footer-holder">
                    <div class="partners">
						<p>PhillyTreeMap is a collaboration of government, nonprofits, businesses and you <br/> to build an inventory of Philadelphia's urban forest. Our partners:</p>
                        <ul>
							<li id="logo-ptm"><a href="http://www.urbanforestmap.org/"><img src="{{ STATIC_URL }}images/ptm/logo-ufm.png" alt="Code contributed by Urban Forest Map" /></a></li>
                            <li><a href="http://www.pennsylvaniahorticulturalsociety.org/"><img src="{{ STATIC_URL }}images/ptm/logo-phs.png" alt="The Pennsylvania Horticultural Society" /></a></li>
                            <li><a href="http://www.phila.gov/recreation/"><img src="{{ STATIC_URL }}images/ptm/logo-city-phl.png" alt="The City of Philadelphia" /></a></li>
                            <li><a href="http://www.lowermerion.org/"><img src="{{ STATIC_URL }}images/ptm/logo-lower-marion.png" alt="The City of Lower Merion" /></a></li>
                            <li><a href="http://www.azavea.com/"><img src="{{ STATIC_URL }}images/ptm/logo-azavea.png" alt="Azavea" /></a></li>
                            <li><a href="http://www.dvrpc.org/"><img src="{{ STATIC_URL }}images/ptm/logo-dvrpc.png" alt="The Delaware County Regional Planning Commission" /></a></li>
						</ul>
                    </div>
                </div>
                <!-- <br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>. -->
            </div>


        </div>




{% block endpage %}

{% endblock endpage %}

</body>
</html>
